﻿@model IEnumerable<Consortium.Areas.Admin.ViewModels.UserTypeViewModel>

@if ("table".Equals(ViewBag.Option))
{
<table id="table" class="table table-striped table-bordered table-hover table-full-width">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var userType in Model)
        {
            <tr>
                <td>@userType.Code</td>
                <td>@userType.Name</td>
                <td>@userType.Description</td>
                <td>@userType.Status</td>
                <td>
                    <a href="javascript:;" onclick="$.fn.userTypeJS('loadBy', this, @userType.Id)"><i class="fa fa-edit"></i> Edit</a>
                    &nbsp;
                    <a href="javascript:;" onclick="$.fn.userTypeJS('confirmDelete', this, @userType.Id)"><i class="fa fa-trash-o"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else if ("tbody-content".Equals(ViewBag.Option))
{
    foreach (var userType in Model)
    {
        <tr>
            <td>@userType.Code</td>
            <td>@userType.Name</td>
            <td>@userType.Description</td>
            <td>@userType.Status</td>
            <td>
                <a href="javascript:;" onclick="$.fn.userTypeJS('loadBy', this, @userType.Id)"><i class="fa fa-edit"></i> Edit</a>
                &nbsp;
                <a href="javascript:;" onclick="$.fn.userTypeJS('confirmDelete', this, @userType.Id)"><i class="fa fa-trash-o"></i> Eliminar</a>
            </td>
        </tr>
    }
}

<!-- end: PAGE CONTENT-->
