﻿@model Consortium.Areas.Admin.ViewModels.UserTypeViewModel

@if ("form-modal".Equals(ViewBag.Option))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">
                    Code
                </label>
                <span class="input-icon">
                    @Html.TextBoxFor(m => m.Code, new { id = "Code", placeholder = "Code", @class="form-control" })
                    <i class="clip-checkmark"></i>
                </span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    Name
                </label>
                <span class="input-icon">
                    @Html.TextBoxFor(m => m.Name, new { id = "Name", placeholder = "Name", @class = "form-control" })
                    <i class="clip-checkmark"></i>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">
                    Description
                </label>
                <span class="input-icon">
                    @Html.TextBoxFor(m => m.Description, new { id = "Description", placeholder = "Description", @class = "form-control" })
                    <i class="clip-checkmark"></i>
                </span>
            </div>

            <div class="form-group">
                <label class="control-label">
                    Status
                </label>

                @{ Html.RenderAction("Statuses", "_RenderAction", new { id = Model.StatusId, option = "select" }); }
                @*@Html.DropDownListFor(m => m.StatusId, Model.Statuses, new { @class = "form-control" })*@
            
            </div>

        </div>
    </div>
}
