﻿@model IEnumerable<Consortium.Areas.Admin.ViewModels.UserTypeViewModel>
@{
    ViewBag.Title = "Index";
}

@section Breadcrumbs {
    <li class="active">
        User Types
    </li>
}

@section PageHeader {
    User Types <small>user types list</small>
}

@section Styles {
    <link href="@Url.Content("~/Content/assets/plugins/select2/select2.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/plugins/DataTables/media/css/DT_bootstrap.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/assets/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/plugins/bootstrap-modal/css/bootstrap-modal.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="@Url.Content("~/Content/assets/plugins/bootbox/bootbox.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/plugins/jquery-mockjax/jquery.mockjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/plugins/select2/select2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/esaw.userType.js")"></script>

    <script src="@Url.Content("~/Content/assets/plugins/bootstrap-modal/js/bootstrap-modal.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js")"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
}

@section ScriptsImpl {

    <script type="text/javascript">
        var _ESAW = {
            userTypeForm: new ESAWForms.basic("#frmUserType", "@Url.Action("Detail", "UserType")",
                new ESAWMessengers.basic("#wrapper-message"), new ESAWAjaxLoader.basic("#modal-save", "ajax-loader")),
            userTypeFormValidations: {
                rules: {
                    "Code": { required: true },
                    "Name": { required: true }
                },
                messages: {
                    "Code": { required: "Code is a required field" },
                    "Name": { required: "Name is a required field" }
                }
            },


            deleteUserTypeForm: new ESAWForms.delete('@Url.Action("Delete", "UserType")',
                new ESAWMessengers.basic('#wrapper-message'), new ESAWAjaxLoader.basic('#modal-delete', 'ajax-loader')),

            loadUserTypesTable: new ESAWForms.load('#wrapper-user-types > #table > tbody', '@Url.Action("UserTypesList", "_RenderAction", new { option = "tbody-content" })',
                new ESAWMessengers.basic('#wrapper-message'), new ESAWAjaxLoader.withMessage('#wrapper-panel-user-types', 'ajax-loader-with-message', '<img src="/Content/assets/images/loading.gif" /> Loading...')),

            loadUserTypeForm: new ESAWForms.load('#modal-save #frmUserType', '@Url.Action("UserType", "_RenderAction", new { id = "_id_", option = "form-modal" })',
                new ESAWMessengers.basic('#modal-save #wrapper-message'), new ESAWAjaxLoader.basic('#modal-save', 'ajax-loader')),

            userTypesTable: new ESAWPlugins.dataTable("#table", {}),

            deleteModal: new ESAWModals.confirm('#modal-delete'),
            saveModal: new ESAWModals.confirmWithDynamicContent('#modal-save', '#frmUserType')
        };

    </script>

    <script type="text/javascript">
        $(function () {
            Main.init();
        });
    </script>
}

<!-- start: PAGE CONTENT -->
<div class="row">

    <div class="col-md-12">
        <div id="wrapper-message"></div>
    </div>

    <div class="col-md-12 space20">
        <a href="javascript:;" onclick="$.fn.userTypeJS('loadBy', this, 0)"><i class="fa fa-plus"></i> Add</a>
    </div>

    <div class="col-md-12">
        <!-- start: DYNAMIC TABLE PANEL -->
        <div id="wrapper-panel-user-types" class="panel panel-default" style="position:relative;">
            <div class="panel-heading">
                <i class="fa fa-external-link-square"></i>
                Users List
                <div class="panel-tools">
                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#"> </a>
                    @*<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal"> <i class="fa fa-wrench"></i> </a>*@
                    <a class="btn btn-xs btn-link panel-refresh" href="#" onclick="$.fn.userTypeJS('loadList', this)"> <i class="fa fa-refresh"></i> </a>
                    <a class="btn btn-xs btn-link panel-expand" href="#"> <i class="fa fa-resize-full"></i> </a>
                    @*<a class="btn btn-xs btn-link panel-close" href="#"> <i class="fa fa-times"></i> </a>*@
                </div>
            </div>
            <div id="wrapper-user-types" class="panel-body">

                @{ Html.RenderAction("UserTypesList", "_RenderAction", new { option = "table" }); }

            </div>
        </div>
        <!-- end: DYNAMIC TABLE PANEL -->
    </div>
</div>
<!-- end: PAGE CONTENT-->

<div id="modal-delete" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title">Delete User Type</h4>
    </div>
    <div class="modal-body">
        <p>
            Are you sure, do you want to delete user type?
        </p>
    </div>
    <div class="modal-footer">
        <button id="btnNo" type="button" data-dismiss="modal" class="btn btn-default">
            No
        </button>
        <button id="btnYes" type="button" class="btn btn-primary">
            Yes
        </button>
    </div>
</div>

<div id="modal-save" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" style="display: none;">

    <div class="col-md-12">
        <div id="wrapper-message"></div>
    </div>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title">Save User Type</h4>
    </div>
    <div class="modal-body">

        <form id="frmUserType" action="@Url.Action("Save", "UserType")">

        </form>

    </div>
    <div class="modal-footer">
        <button id="btnSave" onclick="$.fn.userTypeJS('saveUserType', this)" type="button" class="btn btn-primary">
            Save
        </button>
        <button id="btnClose" type="button" data-dismiss="modal" class="btn btn-default">
            Close
        </button>
    </div>
</div>
