﻿
@{
    ViewBag.Title = "OurStaff";
    ViewBag.BodyId = "staff_page";
}
@*<h2>OurStaff</h2>*@

@section Header {
    @Html.Partial("~/Views/Shared/_PartialHeader2.cshtml")
}

<!-- start breadcrumb -->
<section class="breadcrumb_main_area margin-bottom-80">
    <div class="container-fluid">
        <div class="row">
            <div class="breadcrumb_main nice_title">
                <h2>our Staff</h2>
                <!-- special offer start -->
                <div class="special_offer_main">
                    <div class="container">
                        <div class="special_offer_sub">
                            <img src="@Url.Content("~/Content/img/special-offer-yellow-main.png")" alt="imf">
                        </div>
                    </div>
                </div>
                <!-- end offer start -->
            </div>
        </div>
    </div>
</section>
<!-- end breadcrunb -->
<!-- start our room facilities -->
<section class="our_room_facilities_area">
    <div class="container">
        <div class="our_room_facilities margin-bottom-150">
            <div class="facilities_main_part">
                <div class="row">
                    <div class="hotel_stuff">
                        <div class="col-lg-12 col-md-12">
                            <div class="section_title margin-bottom-40">
                                <h5>Our Hotel Staff</h5>
                            </div>
                        </div>
                        <div class="section_content">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="single_staff margin-bottom-30">
                                    <figure class="uk-overlay uk-overlay-hover">
                                        <img src="@Url.Content("~/Content/img/about-us-staff-one.jpg")" alt="img">
                                        <div class="uk-overlay-panel uk-overlay-background single_staff_details">
                                            <h6>Dohn Doe</h6>
                                            <span>Hotel Manager</span>
                                            <p>
                                                Semper ac dolor vitae msan. Cras interdum hendreritnia Phasellus accumsan rna.
                                            </p>
                                            <div class="social_icons clearfix">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="single_staff margin-bottom-30">
                                    <figure class="uk-overlay uk-overlay-hover">
                                        <img src="@Url.Content("~/Content/img/about-us-staff-two.jpg")" alt="img">
                                        <div class="uk-overlay-panel uk-overlay-background single_staff_details">
                                            <h6>Dohn Doe</h6>
                                            <span>Hotel Manager</span>
                                            <p>
                                                Semper ac dolor vitae msan. Cras interdum hendreritnia Phasellus accumsan rna.
                                            </p>
                                            <div class="social_icons clearfix">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="single_staff margin-bottom-30">
                                    <figure class="uk-overlay uk-overlay-hover">
                                        <img src="@Url.Content("~/Content/img/about-us-staff-three.jpg")" alt="img">
                                        <div class="uk-overlay-panel uk-overlay-background single_staff_details">
                                            <h6>Dohn Doe</h6>
                                            <span>Hotel Manager</span>
                                            <p>
                                                Semper ac dolor vitae msan. Cras interdum hendreritnia Phasellus accumsan rna.
                                            </p>
                                            <div class="social_icons clearfix">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="single_staff margin-bottom-30">
                                    <figure class="uk-overlay uk-overlay-hover">
                                        <img src="@Url.Content("~/Content/img/about-us-staff-four.jpg")" alt="img">
                                        <div class="uk-overlay-panel uk-overlay-background single_staff_details">
                                            <h6>Dohn Doe</h6>
                                            <span>Hotel Manager</span>
                                            <p>
                                                Semper ac dolor vitae msan. Cras interdum hendreritnia Phasellus accumsan rna.
                                            </p>
                                            <div class="social_icons clearfix">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="single_staff">
                                    <figure class="uk-overlay uk-overlay-hover">
                                        <img src="@Url.Content("~/Content/img/about-us-staff-five.jpg")" alt="img">
                                        <div class="uk-overlay-panel uk-overlay-background single_staff_details">
                                            <h6>Dohn Doe</h6>
                                            <span>Hotel Manager</span>
                                            <p>
                                                Semper ac dolor vitae msan. Cras interdum hendreritnia Phasellus accumsan rna.
                                            </p>
                                            <div class="social_icons clearfix">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="single_staff">
                                    <figure class="uk-overlay uk-overlay-hover">
                                        <img src="@Url.Content("~/Content/img/about-us-staff-six.jpg")" alt="img">
                                        <div class="uk-overlay-panel uk-overlay-background single_staff_details">
                                            <h6>Dohn Doe</h6>
                                            <span>Hotel Manager</span>
                                            <p>
                                                Semper ac dolor vitae msan. Cras interdum hendreritnia Phasellus accumsan rna.
                                            </p>
                                            <div class="social_icons clearfix">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="single_staff">
                                    <figure class="uk-overlay uk-overlay-hover">
                                        <img src="@Url.Content("~/Content/img/about-us-staff-seven.jpg")" alt="img">
                                        <div class="uk-overlay-panel uk-overlay-background single_staff_details">
                                            <h6>Dohn Doe</h6>
                                            <span>Hotel Manager</span>
                                            <p>
                                                Semper ac dolor vitae msan. Cras interdum hendreritnia Phasellus accumsan rna.
                                            </p>
                                            <div class="social_icons clearfix">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="single_staff">
                                    <figure class="uk-overlay uk-overlay-hover">
                                        <img src="@Url.Content("~/Content/img/about-us-staff-eight.jpg")" alt="img">
                                        <div class="uk-overlay-panel uk-overlay-background single_staff_details">
                                            <h6>Dohn Doe</h6>
                                            <span>Hotel Manager</span>
                                            <p>
                                                Semper ac dolor vitae msan. Cras interdum hendreritnia Phasellus accumsan rna.
                                            </p>
                                            <div class="social_icons clearfix">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end our room facilities -->