﻿@{
    ViewBag.Title = "RoomDetail";
    ViewBag.BodyId = "room_detail_page";
}
@*<h2>RoomDetail</h2>*@

@section Header {
    @Html.Partial("~/Views/Shared/_PartialHeader2.cshtml")
}

<!-- start breadcrumb -->
<section class="breadcrumb_main_area margin-bottom-80">
    <div class="container-fluid">
        <div class="row">
            <div class="breadcrumb_main nice_title">
                <h2>Deluxe Room</h2>
                <!-- special offer start -->
                <div class="special_offer_main">
                    <div class="container">
                        <div class="special_offer_sub">
                            <img src="@Url.Content("~/Content/img/special-offer-yellow-main.png")" alt="imf">
                        </div>
                    </div>
                </div>
                <!-- end offer start -->
            </div>
        </div>
    </div>
</section>
<!-- end breadcrunb -->

<div class="room_detail_main margin-bottom-55">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="deluxe_room_detail">
                    <div class="section_title content-left margin-bottom-5">
                        <h5>Deluxe Room Detail <span class="price floatright">$ 130</span> <br> <span class="day floatright">/ night</span></h5>
                    </div>
                    <div class="section_content">
                        <p>Checkout the latest deal</p>
                        <div class="showcase">
                            <div class="section_description">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="clearfix" style="">
                                            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                                <!-- <ul id="vertical" class="gallery list-unstyled"> -->
                                                <li data-thumb="@Url.Content("~/Content/img/lightslider-img/cS-52.jpg")">
                                                    <img alt="slider" src="@Url.Content("~/Content/img/lightslider-img/cS-52.jpg")" />
                                                </li>
                                                <li data-thumb="@Url.Content("~/Content/img/lightslider-img/cS-51.jpg")">
                                                    <img alt="slider" src="@Url.Content("~/Content/img/lightslider-img/cS-51.jpg")" />
                                                </li>
                                                <li data-thumb="@Url.Content("~/Content/img/lightslider-img/cS-50.jpg")">
                                                    <img alt="slider" src="@Url.Content("~/Content/img/lightslider-img/cS-50.jpg")" />
                                                </li>
                                                <li data-thumb="@Url.Content("~/Content/img/lightslider-img/cS-49.jpg")">
                                                    <img alt="slider" src="@Url.Content("~/Content/img/lightslider-img/cS-49.jpg")" />
                                                </li>
                                                <li data-thumb="@Url.Content("~/Content/img/lightslider-img/cS-48.jpg")">
                                                    <img alt="slider" src="@Url.Content("~/Content/img/lightslider-img/cS-48.jpg")" />
                                                </li>
                                                <li data-thumb="@Url.Content("~/Content/img/lightslider-img/cS-47.jpg")">
                                                    <img alt="slider" src="@Url.Content("~/Content/img/lightslider-img/cS-47.jpg")" />
                                                </li>
                                                <li data-thumb="@Url.Content("~/Content/img/lightslider-img/cS-46.jpg")">
                                                    <img alt="slider" src="@Url.Content("~/Content/img/lightslider-img/cS-46.jpg")" />
                                                </li>
                                                <li data-thumb="@Url.Content("~/Content/img/lightslider-img/cS-45.jpg")">
                                                    <img alt="slider" src="@Url.Content("~/Content/img/lightslider-img/cS-45.jpg")" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="facilities_name clearfix margin-bottom-40 margin-top-65">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="section_title margin-bottom-35 padding-bottom-25 border-bottom-whitesmoke">
                                                <h5>Room Fecilities</h5>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 no-padding-left">
                                            <ul class="single_facilities_name clearul">
                                                <li>
                                                    <img src="@Url.Content("~/Content/img/home-facilities-icon-one.png")" alt="">
                                                    <p>Breakfast</p>
                                                </li>
                                                <li>
                                                    <img src="@Url.Content("~/Content/img/home-facilities-icon-four.png")" alt="">
                                                    <p>Room service</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                            <ul class="single_facilities_name clearul">
                                                <li>
                                                    <img src="@Url.Content("~/Content/img/home-facilities-icon-two.png")" alt="">
                                                    <p>Air conditioning</p>
                                                </li>
                                                <li>
                                                    <img src="@Url.Content("~/Content/img/home-facilities-icon-ten.png")" alt="">
                                                    <p>GYM fecility</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                            <ul class="single_facilities_name clearul">
                                                <li>
                                                    <img src="@Url.Content("~/Content/img/home-facilities-icon-eight.png")" alt="">
                                                    <p>Free Parking</p>
                                                </li>
                                                <li>
                                                    <img src="@Url.Content("~/Content/img/home-facilities-icon-five.png")" alt="">
                                                    <p>TV LCD</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                            <ul class="single_facilities_name clearul">
                                                <li>
                                                    <img src="@Url.Content("~/Content/img/home-facilities-icon-three.png")" alt="">
                                                    <p>Pet allowed</p>
                                                </li>
                                                <li>
                                                    <img src="@Url.Content("~/Content/img/home-facilities-icon-twelve.png")" alt="">
                                                    <p>Wi-fi service</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="room_facilities_des padding-top-50 padding-bottom-50 border-bottom-whitesmoke border-top-whitesmoke">
                                            <p>
                                                Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. Cras ac justo et augue suscipit euismod vel eget lectus. Proin vehicula nunc arcu, pulvinar accumsan nulla porta vel. Vivamus malesuada vitae sem ac pellentesque.
                                            </p>
                                            <p>
                                                Cras ac justo et augue suscipit euismod vel eget lectus. Proin vehicula nunc arcu, pulvinar accumsan nulla porta vel. Vivamus malesuada vitae sem ac pellentesque.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- start welcome section -->
                                    <section class="welcome_area">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="welcome">
                                                <div class="section_title content-left margin-top-50 margin-bottom-30">
                                                    <h5>You may Also like</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <div class="single_room_wrapper clearfix">
                                                            <div class="room_wrapper">
                                                                <div class="room_media">
                                                                    <a href="@Url.Action("RoomDetails", "Home")"><img src="@Url.Content("~/Content/img/room-image-ten.jpg")" alt=""></a>
                                                                </div>
                                                                <div class="room_title clearfix">
                                                                    <div class="left_room_title floatleft">
                                                                        <h6>Deluxe Room</h6>
                                                                        <p>$180/ <span>night</span></p>
                                                                    </div>
                                                                    <div class="left_room_title floatright">
                                                                        <a href="@Url.Action("Booking", "Home")" class="btn">Book</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <div class="single_room_wrapper clearfix">
                                                            <div class="room_wrapper">
                                                                <div class="room_media">
                                                                    <a href="@Url.Action("RoomDetails", "Home")"><img src="@Url.Content("~/Content/img/room-image-twelve.jpg")" alt=""></a>
                                                                </div>
                                                                <div class="room_title clearfix">
                                                                    <div class="left_room_title floatleft">
                                                                        <h6>Deluxe Room</h6>
                                                                        <p>$180/ <span>night</span></p>
                                                                    </div>
                                                                    <div class="left_room_title floatright">
                                                                        <a href="@Url.Action("Booking", "Home")" class="btn">Book</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <div class="single_room_wrapper clearfix">
                                                            <div class="room_wrapper">
                                                                <div class="room_media">
                                                                    <a href="@Url.Action("RoomDetails", "Home")"><img src="@Url.Content("~/Content/img/room-image-thirteen.jpg")" alt=""></a>
                                                                </div>
                                                                <div class="room_title clearfix">
                                                                    <div class="left_room_title floatleft">
                                                                        <h6>Deluxe Room</h6>
                                                                        <p>$180/ <span>night</span></p>
                                                                    </div>
                                                                    <div class="left_room_title floatright">
                                                                        <a href="@Url.Action("Booking", "Home")" class="btn">Book</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end welcome section -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <!-- start hotel booking -->
                <div class="col-lg-12 col-md-12 col-sm-4">
                    <div class="hotel_booking_area clearfix">
                        <div class="hotel_booking">
                            <form id="form1" role="form" action="#" class="">
                                <div class="col-lg-12 col-md-12">
                                    <div class="room_book">
                                        <h6>Book Your</h6>
                                        <p>Rooms</p>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12 col-md-12">
                                    <div class="input-group border-bottom-dark-2">
                                        <input class="date-picker" id="datepicker" placeholder="Arrival" type="text" />
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12 col-md-12">
                                    <div class="input-group border-bottom-dark-2">
                                        <input class="date-picker" id="datepicker1" placeholder="Departure" type="text" />
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-md-6 icon_arrow">
                                            <div class="input-group border-bottom-dark-2">
                                                <select class="form-control" name="room" id="room">
                                                    <option selected="selected" disabled="disabled">1 Room</option>
                                                    <option value="Single">1 Room</option>
                                                    <option value="Double">2 Room</option>
                                                    <option value="Deluxe">3 Room</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 icon_arrow">
                                            <div class="input-group border-bottom-dark-2">
                                                <select class="form-control" name="room" id="bed">
                                                    <option selected="selected" disabled="disabled">Beds</option>
                                                    <option value="Single">1 Bed</option>
                                                    <option value="Double">2 Bed</option>
                                                    <option value="Deluxe">3 Bed</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 icon_arrow">
                                            <div class="input-group border-bottom-dark-2">
                                                <select class="form-control" name="room" id="adult">
                                                    <option selected="selected" disabled="disabled">1 Adult</option>
                                                    <option value="Single">1 Adult</option>
                                                    <option value="Double">2 Adult</option>
                                                    <option value="Deluxe">3 Adult</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 icon_arrow">
                                            <div class="input-group border-bottom-dark-2">
                                                <select class="form-control" name="room" id="child">
                                                    <option selected="selected" disabled="disabled">1 Child</option>
                                                    <option value="Single">1 Child</option>
                                                    <option value="Double">2 Child</option>
                                                    <option value="Deluxe">3 Child</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <a class="btn btn-warning btn-md floatright">Book</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end hotel booking -->
                <!-- start client says slider -->
                <div class="col-lg-12 col-md-12 col-sm-4">
                    <div class="customer_says margin-top-65">
                        <div class="section_title margin-bottom-30">
                            <h5>Customer Review</h5>
                        </div>
                        <div class="section_description">
                            <div id="customer_says_slider" class="carousel slide" data-ride="carousel" data-pause="none">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <div class="single_says">
                                            <div class="customer_comment">
                                                <p>
                                                    Semper ac dolor vitae msan. Cras interdum hendreritnia Phasellus accumsan urna vitae molestie interdum.
                                                </p>
                                                <p>
                                                    Nam sed placerat libero, non eleifend dolor.
                                                </p>
                                            </div>
                                            <div class="customer_detail clearfix">
                                                <div class="customer_pic alignright-20">
                                                    <a href="#"><img src="@Url.Content("~/Content/img/customer-says-one.png")" alt=""></a>
                                                </div>
                                                <div class="customer_identity floatright">
                                                    <h6>John Doe</h6>
                                                    <p>www.john.com</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="single_says">
                                            <div class="customer_comment">
                                                <p>
                                                    Semper ac dolor vitae msan. Cras interdum hendreritnia Phasellus accumsan urna vitae molestie interdum.
                                                </p>
                                                <p>
                                                    Nam sed placerat libero, non eleifend dolor.
                                                </p>
                                            </div>
                                            <div class="customer_detail clearfix">
                                                <div class="customer_pic alignright-20">
                                                    <a href="#"><img src="@Url.Content("~/Content/img/customer-says-one.png")" alt=""></a>
                                                </div>
                                                <div class="customer_identity floatright">
                                                    <h6>John Doe</h6>
                                                    <p>www.john.com</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Controls -->
                                <a class="slider_says left" href="#customer_says_slider" role="button" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="slider_says right" href="#customer_says_slider" role="button" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end client says slider -->
            </div>
        </div>
    </div>
</div>