﻿<!DOCTYPE html>
@*<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hotel Booking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="@Url.Content("~/Content/img/favicon.ico")" sizes="16x16" />
    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Karla:700,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
    <!-- fontawesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.css")" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")" />
    <!-- uikit -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/uikit.min.css")" />
    <!-- animate -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/animate.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/datepicker.css")" />
    <!-- Owl carousel 2 css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/owl.carousel.css")">
    <!-- rev slider -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/rev-slider/settings.css")" />
    <!-- lightslider -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/lightslider.css")">
    <!-- Theme -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/reset.css")">
    <!-- custom css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")" />
    <!-- responsive -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/responsive.css")" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- This Template Is Fully Coded By Aftab Zaman from swiftconcept.com -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body id="@ViewBag.BodyId">
    
    @RenderSection("Header", required: false)
    
    @RenderBody()

    <!-- start contact us area -->
    <section class="contact_us_area content-left">
        <div class="container">
            <div class="contact_us clearfix">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="call clearfix">
                        <h6>Call Us</h6>
                        <p>123 456 7890</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="email_us clearfix">
                        <h6>Email us</h6>
                        <p>info@hotelbooking.com</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="news_letter clearfix">
                        <input type="text" placeholder="Enter ID  for News Letter">
                        <a href="#" class="btn btn-blue">go</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="social_icons clearfix">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end contact us area -->
    <!-- start footer -->
    <footer class="footer_area">
        <div class="container">
            <div class="footer">
                <div class="footer_top padding-top-80 clearfix">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#"><img src="@Url.Content("~/Content/img/footer-logo-one.png")" alt=""></a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, conser adipiscing elit. In consectetur tincidunt dolor.</p>
                            <ul>
                                <li>
                                    <P><i class="fa fa-map-marker"></i>St Amsterdam finland, <br> United Stats of AKY16 8PN</P>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="row">
                            <div class="footer_widget clearfix">
                                <h5 class="padding-left-15">Quick Links</h5>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <ul>
                                        <li><a href="#">Rooms</a></li>
                                        <li><a href="#">Food & Drinks</a></li>
                                        <li><a href="#">Beach Venues</a></li>
                                        <li><a href="#">Amenities</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 sol-sm-6">
                                    <ul>
                                        <li><a href="#">Noordwijk</a></li>
                                        <li><a href="#">Wellness</a></li>
                                        <li><a href="#">Manifesto</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="footer_widget">
                            <h5>We Are Global</h5>
                            <div class="footer_map">
                                <a href="#"><img src="@Url.Content("~/Content/img/footer-map-two.jpg")" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="footer_copyright margin-tb-50 content-center">
                            <p>© 2015 <a href="#">Hotelbooking</a>. All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- jquery library -->
    <script src="@Url.Content("~/Content/js/vendor/jquery-1.11.2.min.js")"></script>
    <!-- bootstrap -->
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>

    <!-- uikit -->
    <script src="@Url.Content("~/Content/js/uikit.min.js")"></script>
    
    @RenderSection("Scripts", required: false)

    <!-- easing -->
    <script src="@Url.Content("~/Content/js/jquery.easing.1.3.min.js")"></script>
    <script src="@Url.Content("~/Content/js/datepicker.js")"></script>
    <!-- scroll up -->
    <script src="@Url.Content("~/Content/js/jquery.scrollUp.min.js")"></script>
    <!-- owlcarousel -->
    <script src="@Url.Content("~/Content/js/owl.carousel.min.js")"></script>
    <!-- lightslider -->
    <script src="@Url.Content("~/Content/js/lightslider.js")"></script>
    <!-- wow Animation -->
    <script src="@Url.Content("~/Content/js/wow.min.js")"></script>
    <!--Activating WOW Animation only for modern browser-->
    <!--[if !IE]><!-->
    <script type="text/javascript">
        new WOW().init();
    </script>
    <!--<![endif]-->
    <!--Oh Yes, IE 9+ Supports animation, lets activate for IE 9+-->
    <!--[if gte IE 9]>
            <script type="text/javascript">new WOW().init();</script>
        <![endif]-->
    <!--Opacity & Other IE fix for older browser-->
    <!--[if lte IE 8]>
            <script type="text/javascript" src="@Url.Content("~/Content/js/ie-opacity-polyfill.js")"></script>
        <![endif]-->
    <!-- my js -->
    <script src="@Url.Content("~/Content/js/main.js")"></script>

    @RenderSection("ScriptsImpl", required: false)

</body>

</html>