﻿    <!-- start preloader -->
<div id="loader-wrapper">
    <div class="logo"><a href="#"><span>Hotel</span>-Booking</a></div>
    <div id="loader">
    </div>
</div>
<!-- end preloader -->
<!-- start header -->
<header class="header_area">

    <!-- start main header -->
    <div class="main_header_area">
        <div class="container">
            <!-- start mainmenu & logo -->
            <div class="mainmenu">
                <div id="nav">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="site_logo fix">
                                <a id="brand" class="clearfix navbar-brand border-right-whitesmoke" href="@Url.Action("Index", "Home")">
                                    <img src="@Url.Content("~/Content/img/site-logo.png")" alt="Trips">
                                </a>
                                <div class="header_login floatleft">
                                    <ul>
                                        <li><a href="#">Login</a></li>
                                        <li><a href="booking.html">Register</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li role="presentation"> @*class="dropdown"*@
                                    @*class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"*@
                                    <a id="drop-one" href="@Url.Action("Index", "Home")">
                                        Home
                                    </a>
                                    @*<ul id="menu1" class="dropdown-menu" role="menu">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="index-two.html">Home Page two</a></li>
                                    </ul>*@
                                </li>

                                <li class="dropdown">
                                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">About</a>

                                    <ul id="menu1" class="dropdown-menu" role="menu">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("About", "Home")">About Us</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Gallery", "Home")">Gallery</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("OurStaff", "Home")">Our Staff</a></li>
                                    </ul>
                                </li>

                                <li><a href="@Url.Action("Accomodation", "Home")">Accomodation</a></li>

                                
                                @*<li role="presentation" class="dropdown">
                                    <a id="drop2" href="javascirpt:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                        Features
                                    </a>
                                    <ul id="menu2" class="dropdown-menu" role="menu">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascirpt:;">About US</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascirpt:;">Booking</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascirpt:;">Room Details</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascirpt:;">Our Staff</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascirpt:;">404 Page</a></li>
                                    </ul>
                                </li>*@
                                <li><a href="@Url.Action("News", "Home")">News</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Contacts</a></li>
                            </ul>
                            <div class="emergency_number">
                                <a href="tel:1234567890"><img src="@Url.Content("~/Content/img/call-icon.png")" alt="">123 456 7890</a>
                            </div>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
            <!-- end mainmenu and logo -->
        </div>
    </div>
    <!-- end main header -->
</header>
<!-- end header -->