﻿@{
    ViewBag.Title = "Account";
}

@section Scripts  {
    <script src="@Url.Content("~/Content/assets/js/esaw.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/esaw.public.js")"></script>
}

@section ScriptsImpl  {
    <script type="text/javascript">
        var _ESAW = {
            loginForm: new ESAWForms.basic("#frmLogin", "@ViewBag.LoginUrl",
                new ESAWMessengers.basic("#wrapper-message"), new ESAWAjaxLoader.basic("#wrapper-login", "ajax-loader")),
            registerForm: new ESAWForms.basic("#frmRegister", "@ViewBag.RegisterUrl",
                new ESAWMessengers.basic("#wrapper-message"), new ESAWAjaxLoader.basic("#wrapper-register", "ajax-loader"))
        };
    </script>
}

<!-- start: LOGIN BOX -->
<div id="wrapper-login" class="box-login" style="position:relative;">

    <div id="wrapper-message"></div>


    <h3>Sign in to your account</h3>
    <p>
        Please enter your name and password to log in.
    </p>
    <form id="frmLogin" class="form-login" action="@Url.Action("Login", "_Async")">
        <div class="errorHandler alert alert-danger no-display">
            <i class="fa fa-remove-sign"></i> You have some form errors. Please check below.
        </div>
        <fieldset>
            <div class="form-group">
                <span class="input-icon">
                    <input type="text" class="form-control" name="Username" placeholder="Username">
                    <i class="fa fa-user"></i>
                </span>
                <!-- To mark the incorrectly filled input, you must add the class "error" to the input -->
                <!-- example: <input type="text" class="login error" name="login" value="Username" /> -->
            </div>
            <div class="form-group form-actions">
                <span class="input-icon">
                    <input type="password" class="form-control password" name="Password" placeholder="Password">
                    <i class="fa fa-lock"></i>
                    <a class="forgot" href="?box=forgot">
                        I forgot my password
                    </a>
                </span>
            </div>
            <div class="form-actions">
                @*<label for="remember" class="checkbox-inline">
                    <input type="checkbox" class="grey remember" id="remember" name="remember">
                    Keep me signed in
                </label>*@
                <button type="submit" class="btn btn-bricky pull-right" onclick="return $.fn.pageJS('login', this);">
                    Login <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
            <div class="new-account">
                Don't have an account yet?
                <a href="?box=register" class="register">
                    Create an account
                </a>
            </div>
        </fieldset>
    </form>
</div>
<!-- end: LOGIN BOX -->
<!-- start: FORGOT BOX -->
<div id="wrapper-forgot-password" class="box-forgot" style="position:relative;">
    <h3>Forget Password?</h3>
    <p>
        Enter your e-mail address below to reset your password.
    </p>
    <form class="form-forgot">
        <div class="errorHandler alert alert-danger no-display">
            <i class="fa fa-remove-sign"></i> You have some form errors. Please check below.
        </div>
        <fieldset>
            <div class="form-group">
                <span class="input-icon">
                    <input type="email" class="form-control" name="email" placeholder="Email">
                    <i class="fa fa-envelope"></i>
                </span>
            </div>
            <div class="form-actions">
                <a href="?box=login" class="btn btn-light-grey go-back">
                    <i class="fa fa-circle-arrow-left"></i> Back
                </a>
                <button type="submit" class="btn btn-bricky pull-right">
                    Submit <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </fieldset>
    </form>
</div>
<!-- end: FORGOT BOX -->
<!-- start: REGISTER BOX -->
<div id="wrapper-register" class="box-register" style="position:relative;">
    <h3>Sign Up</h3>
    <p>
        Enter your personal details below:
    </p>
    <form id="frmRegister" class="form-register">
        <div class="errorHandler alert alert-danger no-display">
            <i class="fa fa-remove-sign"></i> You have some form errors. Please check below.
        </div>
        <fieldset>
            <div class="form-group">
                <input type="text" class="form-control" name="Firstname" placeholder="Firstname">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="Lastname" placeholder="Lastname">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="Email" placeholder="Email">
            </div>
            <div class="form-group">
                <div>
                    <label class="radio-inline">
                        <input type="radio" class="grey" value="F" name="Gender">
                        Female
                    </label>
                    <label class="radio-inline">
                        <input type="radio" class="grey" value="M" name="Gender">
                        Male
                    </label>
                </div>
            </div>
            <p>
                Enter your account details below:
            </p>
            <div class="form-group">
                <span class="input-icon">
                    <input type="email" class="form-control" name="Username" placeholder="Username">
                    <i class="fa fa-envelope"></i>
                </span>
            </div>
            <div class="form-group">
                <span class="input-icon">
                    <input type="password" class="form-control" id="password" name="Password" placeholder="Password">
                    <i class="fa fa-lock"></i>
                </span>
            </div>
            <div class="form-group">
                <span class="input-icon">
                    <input type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm Password">
                    <i class="fa fa-lock"></i>
                </span>
            </div>
            <div class="form-group">
                <div>
                    <label for="agree" class="checkbox-inline">
                        <input type="checkbox" class="grey agree" id="agree" name="agree">
                        I agree to the Terms of Service and Privacy Policy
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <a href="?box=login" class="btn btn-light-grey go-back">
                    <i class="fa fa-circle-arrow-left"></i> Back
                </a>
                <button type="submit" class="btn btn-bricky pull-right">
                    Submit <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </fieldset>
    </form>
</div>
<!-- end: REGISTER BOX -->