﻿<!DOCTYPE html>
@*<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Factory Industrial</title>


    <!-- Font Awesome -->
    <link href="@Url.Content("~/Content/fonts/font-awesome/css/font-awesome.min.css")" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">
    <!-- Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|PT+Sans:400,400i,700,700i" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="@Url.Content("~/Content/css/owl.carousel.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/owl.theme.css")" rel="stylesheet">
    <!-- Gallary -->
    <link href="@Url.Content("~/Content/css/gallary.css")" rel="stylesheet">
    <!-- Hover -->
    <link href="@Url.Content("~/Content/css/hover.css")" rel="stylesheet">
    <!-- BX Slider -->
    <link href="@Url.Content("~/Content/css/jquery.bxslider.css")" rel="stylesheet">
    <!-- Style.css -->
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    @RenderSection("Header", required: false)

    @RenderBody()

    <footer class="v3">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2>About Factory</h2>
                    <p>The integrated manufacturing operations enable the company to better customize the products as per <span>client specifications</span> & provide consistent <span>quality assurance</span> in a cost-effective manner.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer_logo"><a href="#"><img src="@Url.Content("~/Content/img/v3_img/footer_logo.png")" alt="footer_logo"></a></div>
                        </div>
                        <div class="col-md-6 text-right">
                            <ul class="footer_socal">
                                <li><a href="#facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                <li><a href="#twitter"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                                <li><a href="#linkedin"><i class="fa fa-rss-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer_newsletter">
                        <h3>Newsletter Subscription</h3>
                        <div class="input-group stylish-input-group">
                            <input type="email" class="form-control" placeholder="Your Email Address">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-send"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h2>Our Services</h2>
                    <ul class="Solutions">
                        <li><a href="#"> Nuclear Power Equipment</a></li>
                        <li><a href="#">Petrochemical Industry</a></li>
                        <li><a href="#">Oil & Gas Equipment</a></li>
                        <li><a href="#">Minning Equipment</a></li>
                        <li><a href="#">Engineering Solutions</a></li>
                        <li><a href="#">Metallurgical Equipment</a></li>
                        <li><a href="#">Chemical Division</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h2>Our Services</h2>
                    <ul class="L-news">
                        <li><a href="#"><div class="lates_img"><img src="@Url.Content("~/Content/img/v3_img/ltest1.png")" alt="image"></div><div class="letst_text">The 4th Industrial Revolution and the Human Touch <span>11 August, 2016</span></div></a></li>
                        <li><a href="#"><div class="lates_img"><img src="@Url.Content("~/Content/img/v3_img/ltest2.png")" alt="image"></div><div class="letst_text">Closer Integration Between Design, Engineering &amp; Manufacturing<span>10 August, 2016</span></div></a></li>
                        <li><a href="#"><div class="lates_img"><img src="@Url.Content("~/Content/img/v3_img/ltest3.png")" alt="image"></div><div class="letst_text">The 4th Industrial Revolution  <span>09 August, 2016</span></div></a></li>
                    </ul>
                </div>
            </div>
            <div class="copy_right">
                <p>© 2016 designed with &#9829; by <a href="#">Themebus</a>.</p>
            </div>
        </div>
    </footer>

    <script src="@Url.Content("~/Content/js/jquery-3.1.0.min.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    @*<script src="../../../use.fontawesome.com/0b104a99db.js"></script>*@
    <script src="@Url.Content("~/Content/js/owl.carousel.js")"></script>

    @RenderSection("Scripts", required: false)
    @RenderSection("ScriptsImpl", required: false)

</body>

</html>