﻿<header>
    <div class="header_top">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <ul class="top_contact">
                        <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>4421 Cliffside, Binghamton, NY 1391</li>
                        <li><span><i class="fa fa-phone" aria-hidden="true"></i></span>(012) 345 - 6789</li>
                        <li><span><i class="fa fa-envelope" aria-hidden="true"></i></span>factory-info.com</li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <div class="custom-search-input">
                                <div class="input-group">
                                    <input type="text" class="search-query form-control" placeholder="Search" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <a href="#" class="gaet_a_quote"><img src="@Url.Content("~/Content/img/gateAq.png")" width="14" height="14" alt="get">Get a Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="logo">
        <div class="container">
            <div class="logo_icon"><a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Content/img/logo.png")" alt="logo"></a></div>
        </div>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    @*<li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Home <span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Homepage 1</a></li>
                            <li><a href="index2.html">Homepage 2</a></li>
                            <li><a href="index3.html">Homepage 3</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services <span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="services.html">Alternative Energy & Power</a></li>
                            <li><a href="services.html">Materials Engineering</a></li>
                            <li><a href="services.html">Pharmaceutical Research</a></li>
                            <li><a href="services.html">Agricultural Engineering</a></li>
                            <li><a href="services.html">Mechanical Engineering</a></li>
                            <li><a href="services.html">Oil Exploration</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="about.html">About</a></li>*@

                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                    <li><a href="@Url.Action("Services", "Home")">Services</a></li>

                    @*<li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pages <span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="team-detail.html">Team</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="shop_single.html">Product Page</a></li>
                        </ul>
                    </li>
                    <li><a href="project_detail.html">Projects</a></li>
                    <li><a href="blog-detail.html">blog</a></li>*@
                    <li><a href="@Url.Action("Products", "Home")">Products</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                    <li><a href="#"><span class="cart"><img src="@Url.Content("~/Content/img/cart.png")" alt="cart"><span>0</span></span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>