﻿<header class="v3">
    <div class="header_top_v3">
        <div class="container">
            <div class="row">
                <div class="nav_top_v3">
                    <ul>
                        <li><a><img src="@Url.Content("~/Content/img/v3_img/call_icon.png")" width="30" height="30" alt="call">(012) 345 - 6789</a></li>
                        <li><a><img src="@Url.Content("~/Content/img/v3_img/map_icon.png")" width="25" height="31" alt="map">4421 Cliffside, Binghamton</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header_part_v3">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo_v3">
                        <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Content/img/v3_img/logo.png")" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="nav_bar_v3">
                        <div class="nav_bottom">
                            <div class="navaaa">
                                <div class="row">
                                    <nav class="navbar navbar-inverse v3">
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>
                                        <div class="navbar-header_v3">
                                            <div class="collapse navbar-collapse" id="myNavbar">
                                                <ul class="nav navbar-nav v3">
                                                    @*<li class="active dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Home <span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="index.html">Homepage 1</a></li>
                                                            <li><a href="index2.html">Homepage 2</a></li>
                                                            <li><a href="index3.html">Homepage 3</a></li>
                                                        </ul>
                                                    </li>*@
                                                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                                                    <li><a href="@Url.Action("Services", "Home")">Services</a></li>
                                                    @*<li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pages <span class="caret"><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="team-detail.html">Team</a></li>
                                                            <li><a href="pricing.html">Pricing</a></li>
                                                            <li><a href="shop_single.html">Product Page</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="project_detail.html">Projects</a></li>
                                                    <li><a href="blog-detail.html">blog</a></li>*@
                                                    <li><a href="@Url.Action("Products", "Home")">Products</a></li>
                                                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                                                </ul>
                                                <ul class="nav navbar-nav navbar-right right_bar v3">
                                                    <li><a href="#"><span class="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>0</span></span></a></li>
                                                    <li>
                                                        <div class="search">
                                                            <input class="search_box" type="checkbox" id="search_box">
                                                            <label class="icon-search" for="search_box"><i class="fa fa-search" aria-hidden="true"></i></label>
                                                            <div class="search_form">
                                                                <form action="#">
                                                                    <input type="text"><input type="submit" value="search">
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>