﻿@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@

@section Header {
    @Html.Partial("~/Views/Shared/_PartialHeader2.cshtml")
}

@section Scripts {
    <script src="@Url.Content("~/Content/js/jquery.bxslider.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.bxslider.min.js")"></script>
}

@section ScriptsImpl {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.slider8').bxSlider({
                mode: 'vertical',
                minSlides: 3,
            });
        });

        $(document).ready(function () {
            $("#profession_slid").owlCarousel({
                items: 3,
                lazyLoad: true,
                navigation: true,
                itemsDesktop: [1199, 3],
                itemsDesktopSmall: [992, 3],
                itemsTablet: [768, 1],
                itemsMobile: [480, 1],
                autoPlay: 300000
            });
        });

        $(document).ready(function () {
            $("#owl-demo2").owlCarousel({
                navigation: true,
                items: 5,
                afterInit: function (elem) {
                    var that = this
                    that.owlControls.prependTo(elem)
                }
            });
        });

        $(document).ready(function () {
            $("#testi_slider").owlCarousel({
                items: 2,
                lazyLoad: true,
                navigation: true,
                itemsDesktop: [1199, 2],
                itemsDesktopSmall: [992, 2],
                itemsTablet: [768, 1],
                itemsMobile: [480, 1],
                autoPlay: 3000
            });
        });
    </script>
}


<section class="inner_banner">
    <span>&nbsp;</span>
    <div class="container">
        <ul class="pull-right">
            <li><a href="index.html">Home<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            <li>About Us</li>
        </ul>
    </div>
</section>

<section class="dont-hesita clearfix">
    <div class="container">
        <div class="row">
            <div class="head-dont">
                <h3>Hire Us For Your Next Project!<span> Don’t hesitate!</span></h3>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="total-about clearfix margin-bottom">
            <div class="col-md-8 upper-sec">
                <div class="about-fac">
                    <div class="left-img">
                        <img src="@Url.Content("~/Content/img/v2_img/about.jpg")" alt="abou" />
                    </div>
                    <div class="lower-about">
                        <h3>About Factory</h3>
                        <h2>Infrastructure Projects Business Unit</h2>
                        <p>Developing infrastructure projects globally that help create better lives. Thermal and hydro power stations, transmission and substation facilities, and renewable power generation such as wind farms and solar power facilities, etc..</p>
                    </div>
                    <div class="read-about">
                        <a href="#">Read About Us<img src="@Url.Content("~/Content/img/v2_img/about.png")" alt="set"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="aside clearfix">
                    <div class="as-head">
                        <h2>Request a Quote</h2>
                    </div>
                    <div class="about-form">
                        <div class="dacoret">
                            <input name="Name" type="text" placeholder="Your Name">
                        </div>
                        <div class="dacoret">
                            <input name="Email" type="email" placeholder="Themebus@hotmail.es">
                        </div>
                        <div class="dacoret">
                            <input name="Name" type="text" placeholder="Your Phone">
                        </div>
                        <div class="dacoret">
                            <textarea name="massege" placeholder="Quote Details"></textarea>
                        </div>
                        <div class="form-ab-btn">
                            <a href="#">send message<img src="@Url.Content("~/Content/img/v2_img/set.png")" alt="set"></a>
                        </div>
                    </div>
                    <div class="free-it">
                        <h6>It’s Free!</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="project_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="project_heding">
                    <h2>Who We Are</h2>
                    <p>One of the best company</p>
                </div>
                <ul class="who_we">
                    <li>
                        <span><img src="@Url.Content("~/Content/img/who1.png")" alt="who"></span>
                        <h3>Our Company is one of the Largest</h3>
                        <p>We work to build long-term and reliable cooperation with our customers, providing them with high-quality products & services. The satisfaction of our customers.</p>
                    </li>
                    <li>
                        <span><img src="@Url.Content("~/Content/img/who2.png")" alt="who"></span>
                        <h3>Our Experience Is Everything We Need</h3>
                        <p>We have 1-+ years of experience and we never meet our clients’ expectations, we overcome them. We promise our services will make you more than happy.</p>
                    </li>
                    <li>
                        <span><img src="@Url.Content("~/Content/img/who3.png")" alt="who"></span>
                        <h3>Skills Combined With Quality Materials</h3>
                        <p>The main direction of the enterprise is geological research all of the solutions to improve product quality and raise production for efficiency.</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 responsiv_space">
                <div class="project_heding">
                    <h2>Our Latest Projects</h2>
                    <p>Recent Works</p>
                </div>
                <div class="slider8 project_slider">
                    <div class="slide">
                        <div class="p_slider_img hovereffect">
                            <img src="@Url.Content("~/Content/img/project1.png")" alt="project_img">
                            <div class="overlay">
                                <a class="info" href="#"><img src="@Url.Content("~/Content/img/our_hover.png")" alt="img_hover"></a>
                            </div>
                        </div>
                        <div class="p_slider_text">
                            <h3>Production process in the petroleum industry</h3>
                            <ul>
                                <li><span><i class="fa fa-calendar" aria-hidden="true"></i></span>Construction date: June 2016</li>
                                <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Location: France</li>
                                <li><span><img src="@Url.Content("~/Content/img/doller.png")" width="12" height="14" alt="doller"></span>Value: $1.199.432</li>
                            </ul>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="p_slider_img hovereffect">
                            <img src="@Url.Content("~/Content/img/project2.png")" alt="project_img">
                            <div class="overlay">
                                <a class="info" href="#"><img src="@Url.Content("~/Content/img/our_hover.png")" alt="img_hover"></a>
                            </div>
                        </div>
                        <div class="p_slider_text">
                            <h3>Pipelines inside refinery industry</h3>
                            <ul>
                                <li><span><i class="fa fa-calendar" aria-hidden="true"></i></span>Construction date: June 2016</li>
                                <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Location: Italy</li>
                                <li><span><img src="@Url.Content("~/Content/img/doller.png")" width="12" height="14" alt="doller"></span>Value: $1.297.400</li>
                            </ul>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="p_slider_img hovereffect">
                            <img src="@Url.Content("~/Content/img/project3.png")" alt="project_img">
                            <div class="overlay">
                                <a class="info" href="#"><img src="@Url.Content("~/Content/img/our_hover.png")" alt="img_hover"></a>
                            </div>
                        </div>
                        <div class="p_slider_text">
                            <h3>Irrigation system working on a farm</h3>
                            <ul>
                                <li><span><i class="fa fa-calendar" aria-hidden="true"></i></span>Construction date: April  2016</li>
                                <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Location: Germany</li>
                                <li><span><img src="@Url.Content("~/Content/img/doller.png")" width="12" height="14" alt="doller"></span>Value: $419.388</li>
                            </ul>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="p_slider_img hovereffect">
                            <img src="@Url.Content("~/Content/img/project1.png")" alt="project_img">
                            <div class="overlay">
                                <a class="info" href="#"><img src="@Url.Content("~/Content/img/our_hover.png")" alt="img_hover"></a>
                            </div>
                        </div>
                        <div class="p_slider_text">
                            <h3>Production process in the petroleum industry</h3>
                            <ul>
                                <li><span><i class="fa fa-calendar" aria-hidden="true"></i></span>Construction date: June 2016</li>
                                <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Location: France</li>
                                <li><span><img src="@Url.Content("~/Content/img/doller.png")" width="12" height="14" alt="doller"></span>Value: $1.199.432</li>
                            </ul>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="p_slider_img hovereffect">
                            <img src="@Url.Content("~/Content/img/project2.png")" alt="project_img">
                            <div class="overlay">
                                <a class="info" href="#"><img src="@Url.Content("~/Content/img/our_hover.png")" alt="img_hover"></a>
                            </div>
                        </div>
                        <div class="p_slider_text">
                            <h3>Pipelines inside refinery industry</h3>
                            <ul>
                                <li><span><i class="fa fa-calendar" aria-hidden="true"></i></span>Construction date: June 2016</li>
                                <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Location: Italy</li>
                                <li><span><img src="@Url.Content("~/Content/img/doller.png")" width="12" height="14" alt="doller"></span>Value: $1.297.400</li>
                            </ul>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="p_slider_img hovereffect">
                            <img src="@Url.Content("~/Content/img/project3.png")" alt="project_img">
                            <div class="overlay">
                                <a class="info" href="#"><img src="@Url.Content("~/Content/img/our_hover.png")" alt="img_hover"></a>
                            </div>
                        </div>
                        <div class="p_slider_text">
                            <h3>Irrigation system working on a farm</h3>
                            <ul>
                                <li><span><i class="fa fa-calendar" aria-hidden="true"></i></span>Construction date: April  2016</li>
                                <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Location: Germany</li>
                                <li><span><img src="@Url.Content("~/Content/img/doller.png")" width="12" height="14" alt="doller"></span>Value: $419.388</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="f-work">
    <div class="container">
        <div class="row">
            <div class="head-srv">
                <h4>Featured Works</h4>
                <div class="heading-f-work">
                    <img src="@Url.Content("~/Content/img/v2_img/set_5.png")" alt="srv-head">
                </div>
            </div>
            <section class="filter-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="filter-container isotopeFilters">
                                <ul class="list-inline filter">
                                    <li class="active"><a href="#" data-filter="*">All </a></li>
                                    <li><a href="#" data-filter=".illustrations">Oil & Gas</a></li>
                                    <li><a href="#" data-filter=".photography">Petrochemical</a></li>
                                    <li><a href="#" data-filter=".websites">Metallurgical</a></li>
                                    <li><a href="#" data-filter=".art">Minning</a></li>
                                    <li><a href="#" data-filter=".photography">Engineeering Solutions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="portfolio-section port-col">
                <div class="container">
                    <div class="row">
                        <div class="isotopeContainer">
                            <div class="col-sm-4 isotopeSelector art">
                                <article class="">
                                    <figure>
                                        <img src="@Url.Content("~/Content/img/v2_img/mash1.jpg")" alt="">
                                        <div class="overlay-background">
                                            <div class="inner"></div>
                                        </div>
                                        <div class="overlay">
                                            <div class="inner-overlay">
                                                <div class="inner-overlay-content with-icons">
                                                    <a title="First Image" class="fancybox-pop" href="@Url.Content("~/Content/img/v2_img/mash1.jpg")"><i class="fa fa-search"></i></a>
                                                    <a title="Second Image" class="fancybox-pop" style="display: none" href="@Url.Content("~/Content/img/v2_img/mash2.jpg")"></a>
                                                    <a title="Third Image" class="fancybox-pop" style="display: none" href="@Url.Content("~/Content/img/v2_img/portfolio/18.html")"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="article-title">
                                        <a href="#">Agriculture Research Work</a>
                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Prosper, TX</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-sm-4 isotopeSelector illustrations top-gap">
                                <article class="">
                                    <figure>
                                        <img src="@Url.Content("~/Content/img/v2_img/mash2.jpg")" alt="">
                                        <div class="overlay-background">
                                            <div class="inner"></div>
                                        </div>
                                        <div class="overlay">
                                            <div class="inner-overlay">
                                                <div class="inner-overlay-content with-icons">
                                                    <a title="First Image" class="fancybox-pop" href="@Url.Content("~/Content/img/v2_img/mash2.jpg")"><i class="fa fa-search"></i></a>
                                                    <a title="Second Image" class="fancybox-pop" style="display: none" href="@Url.Content("~/Content/img/v2_img/portfolio/17.html")"></a>
                                                    <a title="Third Image" class="fancybox-pop" style="display: none" href="@Url.Content("~/Content/img/v2_img/portfolio/18.html")"></a>

                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="article-title">
                                        <a href="#">Construction Work Field</a>
                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Las Vegas, NV</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-sm-4 isotopeSelector websites top-gap">
                                <article class="">
                                    <figure>
                                        <img src="@Url.Content("~/Content/img/v2_img/mash2.jpg")" alt="">
                                        <div class="overlay-background">
                                            <div class="inner"></div>
                                        </div>
                                        <div class="overlay">
                                            <div class="inner-overlay">
                                                <div class="inner-overlay-content with-icons">
                                                    <a title="First Image" class="fancybox-pop" href="@Url.Content("~/Content/img/v2_img/mash2.jpg")"><i class="fa fa-search"></i></a>
                                                    <a title="Second Image" class="fancybox-pop" style="display: none" href="@Url.Content("~/Content/img/v2_img/portfolio/17.html")"></a>
                                                    <a title="Third Image" class="fancybox-pop" style="display: none" href="@Url.Content("~/Content/img/v2_img/portfolio/18.html")"></a>

                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="article-title">
                                        <a href="#">Pipeline Valves Work</a>
                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Bartlett, IL</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-sm-4 isotopeSelector photography top-gap">
                                <article class="">
                                    <figure>
                                        <img src="@Url.Content("~/Content/img/v2_img/mash2.jpg")" alt="">
                                        <div class="overlay-background">
                                            <div class="inner"></div>
                                        </div>
                                        <div class="overlay">
                                            <div class="inner-overlay">
                                                <div class="inner-overlay-content with-icons">
                                                    <a title="First Image" class="fancybox-pop" href="@Url.Content("~/Content/img/v2_img/mash2.jpg")"><i class="fa fa-search"></i></a>
                                                    <a title="Second Image" class="fancybox-pop" style="display: none" href="@Url.Content("~/Content/img/v2_img/portfolio/17.html")"></a>
                                                    <a title="Third Image" class="fancybox-pop" style="display: none" href="@Url.Content("~/Content/img/v2_img/portfolio/18.html")"></a>

                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="article-title">
                                        <a href="#">Metallurgical Work</a>
                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>Piedmont, SC</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-sm-4 isotopeSelector photography top-gap">
                                <article class="">
                                    <figure>
                                        <img src="@Url.Content("~/Content/img/v2_img/mash2.jpg")" alt="">
                                        <div class="overlay-background">
                                            <div class="inner"></div>
                                        </div>
                                        <div class="overlay">
                                            <div class="inner-overlay">
                                                <div class="inner-overlay-content with-icons">
                                                    <a title="First Image" class="fancybox-pop" href="@Url.Content("~/Content/img/v2_img/mash2.jpg")"><i class="fa fa-search"></i></a>
                                                    <a title="Second Image" class="fancybox-pop" style="display: none" href="@Url.Content("~/Content/img/v2_img/portfolio/17.html")"></a>
                                                    <a title="Third Image" class="fancybox-pop" style="display: none" href="@Url.Content("~/Content/img/v2_img/portfolio/18.html")"></a>

                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="article-title">
                                        <a href="#">Minning Work</a>
                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>Waltham, MA</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<section class="get-a-qu">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="get-left-tex">
                    <h2>Get Your Free Quote Today!</h2>
                    <p>We are looking forward hearing from you! Our office staff will quickly get back to you maximum 24 hrs Monday to Friday.</p>
                    <a class="get-contact" href="#">contact us</a>
                </div>
            </div>
            <div class=" col-md-offset-1 col-md-4">
                <div class="get-right">
                    <h3>Call the guys in yellow and white and we will treat you right.</h3>
                    <div class="location2"><h4>856 Ersel Street, Prosper, TX 75078</h4></div>
                    <div class="phone-no"><h4>(012) 345 - 6789</h4></div>
                    <div class="mail"><h4>info@factory-support.com</h4></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main_body no-padding-top">
    <div class="container">
        <div class="our_profession">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="body-heding">
                        <h2>Our professionals</h2>
                        <div class="heding_under">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div id="profession_slid" class="owl-carousel team_slider">
                <div class="item hovereffect_pro">
                    <div class="team_img">
                        <img src="@Url.Content("~/Content/img/v3_img/profession1.png")" alt="team">
                        <div class="overlayes">
                            <p>Julie’s areas of focus include pumps, pipeline hydraulics, open channel hydraulics, liquids process design & solids process design for produced and flowback water.</p>
                            <ul class="hover_socal">
                                <li><a href="#facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_titel">
                        <div class="tem_tt">
                            <h3>Justin W. Tuck</h3>
                            <h4>CEO & Managing Director</h4>
                        </div>
                        <div class="link_simbal"><i class="fa fa-link" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="item hovereffect_pro">
                    <div class="team_img">
                        <img src="@Url.Content("~/Content/img/v3_img/profession2.png")" alt="team">
                        <div class="overlayes">
                            <p>Julie’s areas of focus include pumps, pipeline hydraulics, open channel hydraulics, liquids process design & solids process design for produced and flowback water.</p>
                            <ul class="hover_socal">
                                <li><a href="#facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_titel">
                        <div class="tem_tt">
                            <h3>Clyde J. Glisson</h3>
                            <h4>Chief Architect</h4>
                        </div>
                        <div class="link_simbal"><i class="fa fa-link" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="item hovereffect_pro">
                    <div class="team_img">
                        <img src="@Url.Content("~/Content/img/v3_img/profession3.png")" alt="team">
                        <div class="overlayes">
                            <p>Julie’s areas of focus include pumps, pipeline hydraulics, open channel hydraulics, liquids process design & solids process design for produced and flowback water.</p>
                            <ul class="hover_socal">
                                <li><a href="#facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_titel">
                        <div class="tem_tt">
                            <h3>Vernon K. Woods</h3>
                            <h4>Chief Interior Design</h4>
                        </div>
                        <div class="link_simbal"><i class="fa fa-link" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="item hovereffect_pro">
                    <div class="team_img">
                        <img src="@Url.Content("~/Content/img/v3_img/profession1.png")" alt="team">
                        <div class="overlayes">
                            <p>Julie’s areas of focus include pumps, pipeline hydraulics, open channel hydraulics, liquids process design & solids process design for produced and flowback water.</p>
                            <ul class="hover_socal">
                                <li><a href="#facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_titel">
                        <div class="tem_tt">
                            <h3>Justin W. Tuck</h3>
                            <h4>CEO & Managing Director</h4>
                        </div>
                        <div class="link_simbal"><i class="fa fa-link" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="item hovereffect_pro">
                    <div class="team_img">
                        <img src="@Url.Content("~/Content/img/v3_img/profession2.png")" alt="team">
                        <div class="overlayes">
                            <p>Julie’s areas of focus include pumps, pipeline hydraulics, open channel hydraulics, liquids process design & solids process design for produced and flowback water.</p>
                            <ul class="hover_socal">
                                <li><a href="#facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_titel">
                        <div class="tem_tt">
                            <h3>Clyde J. Glisson</h3>
                            <h4>Chief Architect</h4>
                        </div>
                        <div class="link_simbal"><i class="fa fa-link" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="item hovereffect_pro">
                    <div class="team_img">
                        <img src="@Url.Content("~/Content/img/v3_img/profession3.png")" alt="team">
                        <div class="overlayes">
                            <p>Julie’s areas of focus include pumps, pipeline hydraulics, open channel hydraulics, liquids process design & solids process design for produced and flowback water.</p>
                            <ul class="hover_socal">
                                <li><a href="#facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_titel">
                        <div class="tem_tt">
                            <h3>Vernon K. Woods</h3>
                            <h4>Chief Interior Design</h4>
                        </div>
                        <div class="link_simbal"><i class="fa fa-link" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimoinal">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="body-heding">
                    <h2>What Clients Say</h2>
                    <div class="heding_under">&nbsp;</div>
                </div>
            </div>
        </div>
        <div id="testi_slider" class="owl-carousel team_slider">
            <div class="item">
                <div class="test_img"><img src="@Url.Content("~/Content/img/v3_img/test_img.png")" alt="test_img"></div>
                <div class="test_text">
                    <p>I would like to thank you again for the hard work you  your team have put into the successful completion of our Brookvale Centre. </p>
                    <h6>- Charlie M. West</h6>
                </div>
            </div>
            <div class="item">
                <div class="test_img"><img src="@Url.Content("~/Content/img/v3_img/test_img.png")" alt="test_img"></div>
                <div class="test_text">
                    <p> You have brought a great deal of experience that has been invaluable in a project of this size and is a key reason for its success.</p>
                    <h6>- Sharon A. Walsh</h6>
                </div>
            </div>
            <div class="item">
                <div class="test_img"><img src="@Url.Content("~/Content/img/v3_img/test_img.png")" alt="test_img"></div>
                <div class="test_text">
                    <p>I would like to thank you again for the hard work you  your team have put into the successful completion of our Brookvale Centre. </p>
                    <h6>- Charlie M. West</h6>
                </div>
            </div>
            <div class="item">
                <div class="test_img"><img src="@Url.Content("~/Content/img/v3_img/test_img.png")" alt="test_img"></div>
                <div class="test_text">
                    <p> You have brought a great deal of experience that has been invaluable in a project of this size and is a key reason for its success.</p>
                    <h6>- Sharon A. Walsh</h6>
                </div>
            </div>
            <div class="item">
                <div class="test_img"><img src="@Url.Content("~/Content/img/v3_img/test_img.png")" alt="test_img"></div>
                <div class="test_text">
                    <p>I would like to thank you again for the hard work you  your team have put into the successful completion of our Brookvale Centre. </p>
                    <h6>- Charlie M. West</h6>
                </div>
            </div>
            <div class="item">
                <div class="test_img"><img src="@Url.Content("~/Content/img/v3_img/test_img.png")" alt="test_img"></div>
                <div class="test_text">
                    <p> You have brought a great deal of experience that has been invaluable in a project of this size and is a key reason for its success.</p>
                    <h6>- Sharon A. Walsh</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="client_setion">
    <div class="container">
        <div class="cl_heding">
            <h2>Contact Us Today</h2>
            <p>Get in Touch With Us</p>
        </div>
        <div class="cont_uxSection">
            <h3>It doesn't matter where do you live. Call us at <a href="#">(012) 345 - 6789</a> or <a href="#">Send Us an Email</a> and we’ll help to solve all of your problems. </h3>
            <ul>
                <li class="col-md-4 col-sm-4">
                    <span><img src="@Url.Content("~/Content/img/map_point.png")" alt="who"></span>
                    <a>
                        <h3>Locate Us</h3>
                        <p>9870 St Vincent Place, Los Angeles, Fr 45. United States of America</p>
                    </a>
                </li>
                <li class="col-md-4 col-sm-4">
                    <span><img src="@Url.Content("~/Content/img/fax.png")" alt="who"></span>
                    <a>
                        <h3>call or send us a fax</h3>
                        <p>Telephone: (012) 345 - 6789</p><p>Fax: 555 - 233 5432</p>
                    </a>
                </li>
                <li class="col-md-4 col-sm-4">
                    <span><img src="@Url.Content("~/Content/img/mail_icon.png")" alt="who"></span>
                    <a>
                        <h3>Send Us a Message</h3>
                        <p>contact@factory.com</p><p>sales@factory.com</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="subscrip_form">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-4 sub_img">
                    <div class="subscrip_img"><img src="@Url.Content("~/Content/img/subcrip_img.png")" alt="subcrip"></div>
                </div>
                <div class="col-md-10 col-sm-9 col-xs-12">
                    <h4>Subscribe to Our Newsletter</h4>
                    <p>Be the first to find our about our latest news & promotions:</p>
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input type="email" class="form-control" placeholder="Your Email Address">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-send"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post_cliend">
            <h2>Our Past Clients</h2>
        </div>
        <div id="owl-demo2" class="Our_client">
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/our_client1.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/our_client2.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/our_client3.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/our_client4.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/our_client5.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/our_client1.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/our_client2.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/our_client3.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/our_client4.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/our_client5.png")" alt="client_icon"></a></div>
        </div>
    </div>
</section>