﻿@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@

@section Header {
    @Html.Partial("~/Views/Shared/_PartialHeader2.cshtml")
}

<section class="inner_banner">
    <span>&nbsp;</span>
    <div class="container">
        <ul class="pull-right">
            <li><a href="index.html">Home<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            <li>Contact</li>
        </ul>
    </div>
</section>

<section class="client_setion">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5">
                <div class="project_heding">
                    <h2>Contact Details</h2>
                </div>
                <ul class="contact_details">
                    <li>
                        <span><img src="@Url.Content("~/Content/img/map_point.png")" alt="who"></span>
                        <a><h3>3634 Viking Drive Nelsonville, OH 45764</h3> </a>
                    </li>
                    <li>
                        <span><img src="@Url.Content("~/Content/img/fax.png")" alt="who"></span>
                        <a>
                            <h3>(012) 345 - 6789</h3>
                            <h3>555 - 653 8870</h3>
                        </a>
                    </li>
                    <li>
                        <span><img src="@Url.Content("~/Content/img/mail_icon.png")" alt="who"></span>
                        <a>
                            <h3>info@factory.com</h3>
                            <h3>sales@factory.com</h3>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 col-sm-7">
                <div class="project_heding">
                    <h2>Contact Form</h2>
                </div>
                <div class="contact_form">
                    <form id="contact-form" method="post" action="http://metheme.biz/factoryindustrial/html/contact.php">
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input id="form_email" type="email" name="email" class="form-control" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input id="form_lastname" type="tel" name="surname" class="form-control" placeholder="Phone" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea id="form_message" name="message" class="form-control" placeholder="Message" rows="8" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <a href="#" class="hvr-icon-forward we_button">Get Free Quote</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d471219.7256039201!2d88.36825265!3d22.6759958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1477389867829" allowfullscreen></iframe>
</section>