﻿@{
    ViewBag.Title = "Home Page";
}
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@


@section  Header {
    @Html.Partial("~/Views/Shared/_PartialHeader1.cshtml")
}

@section ScriptsImpl {

    <script type="text/javascript">

        $(document).ready(function () {
            $("#profession_slid").owlCarousel({
                items: 3,
                lazyLoad: true,
                navigation: true,
                itemsDesktop: [1199, 3],
                itemsDesktopSmall: [992, 3],
                itemsTablet: [768, 1],
                itemsMobile: [480, 1],
                autoPlay: 300000
            });
        });

        $(document).ready(function () {
            $("#testi_slider").owlCarousel({
                items: 2,
                lazyLoad: true,
                navigation: true,
                itemsDesktop: [1199, 2],
                itemsDesktopSmall: [992, 2],
                itemsTablet: [768, 1],
                itemsMobile: [480, 1],
                autoPlay: 3000
            });
        });

        $(document).ready(function () {
            $("#customers_slider").owlCarousel({
                items: 6,
                lazyLoad: true,
                navigation: true,
                autoPlay: 3000
            });
        });

    </script>
}

<section class="banner_v3">
    <img src="@Url.Content("~/Content/img/v3_img/banner.jpg")" alt="banner">
    <div class="caption">
        <div class="">
            <div class="caption_left">
                <h1>The largest integrated manufacturing capacities</h1>
                <p>The integrated manufacturing operations enable the company to better customize the products as per specifications.</p>
                <a href="#" class="chek_button">Check Our Services</a>
            </div>
            <div class="caption_right">
                <div class="request_form">
                    <h2>Request a Quote</h2>
                    <p>Get in touch with us if you have queries & we’ll get back to you aasap:</p>
                    <div class="contact_fid">
                        <form id="contact-form" method="post" action="http://metheme.biz/factoryindustrial/html/contact.php" role="form">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input id="form_email" type="email" name="email" class="form-control" placeholder="Your Email" required data-error="Valid email is required.">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Your Phone">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea id="form_message" name="message" class="form-control" placeholder="Your Message" rows="4" required data-error="Please,leave us a message."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="submit" class="Send-Message" value="Send Message">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main_body">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="body-heding">
                    <h2>What We Do</h2>
                    <div class="heding_under">&nbsp;</div>
                    <p>Strive to develop and employ innovative technological solutions to add value to business with progressive & proactive approach.</p>
                </div>
            </div>
        </div>
        <div class="what_gallery">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect_v3">
                        <img class="img-responsive" src="@Url.Content("~/Content/img/v3_img/what1.jpg")" alt="">
                        <div class="overlay">
                            <h2>Chemical Division</h2>
                            <a class="info" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect_v3">
                        <img class="img-responsive" src="@Url.Content("~/Content/img/v3_img/what2.jpg")" alt="">
                        <div class="overlay">
                            <h2>Gases Division</h2>
                            <a class="info" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect_v3">
                        <img class="img-responsive" src="@Url.Content("~/Content/img/v3_img/what3.jpg")" alt="">
                        <div class="overlay">
                            <h2>Agriculture Division</h2>
                            <a class="info" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect_v3">
                        <img class="img-responsive" src="@Url.Content("~/Content/img/v3_img/what4.jpg")" alt="">
                        <div class="overlay">
                            <h2>Textile Division</h2>
                            <a class="info" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect_v3">
                        <img class="img-responsive" src="@Url.Content("~/Content/img/v3_img/what5.jpg")" alt="">
                        <div class="overlay">
                            <h2>Energy & Power Division</h2>
                            <a class="info" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect_v3">
                        <img class="img-responsive" src="@Url.Content("~/Content/img/v3_img/what6.jpg")" alt="">
                        <div class="overlay">
                            <h2>Engineering Division</h2>
                            <a class="info" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect_v3">
                        <img class="img-responsive" src="@Url.Content("~/Content/img/v3_img/what7.jpg")" alt="">
                        <div class="overlay">
                            <h2>Pharmaceutical Division</h2>
                            <a class="info" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect_v3">
                        <img class="img-responsive" src="@Url.Content("~/Content/img/v3_img/what8.jpg")" alt="">
                        <div class="overlay">
                            <h2>Oil Exploration Division</h2>
                            <a class="info" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="body_def_color">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="body-heding">
                    <h2>About Us</h2>
                    <div class="heding_under">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about_content">
                    <h3>Continuing growth and diversification for bottom line results with risks well contained.</h3>
                    <p>The plant’s capacity was gradually increased over years to current level of 610 metric tones a day.In addition, various by-product facilities have been added and expanded from time to time to cope with growing demand. </p>
                    <p>Entering into Textile Spinning Business in 1995. Its specialty chemicals and export division was established in 2001 and agri chemicals division in 2003.</p>
                    <a href="#" class="chek_button">about us</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_tabe">
                    <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="pill" href="#Facts">Our Facts</a></li>
                        <li><a data-toggle="pill" href="#Advantages">Advantages</a></li>
                        <li><a data-toggle="pill" href="#Skills">Our Skills</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="Facts" class="tab-pane fade in active">
                            <p>Factory has one of the largest vertically integrated manufacturing capacities in USA producing Superior Quality Readymade Knitted Apparel; Fabrics; Compact, Melange, Carded & Combed Yarn.</p>
                            <ul>
                                <li><h4>128</h4><span>Cases Completed</span></li>
                                <li><h4>34</h4><span>Employees</span></li>
                                <li><h4>102</h4><span>Awards Won</span></li>
                            </ul>
                        </div>
                        <div id="Advantages" class="tab-pane fade">
                            <h3>Menu 1</h3>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div id="Skills" class="tab-pane fade">
                            <p>Factory has one of the largest vertically integrated manufacturing capacities in USA producing Superior Quality Readymade Knitted Apparel; Fabrics; Compact, Melange, Carded & Combed Yarn.</p>
                            <ul>
                                <li><h4>128</h4><span>Cases Completed</span></li>
                                <li><h4>34</h4><span>Employees</span></li>
                                <li><h4>102</h4><span>Awards Won</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="project-gallery">
    <div class="project_item">
        <div class="hovereffect_projct">
            <img class="img-responsive" src="@Url.Content("~/Content/img/v3_img/project1.jpg")" alt="">
            <div class="img_description">
                <h3>Agriculture Project</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Las Vegas, NV</p>
            </div>
            <div class="overlay_projct">
                <h3>Agriculture Project</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Las Vegas, NV</p>
                <a href="#" class="see_prode">See Project</a>
            </div>
        </div>
    </div>
    <div class="project_item">
        <div class="hovereffect_projct">
            <img class="img-responsive" src="@Url.Content("~/Content/img/v3_img/project2.jpg")" alt="">
            <div class="img_description">
                <h3>Construction Project</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>Englewood, CO</p>
            </div>
            <div class="overlay_projct">
                <h3>Construction Project</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>Englewood, CO</p>
                <a href="#" class="see_prode">See Project</a>
            </div>
        </div>
    </div>
    <div class="project_item">
        <div class="hovereffect_projct">
            <img class="img-responsive" src="@Url.Content("~/Content/img/v3_img/project3.jpg")" alt="">
            <div class="img_description">
                <h3>Pipelines Project</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Bartlett, IL</p>
            </div>
            <div class="overlay_projct">
                <h3>Pipelines Project</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>Bartlett, IL</p>
                <a href="#" class="see_prode">See Project</a>
            </div>
        </div>
    </div>
    <div class="project_item">
        <div class="hovereffect_projct">
            <img class="img-responsive" src="@Url.Content("~/Content/img/v3_img/project4.jpg")" alt="">
            <div class="img_description">
                <h3>Engineering Project</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Winter Park, FL</p>
            </div>
            <div class="overlay_projct">
                <h3>ngineering Project</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Winter Park, FL</p>
                <a href="#" class="see_prode">See Project</a>
            </div>
        </div>
    </div>
    <div class="project_item">
        <div class="hovereffect_projct">
            <img class="img-responsive" src="@Url.Content("~/Content/img/v3_img/project5.jpg")" alt="">
            <div class="img_description">
                <h3>Steel Project</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>St Francis, KS</p>
            </div>
            <div class="overlay_projct">
                <h3>Steel Project</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>St Francis, KS</p>
                <a href="#" class="see_prode">See Project</a>
            </div>
        </div>
    </div>
    <div class="project_item">
        <div class="hovereffect_projct">
            <img class="img-responsive" src="@Url.Content("~/Content/img/v3_img/project6.jpg")" alt="">
            <div class="img_description">
                <h3>Chemical Project</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>Buckner, VA</p>
            </div>
            <div class="overlay_projct">
                <h3>Chemical Project</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>Buckner, VA</p>
                <a href="#" class="see_prode">See Project</a>
            </div>
        </div>
    </div>
</section>

<section class="main_body">
    <div class="container">
        <div class="free_quote">
            <div class="row">
                <div class="col-md-offset-1 col-md-5">
                    <h3>Get Your Free Quote Today!</h3>
                    <p>We are looking forward hearing from you! Our office staff will quickly get back to you in 24 hrs Monday to Friday.</p>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="qute_today">
                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>Get A Quote Today</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="our_profession">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="body-heding">
                        <h2>Our professionals</h2>
                        <div class="heding_under">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div id="profession_slid" class="owl-carousel team_slider">
                <div class="item hovereffect_pro">
                    <div class="team_img">
                        <img src="@Url.Content("~/Content/img/v3_img/profession1.png")" alt="team">
                        <div class="overlayes">
                            <p>Julie’s areas of focus include pumps, pipeline hydraulics, open channel hydraulics, liquids process design & solids process design for produced and flowback water.</p>
                            <ul class="hover_socal">
                                <li><a href="#facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_titel">
                        <div class="tem_tt">
                            <h3>Justin W. Tuck</h3>
                            <h4>CEO & Managing Director</h4>
                        </div>
                        <div class="link_simbal"><i class="fa fa-link" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="item hovereffect_pro">
                    <div class="team_img">
                        <img src="@Url.Content("~/Content/img/v3_img/profession2.png")" alt="team">
                        <div class="overlayes">
                            <p>Julie’s areas of focus include pumps, pipeline hydraulics, open channel hydraulics, liquids process design & solids process design for produced and flowback water.</p>
                            <ul class="hover_socal">
                                <li><a href="#facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_titel">
                        <div class="tem_tt">
                            <h3>Clyde J. Glisson</h3>
                            <h4>Chief Architect</h4>
                        </div>
                        <div class="link_simbal"><i class="fa fa-link" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="item hovereffect_pro">
                    <div class="team_img">
                        <img src="@Url.Content("~/Content/img/v3_img/profession3.png")" alt="team">
                        <div class="overlayes">
                            <p>Julie’s areas of focus include pumps, pipeline hydraulics, open channel hydraulics, liquids process design & solids process design for produced and flowback water.</p>
                            <ul class="hover_socal">
                                <li><a href="#facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_titel">
                        <div class="tem_tt">
                            <h3>Vernon K. Woods</h3>
                            <h4>Chief Interior Design</h4>
                        </div>
                        <div class="link_simbal"><i class="fa fa-link" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="item hovereffect_pro">
                    <div class="team_img">
                        <img src="@Url.Content("~/Content/img/v3_img/profession1.png")" alt="team">
                        <div class="overlayes">
                            <p>Julie’s areas of focus include pumps, pipeline hydraulics, open channel hydraulics, liquids process design & solids process design for produced and flowback water.</p>
                            <ul class="hover_socal">
                                <li><a href="#facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_titel">
                        <div class="tem_tt">
                            <h3>Justin W. Tuck</h3>
                            <h4>CEO & Managing Director</h4>
                        </div>
                        <div class="link_simbal"><i class="fa fa-link" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="item hovereffect_pro">
                    <div class="team_img">
                        <img src="@Url.Content("~/Content/img/v3_img/profession2.png")" alt="team">
                        <div class="overlayes">
                            <p>Julie’s areas of focus include pumps, pipeline hydraulics, open channel hydraulics, liquids process design & solids process design for produced and flowback water.</p>
                            <ul class="hover_socal">
                                <li><a href="#facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_titel">
                        <div class="tem_tt">
                            <h3>Clyde J. Glisson</h3>
                            <h4>Chief Architect</h4>
                        </div>
                        <div class="link_simbal"><i class="fa fa-link" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="item hovereffect_pro">
                    <div class="team_img">
                        <img src="@Url.Content("~/Content/img/v3_img/profession3.png")" alt="team">
                        <div class="overlayes">
                            <p>Julie’s areas of focus include pumps, pipeline hydraulics, open channel hydraulics, liquids process design & solids process design for produced and flowback water.</p>
                            <ul class="hover_socal">
                                <li><a href="#facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_titel">
                        <div class="tem_tt">
                            <h3>Vernon K. Woods</h3>
                            <h4>Chief Interior Design</h4>
                        </div>
                        <div class="link_simbal"><i class="fa fa-link" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimoinal">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="body-heding">
                    <h2>What Clients Say</h2>
                    <div class="heding_under">&nbsp;</div>
                </div>
            </div>
        </div>
        <div id="testi_slider" class="owl-carousel team_slider">
            <div class="item">
                <div class="test_img"><img src="@Url.Content("~/Content/img/v3_img/test_img.png")" alt="test_img"></div>
                <div class="test_text">
                    <p>I would like to thank you again for the hard work you  your team have put into the successful completion of our Brookvale Centre. </p>
                    <h6>- Charlie M. West</h6>
                </div>
            </div>
            <div class="item">
                <div class="test_img"><img src="@Url.Content("~/Content/img/v3_img/test_img.png")" alt="test_img"></div>
                <div class="test_text">
                    <p> You have brought a great deal of experience that has been invaluable in a project of this size and is a key reason for its success.</p>
                    <h6>- Sharon A. Walsh</h6>
                </div>
            </div>
            <div class="item">
                <div class="test_img"><img src="@Url.Content("~/Content/img/v3_img/test_img.png")" alt="test_img"></div>
                <div class="test_text">
                    <p>I would like to thank you again for the hard work you  your team have put into the successful completion of our Brookvale Centre. </p>
                    <h6>- Charlie M. West</h6>
                </div>
            </div>
            <div class="item">
                <div class="test_img"><img src="@Url.Content("~/Content/img/v3_img/test_img.png")" alt="test_img"></div>
                <div class="test_text">
                    <p> You have brought a great deal of experience that has been invaluable in a project of this size and is a key reason for its success.</p>
                    <h6>- Sharon A. Walsh</h6>
                </div>
            </div>
            <div class="item">
                <div class="test_img"><img src="@Url.Content("~/Content/img/v3_img/test_img.png")" alt="test_img"></div>
                <div class="test_text">
                    <p>I would like to thank you again for the hard work you  your team have put into the successful completion of our Brookvale Centre. </p>
                    <h6>- Charlie M. West</h6>
                </div>
            </div>
            <div class="item">
                <div class="test_img"><img src="@Url.Content("~/Content/img/v3_img/test_img.png")" alt="test_img"></div>
                <div class="test_text">
                    <p> You have brought a great deal of experience that has been invaluable in a project of this size and is a key reason for its success.</p>
                    <h6>- Sharon A. Walsh</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="why_choose">
    <div class="container">
        <h2>Why choose us</h2>
        <div class="row">
            <div class="col-md-4 clearfix">
                <div class="chose_img"><img src="@Url.Content("~/Content/img/v3_img/choserUs1.png")" alt="ch"></div>
                <div class="chose_text">
                    <h3>Safety & Security</h3>
                    <p>Safety for our employees, customers and motoring public will always remain our focus.</p>
                </div>
            </div>
            <div class="col-md-4 clearfix">
                <div class="chose_img"><img src="@Url.Content("~/Content/img/v3_img/choserUs2.png")" alt="ch"></div>
                <div class="chose_text">
                    <h3>Awesome Support</h3>
                    <p>Our mission is to attract & retain customers by providing best in all industry solutions.</p>
                </div>
            </div>
            <div class="col-md-4 clearfix">
                <div class="chose_img"><img src="@Url.Content("~/Content/img/v3_img/choserUs3.png")" alt="ch"></div>
                <div class="chose_text">
                    <h3>Reputation</h3>
                    <p>We have established a strong presence in the construction & metallurgical industry. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our_customers">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="body-heding">
                    <h2>our customers</h2>
                    <div class="heding_under">&nbsp;</div>
                </div>
            </div>
        </div>
        <div id="customers_slider" class="Our_client">
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/v3_img/customer1.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/v3_img/customer2.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/v3_img/customer3.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/v3_img/customer4.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/v3_img/customer5.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/v3_img/customer6.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/v3_img/customer1.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/v3_img/customer2.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/v3_img/customer3.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/v3_img/customer4.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/v3_img/customer5.png")" alt="client_icon"></a></div>
            <div class="item"><a href="#"><img src="@Url.Content("~/Content/img/v3_img/customer6.png")" alt="client_icon"></a></div>
        </div>
    </div>
</section>

<section class="footer-contact">
    <div class="container">
        <div class="row">
            <ul>
                <li class="col-md-3 clearfix">
                    <div class="img_icon"><img src="@Url.Content("~/Content/img/v3_img/call2.png")" width="30" height="30" alt="call"></div>
                    <div class="ico_text">
                        <h4>(012) 345 - 6789</h4><span>info@factory.com</span>
                    </div>
                </li>
                <li class="col-md-5 clearfix">
                    <div class="img_icon"><img src="@Url.Content("~/Content/img/v3_img/map2.png")" width="25" height="31" alt="map"></div>
                    <div class="ico_text">
                        <h4>41 Cliffside, Binghamton </h4><span>New York, 12910</span>
                    </div>
                </li>
                <li class="col-md-4 clearfix">
                    <div class="img_icon"> <img src="@Url.Content("~/Content/img/v3_img/fax.png")" width="25" height="31" alt="fax"></div>
                    <div class="ico_text">
                        <h4>(012) 345 - 7785</h4> <span>Our Fax Number</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>