﻿@{
    ViewBag.Title = "ProductDetails";
}

@section Header {
    @Html.Partial("~/Views/Shared/_PartialHeader2.cshtml")
}

@section Scripts {
    <script src="@Url.Content("~/Content/js/jquery.bxslider.min.js")"></script>
    <script src="@Url.Content("~/Content/js/social-likes.min.js")"></script>
}

@section ScriptsImpl {
    <script type="text/javascript">
        $(document).ready(function () {
            var sync1 = $("#sync1");
            var sync2 = $("#sync2");
            sync1.owlCarousel({
                singleItem: true,
                slideSpeed: 1000,
                navigation: true,
                pagination: false,
                afterAction: syncPosition,
                responsiveRefreshRate: 200,
            });
            sync2.owlCarousel({
                items: 5,
                itemsDesktop: [1199, 5],
                itemsDesktopSmall: [992, 5],
                itemsTablet: [768, 3],
                itemsMobile: [480, 2],
                pagination: false,
                responsiveRefreshRate: 100,
                afterInit: function (el) {
                    el.find(".owl-item").eq(0).addClass("synced");
                }
            });
            function syncPosition(el) {
                var current = this.currentItem;
                $("#sync2")
                    .find(".owl-item")
                    .removeClass("synced")
                    .eq(current)
                    .addClass("synced")
                if ($("#sync2").data("owlCarousel") !== undefined) {
                    center(current)
                }
            }
            $("#sync2").on("click", ".owl-item", function (e) {
                e.preventDefault();
                var number = $(this).data("owlItem");
                sync1.trigger("owl.goTo", number);
            });
            function center(number) {
                var sync2visible = sync2.data("owlCarousel").owl.visibleItems;
                var num = number;
                var found = false;
                for (var i in sync2visible) {
                    if (num === sync2visible[i]) {
                        var found = true;
                    }
                }
                if (found === false) {
                    if (num > sync2visible[sync2visible.length - 1]) {
                        sync2.trigger("owl.goTo", num - sync2visible.length + 2)
                    } else {
                        if (num - 1 === -1) {
                            num = 0;
                        }
                        sync2.trigger("owl.goTo", num);
                    }
                } else if (num === sync2visible[sync2visible.length - 1]) {
                    sync2.trigger("owl.goTo", sync2visible[1])
                } else if (num === sync2visible[0]) {
                    sync2.trigger("owl.goTo", num - 1)
                }
            }
        });

        $(document).ready(function () {
            $("#similar_prodec").owlCarousel({
                navigation: true,
                items: 4,
                afterInit: function (elem) {
                    var that = this
                    that.owlControls.prependTo(elem)
                }
            });
        });
    </script>
}

<section class="inner_banner">
    <span>&nbsp;</span>
    <div class="container">
        <ul class="pull-right">
            <li><a href="index.html">Home<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            <li>Shop Single Product</li>
        </ul>
    </div>
</section>

<section class="client_setion pricing_list extra-padding">
    <div class="container">
        <div class="cl_heding">
            <h2>Our Shop</h2>
            <p>We have plenty of goods</p>
        </div>
        <div class="our_shop">
            <div class="row">
                <div class="col-md-5">
                    <div id="shop_prodec">
                        <div class="span12">
                            <div id="sync1" class="owl-carousel">
                                <div class="item"><img src="@Url.Content("~/Content/img/shop_prde11.jpg")" alt="shop"></div>
                                <div class="item"><img src="@Url.Content("~/Content/img/shop_prde11.jpg")" alt="shop"></div>
                                <div class="item"><img src="@Url.Content("~/Content/img/shop_prde11.jpg")" alt="shop"></div>
                            </div>
                            <div id="sync2" class="owl-carousel">
                                <div class="item"><img src="@Url.Content("~/Content/img/shop_prde_smail.jpg")" alt="smail"></div>
                                <div class="item"><img src="@Url.Content("~/Content/img/shop_prde_smail2.jpg")" alt="smail"></div>
                                <div class="item"><img src="@Url.Content("~/Content/img/shop_prde_smail3.jpg")" alt="smail"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="availty">
                        <div class="row">
                            <div class="col-md-6 col-xs-6"><h3>Availability: <span>In Stock</span></h3></div>
                            <div class="col-md-6 col-xs-6 text-right"><h3>Only 3 Left</h3></div>
                        </div>
                    </div>
                    <div class="prodec_detel">
                        <h4>Drainage Pipes</h4>
                        <ul class="prode_revews">
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                            <li><a href="#">4 Reviews</a></li>
                            <li><a href="#">. Add Your Review</a></li>
                        </ul>
                        <h5>$69.99<span>$89.00</span></h5>
                        <p>Vestibulum aliquam viverra dolor, sit amet lacinia nulla scelerisque vel. Vivamus mattis pulvinar nibh etan auctor vulputate. Nullam tincidunt sapien id euismod facilisis. Proin elutem entum ligula ut nibh fringilla con dimentum. Cum sociis natoque penatibus.</p>
                        <div class="quantily">
                            <h3>Sort By:</h3>
                            <select>
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="vw">VW</option>
                                <option value="audi" selected="">Audi</option>
                            </select>
                        </div>
                        <div class="add_cordButton">
                            <a href="#" class="hvr-icon-forward we_button"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Add to Cart</a>
                            <div class="cars_socsal">
                                <div class="social-likes">
                                    <div class="facebook" title="Share link on Facebook">Like</div>
                                    <div class="twitter" title="Share link on Twitter">Twitter</div>
                                    <div class="pinterest" title="Share image on Pinterest" data-media="">Pinterest</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog_comentSe">
                <div class="project_heding">
                    <h2><span>Description</span>Reviews</h2>
                </div>

                <div class="reviews_part">
                    <div class="reviews_item">
                        <div class="reviews_img"><img src="@Url.Content("~/Content/img/revews_img.png")" alt="reves"></div>
                        <div class="reviews_text">
                            <div class="servis_heding">
                                <h3>Antony E. Mosher<span><i class="fa fa-calendar" aria-hidden="true"></i> 27 Sept, 2016</span></h3>
                                <a href="#"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a>
                            </div>
                            <p>Vivamus auctor dui et elit facilisis scelerisque. Aenean sed augue urna. Sed aliquam efficitur commodo. Vivamus condimentum ante leo, nec suscipit lorem rhoncus sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacus neque, sollicitudin at dui sed. </p>
                        </div>
                    </div>
                    <div class="reviews_item">
                        <div class="reviews_img"><img src="@Url.Content("~/Content/img/revews_img.png")" alt="reves"></div>
                        <div class="reviews_text">
                            <div class="servis_heding">
                                <h3>John E. Gracia<span><i class="fa fa-calendar" aria-hidden="true"></i> 26 Sept, 2016</span></h3>
                                <a href="#"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a>
                            </div>
                            <p>Vivamus auctor dui et elit facilisis scelerisque. Aenean sed augue urna. Sed aliquam efficitur commodo. Consectetur adipiscing elit. Nullam lacus neque, sollicitudin at dui sed, venenatis sagittis ipsum. In sem ex, commodo pellentesque enim ornare, tempor vehicula massa. </p>
                        </div>
                    </div>
                    <div class="reviews_item">
                        <div class="reviews_img"><img src="@Url.Content("~/Content/img/revews_img.png")" alt="reves"></div>
                        <div class="reviews_text">
                            <div class="servis_heding">
                                <h3>Brittani D. Vega<span><i class="fa fa-calendar" aria-hidden="true"></i>25 Sept, 2016</span></h3>
                                <a href="#"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a>
                            </div>
                            <p>Nullam eleifend mauris non suscipit molestie. Mauris accumsan, massa in euismod pretium, ligula justo dapibus tortor, non mattis magna mauris vel ante. Aenean vitae congue est. Fusce scelerisque tortor vitae ligula sagittis molestie. </p>
                        </div>
                    </div>
                </div>
                <div class="project_heding">
                    <h2>Leave a Review</h2>
                </div>
                <div class="leve_coment">
                    <form id="contact-form" method="post" action="http://metheme.biz/factoryindustrial/html/contact.php">
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="form_email" type="email" name="email" class="form-control" placeholder="Email (will not be published)" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="form_subject" type="text" name="name" class="form-control" placeholder="Subject" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea id="form_message" name="message" class="form-control" placeholder="Comment" rows="6" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-left">
                                    <a href="#" class="hvr-icon-forward we_button">Submit</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="similar_prodec">
                <div class="project_heding">
                    <h2>Related Articles</h2>
                </div>
                <div id="similar_prodec" class="shop_our">
                    <div class="item">
                        <div class="hovereffect">
                            <div class="blog_item">
                                <div class="blog_img">
                                    <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                    <div class="overlay">
                                        <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                    </div>
                                </div>
                                <div class="blog_cont">
                                    <h3>20 kg of Bricks</h3>
                                    <p>$23.99<span>$31.99</span></p>
                                </div>
                                <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hovereffect">
                            <div class="blog_item">
                                <div class="blog_img">
                                    <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                    <div class="overlay">
                                        <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                    </div>
                                </div>
                                <div class="blog_cont">
                                    <h3>20 kg of Bricks</h3>
                                    <p>$23.99<span>$31.99</span></p>
                                </div>
                                <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hovereffect">
                            <div class="blog_item">
                                <div class="blog_img">
                                    <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                    <div class="overlay">
                                        <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                    </div>
                                </div>
                                <div class="blog_cont">
                                    <h3>20 kg of Bricks</h3>
                                    <p>$23.99<span>$31.99</span></p>
                                </div>
                                <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hovereffect">
                            <div class="blog_item">
                                <div class="blog_img">
                                    <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                    <div class="overlay">
                                        <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                    </div>
                                </div>
                                <div class="blog_cont">
                                    <h3>20 kg of Bricks</h3>
                                    <p>$23.99<span>$31.99</span></p>
                                </div>
                                <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hovereffect">
                            <div class="blog_item">
                                <div class="blog_img">
                                    <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                    <div class="overlay">
                                        <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                    </div>
                                </div>
                                <div class="blog_cont">
                                    <h3>20 kg of Bricks</h3>
                                    <p>$23.99<span>$31.99</span></p>
                                </div>
                                <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hovereffect">
                            <div class="blog_item">
                                <div class="blog_img">
                                    <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                    <div class="overlay">
                                        <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                    </div>
                                </div>
                                <div class="blog_cont">
                                    <h3>20 kg of Bricks</h3>
                                    <p>$23.99<span>$31.99</span></p>
                                </div>
                                <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>