﻿@{
    ViewBag.Title = "Products";
}

@section Header {
    @Html.Partial("~/Views/Shared/_PartialHeader2.cshtml")
}

@section Scripts {
    <script src="@Url.Content("~/Content/js/jquery.bxslider.min.js")"></script>
}

@section ScriptsImpl {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#twitter-feed").owlCarousel({
                items: 1,
                lazyLoad: true,
                navigation: true,
                itemsDesktop: [1199, 1],
                itemsDesktopSmall: [979, 1],
                singleItem: true
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.collapse').on('show.bs.collapse', function () {
                var id = $(this).attr('id');
                $('a[href="#' + id + '"]').closest('.panel-heading').addClass('active-faq');
                $('a[href="#' + id + '"] .panel-title span').html('<i class="fa fa-caret-down"></i>');
            });
            $('.collapse').on('hide.bs.collapse', function () {
                var id = $(this).attr('id');
                $('a[href="#' + id + '"]').closest('.panel-heading').removeClass('active-faq');
                $('a[href="#' + id + '"] .panel-title span').html('<i class="fa fa-caret-right"></i>');
            });
        });
    </script>
}


<section class="inner_banner">
    <span>&nbsp;</span>
    <div class="container">
        <ul class="pull-right">
            <li><a href="index.html">Home<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            <li>Project Detail</li>
        </ul>
    </div>
</section>

<section class="client_setion pricing_list">
    <div class="container">
        <div class="cl_heding">
            <h2>Our Projects</h2>
            <p>Recent Works</p>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-8">
                <div class="short_by">
                    <h3>Sort By:</h3>
                    <select>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="vw">VW</option>
                        <option value="audi" selected>Audi</option>
                    </select>
                </div>
                <div class="shop_our">
                    <div class="row">
                        <div class="col-md-4 col-xs-6">
                            <div class="hovereffect">
                                <div class="blog_item">
                                    <div class="blog_img">
                                        <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                        <div class="overlay">
                                            <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                        </div>
                                    </div>
                                    <div class="blog_cont">
                                        <h3>20 kg of Bricks</h3>
                                        <p>$23.99<span>$31.99</span></p>
                                    </div>
                                    <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="hovereffect">
                                <div class="blog_item">
                                    <div class="blog_img">
                                        <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                        <div class="overlay">
                                            <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                        </div>
                                    </div>
                                    <div class="blog_cont">
                                        <h3>20 kg of Bricks</h3>
                                        <p>$23.99<span>$31.99</span></p>
                                    </div>
                                    <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="hovereffect">
                                <div class="blog_item">
                                    <div class="blog_img">
                                        <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                        <div class="overlay">
                                            <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                        </div>
                                    </div>
                                    <div class="blog_cont">
                                        <h3>20 kg of Bricks</h3>
                                        <p>$23.99<span>$31.99</span></p>
                                    </div>
                                    <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="hovereffect">
                                <div class="blog_item">
                                    <div class="blog_img">
                                        <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                        <div class="overlay">
                                            <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                        </div>
                                    </div>
                                    <div class="blog_cont">
                                        <h3>20 kg of Bricks</h3>
                                        <p>$23.99<span>$31.99</span></p>
                                    </div>
                                    <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="hovereffect">
                                <div class="blog_item">
                                    <div class="blog_img">
                                        <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                        <div class="overlay">
                                            <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                        </div>
                                    </div>
                                    <div class="blog_cont">
                                        <h3>20 kg of Bricks</h3>
                                        <p>$23.99<span>$31.99</span></p>
                                    </div>
                                    <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="hovereffect">
                                <div class="blog_item">
                                    <div class="blog_img">
                                        <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                        <div class="overlay">
                                            <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                        </div>
                                    </div>
                                    <div class="blog_cont">
                                        <h3>20 kg of Bricks</h3>
                                        <p>$23.99<span>$31.99</span></p>
                                    </div>
                                    <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="hovereffect">
                                <div class="blog_item">
                                    <div class="blog_img">
                                        <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                        <div class="overlay">
                                            <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                        </div>
                                    </div>
                                    <div class="blog_cont">
                                        <h3>20 kg of Bricks</h3>
                                        <p>$23.99<span>$31.99</span></p>
                                    </div>
                                    <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="hovereffect">
                                <div class="blog_item">
                                    <div class="blog_img">
                                        <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                        <div class="overlay">
                                            <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                        </div>
                                    </div>
                                    <div class="blog_cont">
                                        <h3>20 kg of Bricks</h3>
                                        <p>$23.99<span>$31.99</span></p>
                                    </div>
                                    <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="hovereffect">
                                <div class="blog_item">
                                    <div class="blog_img">
                                        <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                        <div class="overlay">
                                            <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                        </div>
                                    </div>
                                    <div class="blog_cont">
                                        <h3>20 kg of Bricks</h3>
                                        <p>$23.99<span>$31.99</span></p>
                                    </div>
                                    <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="hovereffect">
                                <div class="blog_item">
                                    <div class="blog_img">
                                        <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                        <div class="overlay">
                                            <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                        </div>
                                    </div>
                                    <div class="blog_cont">
                                        <h3>20 kg of Bricks</h3>
                                        <p>$23.99<span>$31.99</span></p>
                                    </div>
                                    <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="hovereffect">
                                <div class="blog_item">
                                    <div class="blog_img">
                                        <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                        <div class="overlay">
                                            <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                        </div>
                                    </div>
                                    <div class="blog_cont">
                                        <h3>20 kg of Bricks</h3>
                                        <p>$23.99<span>$31.99</span></p>
                                    </div>
                                    <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="hovereffect">
                                <div class="blog_item">
                                    <div class="blog_img">
                                        <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                        <div class="overlay">
                                            <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                        </div>
                                    </div>
                                    <div class="blog_cont">
                                        <h3>20 kg of Bricks</h3>
                                        <p>$23.99<span>$31.99</span></p>
                                    </div>
                                    <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="hovereffect">
                                <div class="blog_item">
                                    <div class="blog_img">
                                        <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                        <div class="overlay">
                                            <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                        </div>
                                    </div>
                                    <div class="blog_cont">
                                        <h3>20 kg of Bricks</h3>
                                        <p>$23.99<span>$31.99</span></p>
                                    </div>
                                    <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="hovereffect">
                                <div class="blog_item">
                                    <div class="blog_img">
                                        <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                        <div class="overlay">
                                            <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                        </div>
                                    </div>
                                    <div class="blog_cont">
                                        <h3>20 kg of Bricks</h3>
                                        <p>$23.99<span>$31.99</span></p>
                                    </div>
                                    <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="hovereffect">
                                <div class="blog_item">
                                    <div class="blog_img">
                                        <img class="img-responsive" src="@Url.Content("~/Content/img/shpo_prod1.jpg")" alt="">
                                        <div class="overlay">
                                            <a class="info" href="@Url.Action("ProductDetails", "Home")"><img src="@Url.Content("~/Content/img/our_hover.png")" width="56" height="56" alt="img_hover"></a>
                                        </div>
                                    </div>
                                    <div class="blog_cont">
                                        <h3>20 kg of Bricks</h3>
                                        <p>$23.99<span>$31.99</span></p>
                                    </div>
                                    <a href="#" class="hvr-icon-forward we_button-our">Get Free Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pagi-blog">
                                <ul class="pagination">
                                    <li><a href="#"> <span><i class="fa fa-long-arrow-left" aria-hidden="true"></i></span></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#"> <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="right_sarch">
                    <div class="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="search-query form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button">
                                    <span class=" glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="right_part about_us_side">
                    <h3>About Us</h3>
                    <p>Lorem ipsum dolor sit amet, conut sectetur adipiscing elit. Etiam lacus turpis, cursus eu porta vel, vulpum tate vitae libero. </p>
                </div>
                <div class="right_part Categories_side">
                    <h3>Categories</h3>
                    <ul>
                        <li><a href="#">Cresciam</a></li>
                        <li><a href="#">Nunc brevis</a></li>
                        <li><a href="#">Estem</a></li>
                        <li><a href="#">Aeneat quod</a></li>
                        <li><a href="#">Doloris</a></li>
                        <li><a href="#">Mordum</a></li>
                    </ul>
                </div>
                <div class="right_part Newsletter_side">
                    <h3>Newsletter</h3>
                    <p>Ssubscribe to us & receive our notifications of new posts by email. <u>Join 543 other subscribers!</u></p>
                    <div class="subsrib_bo">
                        <form id="contact-form" method="post" action="http://metheme.biz/factoryindustrial/html/contact.php">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input id="form_email" type="email" name="email" class="form-control" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-left">
                                        <input id="Subscribe_button" name="submit" type="submit" value="Subscribe" class="btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="right_part latest_project">
                    <h3>Popular Products</h3>
                    <ul>
                        <li>
                            <a href="#">
                                <div class="lates_img"><img src="@Url.Content("~/Content/img/pagin1.png")" alt="lest"></div>
                                <div class="letst_text">
                                    <h4>Drainage Pipes</h4>
                                    <h5>$12.00 / 100m</h5>
                                    <h5><i class="fa fa-shopping-basket" aria-hidden="true"></i>Add to Cart</h5>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="lates_img"><img src="@Url.Content("~/Content/img/project_1.png")" alt="lest"></div>
                                <div class="letst_text">
                                    <h4>Drainage Pipes</h4>
                                    <h5>$12.00 / 100m</h5>
                                    <h5><i class="fa fa-shopping-basket" aria-hidden="true"></i>Add to Cart</h5>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="lates_img"><img src="@Url.Content("~/Content/img/project_2.png")" alt="lest"></div>
                                <div class="letst_text">
                                    <h4>Drainage Pipes</h4>
                                    <h5>$12.00 / 100m</h5>
                                    <h5><i class="fa fa-shopping-basket" aria-hidden="true"></i>Add to Cart</h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="right_part latest_project">
                    <h3>Twitter Feed</h3>
                    <div id="twitter-feed" class="owl-carousel twitter-feed">
                        <div class="item">
                            <a href="#">
                                <div class="twitter-img"><img src="@Url.Content("~/Content/img/project_twitter.png")" alt="tiwtter"></div>
                                <div class="tiwitter_text">
                                    <h2>Slumping #Freight Volumes Help Diminish #Rail Profits http://ow.ly/f7343034gPy  #railroad #freightrail @@CSX @@UnionPacific @@nscorp #fossilfuels</h2>
                                    <h3>2 days ago</h3>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="twitter-img"><img src="@Url.Content("~/Content/img/project_twitter.png")" alt="tiwtter"></div>
                                <div class="tiwitter_text">
                                    <h2>Slumping #Freight Volumes Help Diminish #Rail Profits http://ow.ly/f7343034gPy  #railroad #freightrail @@CSX @@UnionPacific @@nscorp #fossilfuels</h2>
                                    <h3>2 days ago</h3>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="twitter-img"><img src="@Url.Content("~/Content/img/project_twitter.png")" alt="tiwtter"></div>
                                <div class="tiwitter_text">
                                    <h2>Slumping #Freight Volumes Help Diminish #Rail Profits http://ow.ly/f7343034gPy  #railroad #freightrail @@CSX @@UnionPacific @@nscorp #fossilfuels</h2>
                                    <h3>2 days ago</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right_part Gallery_project">
                    <h3>Project Gallery</h3>
                    <ul>
                        <li><a href="#"><img src="@Url.Content("~/Content/img/project_gallery1.png")" alt="pr_gallery"></a></li>
                        <li><a href="#"><img src="@Url.Content("~/Content/img/project_gallery2.png")" alt="pr_gallery"></a></li>
                        <li><a href="#"><img src="@Url.Content("~/Content/img/project_gallery3.png")" alt="pr_gallery"></a></li>
                        <li><a href="#"><img src="@Url.Content("~/Content/img/project_gallery4.png")" alt="pr_gallery"></a></li>
                        <li><a href="#"><img src="@Url.Content("~/Content/img/project_gallery5.png")" alt="pr_gallery"></a></li>
                        <li><a href="#"><img src="@Url.Content("~/Content/img/project_gallery6.png")" alt="pr_gallery"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>