﻿@{
    ViewBag.Title = "Services";
}

@section Header {
    @Html.Partial("~/Views/Shared/_PartialHeader2.cshtml")
}

<section class="inner_banner">
    <span>&nbsp;</span>
    <div class="container">
        <ul class="pull-right">
            <li><a href="index.html">Home<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            <li>Services</li>
        </ul>
    </div>
</section>

<section class="body_blog">
    <div class="container">
        <div class="services_heding">
            <h2>Services We Provide</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="hovereffect">
                    <div class="blog_item">
                        <div class="blog_img">
                            <img class="img-responsive" src="@Url.Content("~/Content/img/b_img1.jpg")" alt="">
                            <div class="overlay">
                                <a class="info" href="#"><img src="@Url.Content("~/Content/img/img_hover.png")" width="56" height="56" alt="img_hover"></a>
                            </div>
                        </div>
                        <div class="blog_cont">
                            <h3>Alternative Energy & Power</h3>
                            <p>Our aim is to bring up-to-date analysis and essential information on the renewables industry.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="hovereffect">
                    <div class="blog_item">
                        <div class="blog_img">
                            <img class="img-responsive" src="@Url.Content("~/Content/img/b_img2.jpg")" alt="">
                            <div class="overlay">
                                <a class="info" href="#"><img src="@Url.Content("~/Content/img/img_hover.png")" width="56" height="56" alt="img_hover"></a>
                            </div>
                        </div>
                        <div class="blog_cont">
                            <h3>Materials Engineering</h3>
                            <p>Materials science and engineering influences our lives each time we buy or use a new machine or structure.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="hovereffect">
                    <div class="blog_item">
                        <div class="blog_img">
                            <img class="img-responsive" src="@Url.Content("~/Content/img/b_img3.jpg")" alt="">
                            <div class="overlay">
                                <a class="info" href="#"><img src="@Url.Content("~/Content/img/img_hover.png")" width="56" height="56" alt="img_hover"></a>
                            </div>
                        </div>
                        <div class="blog_cont">
                            <h3>Pharmaceutical Research</h3>
                            <p>We offer reliable, turnkey solutions for your drug development program.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="hovereffect">
                    <div class="blog_item">
                        <div class="blog_img">
                            <img class="img-responsive" src="@Url.Content("~/Content/img/b_img4.jpg")" alt="">
                            <div class="overlay">
                                <a class="info" href="#"><img src="@Url.Content("~/Content/img/img_hover.png")" width="56" height="56" alt="img_hover"></a>
                            </div>
                        </div>
                        <div class="blog_cont">
                            <h3>Agricultural Engineering</h3>
                            <p>We meet our client's needs in all areas of design & construction management of agricultural operations.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="hovereffect">
                    <div class="blog_item">
                        <div class="blog_img">
                            <img class="img-responsive" src="@Url.Content("~/Content/img/b_img5.jpg")" alt="">
                            <div class="overlay">
                                <a class="info" href="#"><img src="@Url.Content("~/Content/img/img_hover.png")" width="56" height="56" alt="img_hover"></a>
                            </div>
                        </div>
                        <div class="blog_cont">
                            <h3>Mechanical Engineering</h3>
                            <p>We bring an expertise in mechanics, kinematics, fluid mechanics, material science to a project. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="hovereffect">
                    <div class="blog_item">
                        <div class="blog_img">
                            <img class="img-responsive" src="@Url.Content("~/Content/img/b_img6.jpg")" alt="">
                            <div class="overlay">
                                <a class="info" href="#"><img src="@Url.Content("~/Content/img/img_hover.png")" width="56" height="56" alt="img_hover"></a>
                            </div>
                        </div>
                        <div class="blog_cont">
                            <h3>Oil Exploration</h3>
                            <p>We’re specialized in the delivery of rotary land rigs, drilling, casing and chemical supplies. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>