﻿@model Consortium.Areas.Furniture.ViewModels.ProductMediasViewModel

@if ("grid".Equals(Model.Option))
{
    foreach (var productMedia in Model.ProductMedias)
    {
        <div class="col-md-3 col-sm-4 gallery-img @(productMedia.IsMain ? "is-main" : "")">

            @if (productMedia.IsMain)
            {
                <span class="label label-success" style="border-radius:0;opacity:0.9;position:absolute;z-index:1;">Main</span>
            }

            <div class="wrap-image">
                <a class="group1" href="@productMedia.Resource.VirtualPath" title="@productMedia.Resource.Name">
                    <img src="@productMedia.Resource.ThumbnailVirtualPath" alt="@productMedia.Resource.Name" title="@productMedia.Resource.Name" class="img-responsive">
                </a>
                @*<div class="chkbox"></div>*@
                <div class="tools tools-bottom">
                    <a href="javascript:;" onclick="$.fn.productJS('handleMainProductMedia', this, @productMedia.Id);" title="Set media as main">
                        <i class="@(productMedia.IsMain ? "clip-star-6" : "clip-star-4")"></i>
                    </a>
                    @*<a href="javascript:;">
                        <i class="clip-pencil-3 "></i>
                    </a>*@
                    <a href="javascript:;" onclick="$.fn.productJS('confirmProductMediaDelete', this, @productMedia.Id);" title="Delete media">
                        <i class="clip-remove"></i>
                    </a>
                </div>
            </div>
        </div>
    }
}