﻿@model IEnumerable<Consortium.Areas.Furniture.ViewModels.ProductViewModel>

@if ("table".Equals(ViewBag.Option))
{
<table id="table" class="table table-striped table-bordered table-hover table-full-width">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model)
        {
            <tr>
                <td>@product.SKU</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.UnitPrice</td>
                <td>@product.TotalPrice</td>
                <td>@product.Status</td>
                <td>
                    <a href="@Url.Action("Detail", "Product", new { id = product.Id })"><i class="fa fa-edit"></i> Edit</a>
                    &nbsp;
                    <a href="javascript:;" onclick="$.fn.productJS('confirmDelete', this, @product.Id)"><i class="fa fa-trash-o"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else if ("tbody-content".Equals(ViewBag.Option))
{
    foreach (var product in Model)
    {
        <tr>
            <td>@product.SKU</td>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.UnitPrice</td>
            <td>@product.TotalPrice</td>
            <td>@product.Status</td>
            <td>
                <a href="@Url.Action("Detail", "Product", new { id = product.Id })"><i class="fa fa-edit"></i> Edit</a>
                &nbsp;
                <a href="javascript:;" onclick="$.fn.productJS('confirmDelete', this, @product.Id)"><i class="fa fa-trash-o"></i> Eliminar</a>
            </td>
        </tr>
    }
}

<!-- end: PAGE CONTENT-->
