﻿@model Consortium.Areas.Furniture.ViewModels.WrapperProductsRelationshipAvailableViewModel

@if ("select".Equals(Model.Option))
{
    @Html.DropDownListFor(m => m.ProductsAvailableForRelationship, Model.DropDownList, "Select a product", Model.Attributes)
}
else if ("select-content".Equals(Model.Option))
{
    <option value="">Select a product</option>
    foreach (var item in Model.ProductsAvailableForRelationship)
    {
        <option value="@item.Id">@item.Name</option>
    }
}