﻿@model Consortium.Areas.Furniture.ViewModels.WrapperProductsRelationshipViewModel

@if ("table".Equals(Model.Option))
{
<table id="table" class="table table-striped table-bordered table-hover table-full-width">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Units</th>
            <th>Tax</th>
            <th>Unit Price</th>
            <th>Total Price</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model.Items)
        {
            <tr>
                <td>@product.SKU</td>
                <td>@product.Name</td>
                <td>@product.Units</td>
                <td>@product.Tax</td>
                <td>@product.UnitPrice</td>
                <td>@product.TotalPrice</td>
                <td>
                    <a href="javascript:;" onclick="$.fn.productJS('loadProductRelationship', this, @product.Id)"><i class="fa fa-pencil"></i> Edit</a>
                    &nbsp;
                    <a href="javascript:;" onclick="$.fn.productJS('confirmDeleteProductRelationship', this, @product.Id)"><i class="fa fa-trash-o"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else if ("tbody-content".Equals(Model.Option))
{
    foreach (var product in Model.Items)
    {
        <tr>
            <td>@product.SKU</td>
            <td>@product.Name</td>
            <td>@product.Units</td>
            <td>@product.Tax</td>
            <td>@product.UnitPrice</td>
            <td>@product.TotalPrice</td>
            <td>
                <a href="javascript:;" onclick="$.fn.productJS('loadProductRelationship', this, @product.Id)"><i class="fa fa-pencil"></i> Edit</a>
                &nbsp;
                <a href="javascript:;" onclick="$.fn.productJS('confirmDeleteProductRelationship', this, @product.Id)"><i class="fa fa-trash-o"></i> Eliminar</a>
            </td>
        </tr>
    }
}

<!-- end: PAGE CONTENT-->
