﻿@model Consortium.Areas.Furniture.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Product Detail";
}

@section Breadcrumbs {
    <li class="active">
        Product Detail
    </li>
}

@section PageHeader {
    Product Detail <small>product detail page</small>
}

@section Styles {
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="@Url.Content("~/Content/assets/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/plugins/bootstrap-modal/css/bootstrap-modal.css")" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/bootstrap-social-buttons/social-buttons-3.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/datepicker/css/datepicker.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/select2/select2.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/colorbox/example2/colorbox.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/css/jquery.fileupload-ui.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/dropzone/downloads/css/dropzone.css")">

    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript>
        <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/css/jquery.fileupload-ui-noscript.css")">
    </noscript>
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
}

@section Scripts {
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

    <script src="@Url.Content("~/Content/assets/plugins/bootstrap-modal/js/bootstrap-modal.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js")"></script>

    <script src="@Url.Content("~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/bootstrap-daterangepicker/moment.min.js")"></script>
    @*<script src="@Url.Content("~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js")"></script>*@
    <script src="@Url.Content("~/Content/assets/plugins/jquery.pulsate/jquery.pulsate.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/form-elements.js")"></script>
    <script src="@Url.Content("~/Areas/Furniture/Content/js/esaw.product.js")"></script>

    <script src="@Url.Content("~/Content/assets/plugins/select2/select2.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/colorbox/jquery.colorbox-min.js")"></script>

    <script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/vendor/jquery.ui.widget.js")"></script>

    <script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/jquery.iframe-transport.js")"></script>
    <!-- The basic File Upload plugin -->
    <script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/jquery.fileupload.js")"></script>
    <!-- The File Upload processing plugin -->
    <script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/jquery.fileupload-process.js")"></script>
    <!-- The File Upload user interface plugin -->
    <script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/jquery.fileupload-ui.js")"></script>

    <script src="@Url.Content("~/Content/assets/plugins/dropzone/downloads/dropzone.min.js")"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
}

@section ScriptsImpl {

    <script type="text/javascript">

        var messenger = new ESAWMessengers.basic("#wrapper-message");

        @if(Model.HasId)
        {
        <text>
        var productRelationshipLoadForm = new ESAWForms.loadForm("#panel_product_relationship",
            "@Url.Action("LoadProductForRelationship", "Product", new { productOwnerId = Model.Id })", messenger,
            new ESAWAjaxLoader.basic("#wrapper-product-relationship-form", "ajax-loader"),
            {
                makeFormVisible: function(makeVisible) {

                    if (makeVisible) {
                        $('#wrap-product-relationship-form').show();
                    } else {
                        $('#wrap-product-relationship-form').hide();
                        $('select#ProductsAvailableForRelationship').val('');
                    }
                }
            });

        productRelationshipLoadForm.addFormItem("#frmProductRelatioship #Id", "hidden", "Id");
        productRelationshipLoadForm.addFormItem("#frmProductRelatioship #ProductDependantId", "hidden", "ProductDependantId");
        productRelationshipLoadForm.addFormItem("#frmProductRelatioship #SKU", "text", "SKU");
        productRelationshipLoadForm.addFormItem("#frmProductRelatioship #Name", "text", "Name");
        productRelationshipLoadForm.addFormItem("#frmProductRelatioship #Tax", "text", "Tax");
        productRelationshipLoadForm.addFormItem("#frmProductRelatioship #UnitPrice", "text", "UnitPrice");
        productRelationshipLoadForm.addFormItem("#frmProductRelatioship #Units", "text", "Units");
        productRelationshipLoadForm.addFormItem("#frmProductRelatioship #TotalPrice", "text", "TotalPrice");
        </text>
        }
        var _ESAW = {
            productInfoForm: new ESAWForms.basic("#frmProductInfo", "@Url.Action("Detail", "Product")",
                messenger, new ESAWAjaxLoader.basic("#panel_edit_product_info", "ajax-loader")),
            productInfoFormValidations: {
                rules: {
                    "Name": { required: true },
                    "Description": { required: true },
                    "Price": { required: true }
                },
                messages: {
                    "Name": { required: "Name is a required field" },
                    "Description": { required: "Description is a required field" },
                    "Price": { required: "Price is a required field" }
                }
            },
            @if(Model.HasId)
            {
            <text>

            productRelationshipLoadTable: new ESAWForms.load("#wrapper-product-relationship-table table > tbody",
                "@Url.Action("ProductsInRelationship", "_RenderAction", new { id = Model.Id, option = "tbody-content" })", messenger,
                new ESAWAjaxLoader.basic("#wrapper-product-relationship-table", "ajax-loader")),

            productAvailableForRelationshipLoad: new ESAWForms.load("select#ProductsAvailableForRelationship",
                "@Url.Action("ProductsAvailableForRelationship", "_RenderAction", new { id = Model.Id, option = "select-content" })", messenger,
                new ESAWAjaxLoader.basic("#wrapper-product-relationship-form", "ajax-loader")),

            productRelationshipLoadForm: productRelationshipLoadForm,

            productRelationshipForm: new ESAWForms.basic("#frmProductRelatioship", "@Url.Action("SaveProductRelationship", "Product", new { ProductOwnerId = Model.Id })",
                messenger, new ESAWAjaxLoader.basic("#wrapper-product-relationship-form", "ajax-loader")),


            deleteProductRelationshipModal: new ESAWModals.confirm("#modal-product-relationship-delete"),
            deleteProductRelationshipTable: new ESAWForms.delete("@Url.Action("RemoveProductRelationship", "Product", new { id = Model.Id })",
                messenger, new ESAWAjaxLoader.basic("#modal-product-relationship-delete", "ajax-loader")),

            deleteProductMediaModal: new ESAWModals.confirm('#modal-delete'),
            deleteProductMediaGrid: new ESAWForms.delete("@Url.Action("DeleteProductMedia", "Product")",
                messenger, new ESAWAjaxLoader.basic("#modal-delete", "ajax-loader")),

            loadProductMedias: new ESAWForms.load("#wrapper-product-media", "@Url.Action("ProductMedias", "_RenderAction", new { id = Model.Id, option = "grid" })",
                messenger, new ESAWAjaxLoader.basic("#wrapper-product-media", "ajax-loader"),
                function () {
                    var thumbnailUrl = $('div.gallery-img.is-main .wrap-image > a').attr('href');
                    if (!$.isEmptyObject(thumbnailUrl)) {
                        $('#fileupload-image').attr('src', thumbnailUrl);
                    }
                }),

            handleMainProductMedia: new ESAWForms.single("#panel_product_medias", "@Url.Action("HandleMainProductMedia", "Product", new { id = Model.Id })",
                messenger, new ESAWAjaxLoader.basic("#wrapper-product-media", "ajax-loader")),

            productMediaColorbox: new ESAWPlugins.colorbox(".group1", { rel: "group1" }),
            productMediaDropzone: new ESAWPlugins.dropZone("#frmProductMedia", {
                autoProcessQueue: false,
                parallelUploads: 100,
                dictDefaultMessage: "File Upload",
                previewTemplate: document.getElementById("template-preview").innerHTML,
                init: function () {  },
                sending: function (file, xhr, formData) {
                    formData.append("OwnerId", @Model.Id);
                    formData.append("ModelIdentifier", "PRODUCT_FURNITURE_MEDIA");
                    //var form = { "Text": "#Text" };
                    //for(var f in form)
                    //    formData.append(f, $(form[f], file.previewElement).val());
                },
                success: function (file, response, progressEvent) {

                    $(file.previewElement).fadeOut('slow', function () {
                        file.previewElement.parentNode.removeChild(file.previewElement);
                    });

                    $.fn.productJS('loadProductMedias', _ESAW.loadProductMedias.$[0]);
                },
                queuecomplete: function () {
                    _ESAW.productMediaColorbox.destroy();
                    _ESAW.productMediaColorbox.init();
                }
            })
            </text>
            }
        };

    </script>

    <script type="text/javascript">
        Dropzone.autoDiscover = false;
        $(function () {

            Main.init();

            $('.wrap-image .chkbox').bind('click', function () {
                if ($(this).parent().hasClass('selected')) {
                    $(this).parent().removeClass('selected').children('a').children('img').removeClass('selected');
                } else {
                    $(this).parent().addClass('selected').children('a').children('img').addClass('selected');
                }
            });

            @if(TempData["DataMessage"] != null)
            {
            <text>
            var dataMessages = @Html.Raw(Json.Encode(TempData["DataMessage"]));
            _ESAW.accountInfoForm.messenger.showMessage(dataMessages.Messages[0]);
            </text>
            }
        });
    </script>
}

<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-sm-12">

        <div id="wrapper-message"></div>

        <div class="tabbable">

            <ul class="nav nav-tabs tab-padding tab-space-3 tab-blue" id="myTab4">
                @if (Model.HasId)
                {
                    <li class="active">
                        <a data-toggle="tab" href="#panel_overview">
                            Overview
                        </a>
                    </li>
                }
                <li>
                    @*@(!Model.HasId ? "class=active" : String.Empty)*@
                    <a data-toggle="tab" href="#panel_edit_product_info">
                        Edit Product Info
                    </a>
                </li>

                @if (Model.HasId)
                {
                <li>
                    <a data-toggle="tab" href="#panel_product_relationship">
                        Relationship
                    </a>
                </li>
                }


                @if (Model.HasId)
                {
                <li>
                    <a data-toggle="tab" href="#panel_product_media">
                        Media
                    </a>
                </li>
                }
            </ul>

            <div class="tab-content">
                @if (Model.HasId)
                {
                    <div id="panel_overview" class="tab-pane in active">
                        <div class="row">
                            <div class="col-sm-5 col-md-4">
                                <div class="user-left">
                                    <div class="center">
                                        <h4>
                                            @Html.DisplayFor(m => m.Name)
                                        </h4>
                                        <form enctype="multipart/form-data">
                                            <div id="fileupload-user-picture" class="fileupload fileupload-new" data-provides="fileupload">
                                                <div class="user-image">

                                                    <div id="fileupload-image-thumbnail" class="fileupload-new thumbnail">
                                                        <img id="fileupload-image"
                                                             onerror="this.src='@Html.DisplayFor(m => m.DefaultImageUrl)';this.onerror=null;"
                                                             src="@Html.DisplayFor(m => m.ImageUrl)"
                                                             alt="@Html.DisplayFor(m => m.Name)"
                                                             title="@Html.DisplayFor(m => m.Name)" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <hr>
                                        <p>
                                            <a href="javascript:;" class="btn btn-twitter btn-sm btn-squared">
                                                <i class="fa fa-globe"></i>
                                            </a>
                                            <a href="javascript:;" class="btn btn-twitter btn-sm btn-squared">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="javascript:;" class="btn btn-linkedin btn-sm btn-squared">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                            <a href="javascript:;" class="btn btn-google-plus btn-sm btn-squared">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a href="javascript:;" class="btn btn-facebook btn-sm btn-squared">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a class="btn btn-skype btn-sm btn-squared">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </p>
                                        <hr />
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-sm-7 col-md-8">

                                <div class="panel panel-white">
                                    <div class="panel-heading">
                                        <i class="clip-menu"></i>
                                        Recent Activities
                                        <div class="panel-tools">
                                            <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                            </a>
                                            @*<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                                        <i class="fa fa-wrench"></i>
                                                    </a>
                                                    <a class="btn btn-xs btn-link panel-refresh" href="#">
                                                        <i class="fa fa-refresh"></i>
                                                    </a>
                                                    <a class="btn btn-xs btn-link panel-close" href="#">
                                                        <i class="fa fa-times"></i>
                                                </a>*@
                                        </div>
                                    </div>
                                    <div class="panel-body panel-scroll" style="height:300px">
                                        <ul class="activities">
                                            <li>
                                                <a class="activity" href="javascript:void(0)">
                                                    <i class="clip-upload-2 circle-icon circle-green"></i>
                                                    <span class="desc">You uploaded a new release.</span>
                                                    <div class="time">
                                                        <i class="fa fa-time bigger-110"></i>
                                                        2 hours ago
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="activity" href="javascript:void(0)">
                                                    <img alt="image" src="@Url.Content("~/Content/assets/images/avatar-2.jpg")">
                                                    <span class="desc">Nicole Bell sent you a message.</span>
                                                    <div class="time">
                                                        <i class="fa fa-time bigger-110"></i>
                                                        3 hours ago
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="activity" href="javascript:void(0)">
                                                    <i class="clip-data circle-icon circle-bricky"></i>
                                                    <span class="desc">DataBase Migration.</span>
                                                    <div class="time">
                                                        <i class="fa fa-time bigger-110"></i>
                                                        5 hours ago
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="activity" href="javascript:void(0)">
                                                    <i class="clip-clock circle-icon circle-teal"></i>
                                                    <span class="desc">You added a new event to the calendar.</span>
                                                    <div class="time">
                                                        <i class="fa fa-time bigger-110"></i>
                                                        8 hours ago
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="activity" href="javascript:void(0)">
                                                    <i class="clip-images-2 circle-icon circle-green"></i>
                                                    <span class="desc">Kenneth Ross uploaded new images.</span>
                                                    <div class="time">
                                                        <i class="fa fa-time bigger-110"></i>
                                                        9 hours ago
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="activity" href="javascript:void(0)">
                                                    <i class="clip-image circle-icon circle-green"></i>
                                                    <span class="desc">Peter Clark uploaded a new image.</span>
                                                    <div class="time">
                                                        <i class="fa fa-time bigger-110"></i>
                                                        12 hours ago
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel panel-white">
                                    <div class="panel-heading">
                                        <i class="clip-checkmark-2"></i>
                                        To Do
                                        <div class="panel-tools">
                                            <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                            </a>
                                            <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                                <i class="fa fa-wrench"></i>
                                            </a>
                                            <a class="btn btn-xs btn-link panel-refresh" href="#">
                                                <i class="fa fa-refresh"></i>
                                            </a>
                                            <a class="btn btn-xs btn-link panel-close" href="#">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="panel-body panel-scroll" style="height:300px">
                                        <ul class="todo">
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc" style="opacity: 1; text-decoration: none;">Staff Meeting</span>
                                                    <span class="label label-danger" style="opacity: 1;"> today</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc" style="opacity: 1; text-decoration: none;"> New frontend layout</span>
                                                    <span class="label label-danger" style="opacity: 1;"> today</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc"> Hire developers</span>
                                                    <span class="label label-warning"> tommorow</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc">Staff Meeting</span>
                                                    <span class="label label-warning"> tommorow</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc"> New frontend layout</span>
                                                    <span class="label label-success"> this week</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc"> Hire developers</span>
                                                    <span class="label label-success"> this week</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc"> New frontend layout</span>
                                                    <span class="label label-info"> this month</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc"> Hire developers</span>
                                                    <span class="label label-info"> this month</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc" style="opacity: 1; text-decoration: none;">Staff Meeting</span>
                                                    <span class="label label-danger" style="opacity: 1;"> today</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc" style="opacity: 1; text-decoration: none;"> New frontend layout</span>
                                                    <span class="label label-danger" style="opacity: 1;"> today</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc"> Hire developers</span>
                                                    <span class="label label-warning"> tommorow</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }

                <div id="panel_edit_product_info" class="tab-pane @(!Model.HasId ? "in active" : String.Empty)">
                    <form action="@Url.Action("Detail", "Product")" role="form" id="frmProductInfo">
                        @Html.AntiForgeryToken()
                        @*@Html.Hidden("Id", Model.Id)*@
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Product Info</h3>
                                <hr>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        SKU
                                    </label>
                                    <span class="input-icon">
                                        <input type="text" placeholder="SKU" value="@Html.DisplayFor(m => m.SKU)" class="form-control" name="SKU">
                                        <i class="clip-user"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        Name
                                    </label>
                                    <span class="input-icon">
                                        <input type="text" placeholder="Name" value="@Html.DisplayFor(m => m.Name)" class="form-control" name="Name">
                                        <i class="clip-user"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        Description
                                    </label>
                                    <span class="input-icon">
                                        <input type="text" placeholder="Description" value="@Html.DisplayFor(m => m.Description)" class="form-control" name="Description">
                                        <i class="clip-user"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        Stock
                                    </label>
                                    <span class="input-icon">
                                        <input type="text" placeholder="Stock" value="@Html.DisplayFor(m => m.Stock)" class="form-control" name="Stock">
                                        <i class="clip-user"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        Tax
                                    </label>
                                    <span class="input-icon">
                                        <input type="text" placeholder="Tax" value="@Html.DisplayFor(m => m.Tax)" class="form-control" name="Tax">
                                        <i class="clip-user"></i>
                                    </span>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        Unit Price
                                    </label>
                                    <span class="input-icon">
                                        <input type="text" placeholder="Unit Price" value="@Html.DisplayFor(m => m.UnitPrice)" class="form-control" name="UnitPrice">
                                        <i class="clip-user"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        Total Price
                                    </label>
                                    <span class="input-icon">
                                        <input type="text" placeholder="TotalPrice" value="@Html.DisplayFor(m => m.TotalPrice)" class="form-control" name="TotalPrice">
                                        <i class="clip-user"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        Status
                                    </label>
                                    @{ Html.RenderAction("Statuses", "_RenderAction", new { Area = "Admin", id = Model.StatusId, option = "select" }); }
                                    @*@Html.DropDownListFor(m => m.StatusId, Model.Statuses, new { @class = "form-control" })*@
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        Status
                                    </label>
                                    @{Html.RenderAction("ProductTypes", "_RenderAction", new { id = Model.TypeId, option = "select" });}
                                </div>
                            </div>
                            


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">
                                        Full Description
                                    </label>
                                    <span class="input-icon">
                                        <input type="text" placeholder="Full Description" value="@Html.ValueFor(m => m.FullDescription)" class="form-control" name="FullDescription">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    @*Required Fields*@
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                @*<p>
                                        By clicking UPDATE, you are agreeing to the Policy and Terms &amp; Conditions.
                                    </p>*@
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-teal btn-block" type="submit" onclick="return $.fn.productJS('saveProductInfo', this);">
                                    Save <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                
                
                
                
                @if (Model.HasId)
                {
                <div id="panel_product_relationship" class="tab-pane">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Product Relationship</h3>
                            <hr>
                        </div>

                        <div id="wrapper-product-relationship-form" class="col-md-5 user-left">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        @{Html.RenderAction("ProductsAvailableForRelationship", "_RenderAction", new { id = Model.Id, option = "select", attributes = "class=form-control;onchange=$.fn.productJS('loadProductForRelationship', this, this.value)" });}

                                    </div>
                                </div>
                            </div>
                            <div id="wrap-product-relationship-form" class="row" style="display:none;">
                                <form id="frmProductRelatioship">
                                    <input id="Id" name="Id" type="hidden" value="" />
                                    @*<input id="ProductOwnerId" name="ProductOwnerId" type="hidden" value="@Model.Id" />*@
                                    <input id="ProductDependantId" name="ProductDependantId" type="hidden" value="" />
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                SKU
                                            </label>
                                            <span class="input-icon">
                                                <input type="text" placeholder="SKU" value="" class="form-control" id="SKU" name="SKU" readonly>
                                                <i class="fa fa-certificate"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Name
                                            </label>
                                            <span class="input-icon">
                                                <input type="text" placeholder="Name" value="" class="form-control" id="Name" name="Name">
                                                <i class="fa fa-suitcase"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Tax
                                            </label>
                                            <span class="input-icon">
                                                <input type="text" placeholder="Tax" value="" class="form-control" id="Tax" name="Tax">
                                                <i class="fa-ellipsis-horizontal">%</i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Unit Price
                                            </label>
                                            <span class="input-icon">
                                                <input type="text" placeholder="Unit Price" value="" class="form-control" id="UnitPrice" name="UnitPrice">
                                                <i class="fa fa-dollar"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Units
                                            </label>
                                            <span class="input-icon">
                                                <input type="text" placeholder="Units" value="" class="form-control" id="Units" name="Units">
                                                <i class="fa fa-archive"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Total Price
                                            </label>
                                            <span class="input-icon">
                                                <input type="text" placeholder="Total Price" value="" class="form-control" id="TotalPrice" name="TotalPrice">
                                                <i class="fa fa-dollar"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div>
                                            @*Required Fields*@
                                            <hr>
                                        </div>
                                    </div>

                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">

                                        <button class="btn btn-danger btn-block" type="button" onclick="return $.fn.productJS('closeProductRelationship', this);">
                                            Close <i class="fa fa-times"></i>
                                        </button>

                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-teal btn-block" type="submit" onclick="return $.fn.productJS('addProductRelationship', this);">
                                            Add <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>


                        <div id="wrapper-product-relationship-table" class="col-md-7" style="position:relative;">
                            @{Html.RenderAction("ProductsInRelationship", "_RenderAction", new { id = Model.Id, option = "table"});}
                        </div>

                    </div>
                </div>
                }





                @if (Model.HasId)
                {
                <div id="panel_product_media" class="tab-pane">

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Product Media</h3>
                            <hr>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">



                            <!-- start: DROPZONE PANEL -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-external-link-square"></i>
                                    Dropzone File Upload
                                    <div class="panel-tools">
                                        <a class="btn btn-xs btn-link panel-collapse expand" href="javascript:;">
                                        </a>
                                        <a class="btn btn-xs btn-link panel-upload" href="javascript:;" onclick="$.fn.productJS('uploadAllMediaFiles', this)">
                                            <i class="fa fa-upload"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="panel-body" style="display:none;">
                                    @*<div class="alert alert-warning">
                                                Please note that demo server is not configured to save uploaded files, therefore you may get an error message.
                                        </div>*@
                                    <form action="@Url.Action("Upload", "File", new { Area = "Admin" })" class="dropzone" id="frmProductMedia" name="frmProductMedia"></form>
                                </div>
                            </div>
                            <!-- end: DROPZONE PANEL -->
                        </div>
                    </div>


                    <div id="wrapper-product-media" class="row">
                        @{Html.RenderAction("ProductMedias", "_RenderAction", new { id = Model.Id, option = "grid" });}
                    </div>

                </div>
                }

            </div>
        </div>
    </div>
</div>
<!-- end: PAGE CONTENT-->


<div class="hidden">
    <div id="template-preview" class="dropzone-previews">
        <div class="dz-preview dz-image-preview">
            <div class="dz-details">
                <div class="dz-filename"><span data-dz-name></span></div>
                <div class="dz-size" data-dz-size></div>
                <img data-dz-thumbnail />
            </div>
            <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
            <div class="dz-success-mark"><span>✔</span></div>
            <div class="dz-error-mark"><span>✘</span></div>
            <div class="dz-error-message"><span data-dz-errormessage></span></div>
        </div>
    </div>

</div>

<style type="text/css">
    a.dz-remove {
        margin-top: 10px !important;
    }
</style>

<div id="modal-delete" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title">Delete Media</h4>
    </div>
    <div class="modal-body">
        <p>
            Are you sure, do you want to delete media?
        </p>
    </div>
    <div class="modal-footer">
        <button id="btnNo" type="button" data-dismiss="modal" class="btn btn-default">
            No
        </button>
        <button id="btnYes" type="button" class="btn btn-primary">
            Yes
        </button>
    </div>
</div>

<div id="modal-product-relationship-delete" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title">Delete Product Relationship</h4>
    </div>
    <div class="modal-body">
        <p>
            Are you sure, do you want to delete product relationship?
        </p>
    </div>
    <div class="modal-footer">
        <button id="btnNo" type="button" data-dismiss="modal" class="btn btn-default">
            No
        </button>
        <button id="btnYes" type="button" class="btn btn-primary">
            Yes
        </button>
    </div>
</div>