﻿@{
    ViewBag.Title = "Products";
}

@section Breadcrumbs {
    <li class="active">
        Products
    </li>
}

@section PageHeader {
    Products <small>products list</small>
}

@section Styles {
    <link href="@Url.Content("~/Content/assets/plugins/select2/select2.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/plugins/DataTables/media/css/DT_bootstrap.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/assets/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/plugins/bootstrap-modal/css/bootstrap-modal.css")" rel="stylesheet" type="text/css" />

}

@section Scripts {
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="@Url.Content("~/Content/assets/plugins/bootbox/bootbox.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/plugins/jquery-mockjax/jquery.mockjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/plugins/select2/select2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/Furniture/Content/js/esaw.product.js")"></script>

    <script src="@Url.Content("~/Content/assets/plugins/bootstrap-modal/js/bootstrap-modal.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js")"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
}

@section ScriptsImpl {

    <script type="text/javascript">
        var _ESAW = {
            deleteProductForm: new ESAWForms.delete('@Url.Action("Delete", "Product")',
                new ESAWMessengers.basic('#wrapper-message'), new ESAWAjaxLoader.basic('#modal-delete', 'ajax-loader')),

            loadProductsTable: new ESAWForms.load('#wrapper-products > #table > tbody', '@Url.Action("Products", "_RenderAction", new { option = "tbody-content" })',
                new ESAWMessengers.basic('#wrapper-message'), new ESAWAjaxLoader.basic('#wrapper-panel-products', 'ajax-loader')),

            productsTable: new ESAWPlugins.dataTable("#table", {}),

            deleteModal: new ESAWModals.confirm('#modal-delete')
        };

    </script>


    <script type="text/javascript">
        $(function () {
            Main.init();
        });
    </script>
}

<!-- start: PAGE CONTENT -->
<div class="row">

    <div class="col-md-12">
        <div id="wrapper-message"></div>
    </div>

    <div class="col-md-12 space20">
        <a href="@Url.Action("Detail", "Product")"><i class="fa fa-plus"></i> Add</a>
    </div>

    <div class="col-md-12">
        <!-- start: DYNAMIC TABLE PANEL -->
        <div id="wrapper-panel-products" class="panel panel-default" style="position:relative;">
            <div class="panel-heading">
                <i class="fa fa-external-link-square"></i>
                Products List
                <div class="panel-tools">
                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#"> </a>
                    @*<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal"> <i class="fa fa-wrench"></i> </a>*@
                    <a class="btn btn-xs btn-link panel-refresh" href="#"> <i class="fa fa-refresh"></i> </a>
                    <a class="btn btn-xs btn-link panel-expand" href="#"> <i class="fa fa-resize-full"></i> </a>
                    @*<a class="btn btn-xs btn-link panel-close" href="#"> <i class="fa fa-times"></i> </a>*@
                </div>
            </div>
            <div id="wrapper-products" class="panel-body">

                @{ Html.RenderAction("Products", "_RenderAction", new { Area = "Furniture", option = "table" }); }

            </div>
        </div>
        <!-- end: DYNAMIC TABLE PANEL -->
    </div>
</div>

<div id="modal-delete" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title">Delete Product</h4>
    </div>
    <div class="modal-body">
        <p>
            Are you sure, do you want to delete product?
        </p>
    </div>
    <div class="modal-footer">
        <button id="btnNo" type="button" data-dismiss="modal" class="btn btn-default">
            No
        </button>
        <button id="btnYes" type="button" class="btn btn-primary">
            Yes
        </button>
    </div>
</div>
