﻿@model Consortium.Areas.Hotel.ViewModels.RoomMediasViewModel

@if ("grid".Equals(Model.Option))
{
    foreach (var roomMedia in Model.RoomMedias)
    {
        <div class="col-md-3 col-sm-4 gallery-img @(roomMedia.IsMain ? "is-main" : "")">

            @if (roomMedia.IsMain)
            {
                <span class="label label-success" style="border-radius:0;opacity:0.9;position:absolute;z-index:1;">Main</span>
            }

            <div class="wrap-image">
                <a class="group1" href="@roomMedia.Resource.VirtualPath" title="@roomMedia.Resource.Name">
                    <img src="@roomMedia.Resource.ThumbnailVirtualPath" alt="@roomMedia.Resource.Name" title="@roomMedia.Resource.Name" class="img-responsive">
                </a>
                @*<div class="chkbox"></div>*@
                <div class="tools tools-bottom">
                    <a href="javascript:;" onclick="$.fn.roomJS('handleMainRoomMedia', this, @roomMedia.Id);" title="Set media as main">
                        <i class="@(roomMedia.IsMain ? "clip-star-6" : "clip-star-4")"></i>
                    </a>
                    @*<a href="javascript:;">
                        <i class="clip-pencil-3 "></i>
                    </a>*@
                    <a href="javascript:;" onclick="$.fn.roomJS('confirmRoomMediaDelete', this, @roomMedia.Id);" title="Delete media">
                        <i class="clip-remove"></i>
                    </a>
                </div>
            </div>
        </div>
    }
}