﻿@model IEnumerable<Consortium.Areas.Hotel.ViewModels.RoomViewModel>

@if ("table".Equals(ViewBag.Option))
{
<table id="table" class="table table-striped table-bordered table-hover table-full-width">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var room in Model)
        {
            <tr>
                <td>@room.Name</td>
                <td>@room.Description</td>
                <td>@room.Price</td>
                <td>@room.Status</td>
                <td>
                    <a href="@Url.Action("Detail", "Room", new { id = room.Id })"><i class="fa fa-edit"></i> Edit</a>
                    &nbsp;
                    <a href="javascript:;" onclick="$.fn.roomJS('confirmDelete', this, @room.Id)"><i class="fa fa-trash-o"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else if ("tbody-content".Equals(ViewBag.Option))
{
    foreach (var room in Model)
    {
        <tr>
            <td>@room.Name</td>
            <td>@room.Description</td>
            <td>@room.Price</td>
            <td>@room.Status</td>
            <td>
                <a href="@Url.Action("Detail", "Room", new { id = room.Id })"><i class="fa fa-edit"></i> Edit</a>
                &nbsp;
                <a href="javascript:;" onclick="$.fn.roomJS('confirmDelete', this, @room.Id)"><i class="fa fa-trash-o"></i> Eliminar</a>
            </td>
        </tr>
    }
}

<!-- end: PAGE CONTENT-->
