﻿@model Consortium.Areas.Hotel.ViewModels.RoomViewModel

@{
    ViewBag.Title = "Room Detail";
}

@section Breadcrumbs {
    <li class="active">
        Room Detail
    </li>
}

@section PageHeader {
    Room Detail <small>room detail page</small>
}

@section Styles {
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="@Url.Content("~/Content/assets/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/plugins/bootstrap-modal/css/bootstrap-modal.css")" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/bootstrap-social-buttons/social-buttons-3.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/datepicker/css/datepicker.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/select2/select2.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/colorbox/example2/colorbox.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/css/jquery.fileupload-ui.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/dropzone/downloads/css/dropzone.css")">

    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript>
        <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/css/jquery.fileupload-ui-noscript.css")">
    </noscript>
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
}

@section Scripts {
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

    <script src="@Url.Content("~/Content/assets/plugins/bootstrap-modal/js/bootstrap-modal.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js")"></script>

    <script src="@Url.Content("~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/bootstrap-daterangepicker/moment.min.js")"></script>
    @*<script src="@Url.Content("~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js")"></script>*@
    <script src="@Url.Content("~/Content/assets/plugins/jquery.pulsate/jquery.pulsate.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/form-elements.js")"></script>
    <script src="@Url.Content("~/Areas/Hotel/Content/js/esaw.room.js")"></script>

    <script src="@Url.Content("~/Content/assets/plugins/select2/select2.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/colorbox/jquery.colorbox-min.js")"></script>

    <script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/vendor/jquery.ui.widget.js")"></script>

    <script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/jquery.iframe-transport.js")"></script>
    <!-- The basic File Upload plugin -->
    <script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/jquery.fileupload.js")"></script>
    <!-- The File Upload processing plugin -->
    <script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/jquery.fileupload-process.js")"></script>
    <!-- The File Upload user interface plugin -->
    <script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/jquery.fileupload-ui.js")"></script>

    <script src="@Url.Content("~/Content/assets/plugins/dropzone/downloads/dropzone.min.js")"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
}

@section ScriptsImpl {

    <script type="text/javascript">

        var messenger = new ESAWMessengers.basic("#wrapper-message");
        var _ESAW = {
            roomInfoForm: new ESAWForms.basic("#frmRoomInfo", "@Url.Action("Detail", "Room")",
                messenger, new ESAWAjaxLoader.basic("#panel_edit_room_info", "ajax-loader")),
            roomInfoFormValidations: {
                rules: {
                    "Name": { required: true },
                    "Description": { required: true },
                    "Price": { required: true }
                },
                messages: {
                    "Name": { required: "Name is a required field" },
                    "Description": { required: "Description is a required field" },
                    "Price": { required: "Price is a required field" }
                }
            },
            @if(Model.HasId)
            {
            <text>
            roomFacilities: new ESAWPlugins.select2Ajax("#RoomFacilities", { placeholder: "Choose Item" },
                $.fn.roomJS, ['addRoomFacility', document.getElementById("RoomFacilities")],
                $.fn.roomJS, ['dropRoomFacility', document.getElementById("RoomFacilities")]),
            roomFacilityForm: new ESAWForms.single("#RoomFacilities", "@Url.Action("HandleFacility", "Room", new { id = Model.Id, facilityId = "_facilityId_" })",
                messenger, new ESAWAjaxLoader.basic("#panel_room_facilities", "ajax-loader")),

            deleteRoomMediaModal: new ESAWModals.confirm('#modal-delete'),
            deleteRoomMediaGrid: new ESAWForms.delete("@Url.Action("DeleteRoomMedia", "Room")",
                messenger, new ESAWAjaxLoader.basic("#modal-delete", "ajax-loader")),

            loadRoomMedia: new ESAWForms.load("#wrapper-room-media", "@Url.Action("RoomMedias", "_RenderAction", new { id = Model.Id, option = "grid" })",
                messenger, new ESAWAjaxLoader.basic("#wrapper-room-media", "ajax-loader"),
                function () {
                    var thumbnailUrl = $('div.gallery-img.is-main .wrap-image > a').attr('href');
                    if (!$.isEmptyObject(thumbnailUrl)) {
                        $('#fileupload-image').attr('src', thumbnailUrl);
                    }
                }),

            handleMainRoomMedia: new ESAWForms.single("#panel_room_medias", "@Url.Action("HandleMainRoomMedia", "Room", new { id = Model.Id })",
                messenger, new ESAWAjaxLoader.basic("#wrapper-room-media", "ajax-loader")),

            roomMediaColorbox: new ESAWPlugins.colorbox(".group1", { rel: "group1" }),
            roomMediaDropzone: new ESAWPlugins.dropZone("#frmRoomMedia", {
                autoProcessQueue: false,
                parallelUploads: 100,
                dictDefaultMessage: "File Upload",
                previewTemplate: document.getElementById("template-preview").innerHTML,
                init: function () {  },
                sending: function (file, xhr, formData) {
                    formData.append("OwnerId", @Model.Id);
                    formData.append("ModelIdentifier", "ROOM_MEDIA");
                    //var form = { "Text": "#Text" };
                    //for(var f in form)
                    //    formData.append(f, $(form[f], file.previewElement).val());
                },
                success: function (file, response, progressEvent) {

                    $(file.previewElement).fadeOut('slow', function () {
                        file.previewElement.parentNode.removeChild(file.previewElement);
                    });

                    $.fn.roomJS('loadRoomMedias', _ESAW.loadRoomMedia.$[0]);
                },
                queuecomplete: function () {
                    _ESAW.roomMediaColorbox.destroy();
                    _ESAW.roomMediaColorbox.init();
                }
            })
            </text>
            }
        };

    </script>

    <script type="text/javascript">
        Dropzone.autoDiscover = false;
        $(function () {

            Main.init();

            $('.wrap-image .chkbox').bind('click', function () {
                if ($(this).parent().hasClass('selected')) {
                    $(this).parent().removeClass('selected').children('a').children('img').removeClass('selected');
                } else {
                    $(this).parent().addClass('selected').children('a').children('img').addClass('selected');
                }
            });

            @if(TempData["DataMessage"] != null)
            {
            <text>
            var dataMessages = @Html.Raw(Json.Encode(TempData["DataMessage"]));
            _ESAW.accountInfoForm.messenger.showMessage(dataMessages.Messages[0]);
            </text>
            }
        });
    </script>
}

<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-sm-12">

        <div id="wrapper-message"></div>

        <div class="tabbable">

            <ul class="nav nav-tabs tab-padding tab-space-3 tab-blue" id="myTab4">
                @if (Model.HasId)
            {
                    <li class="active">
                        <a data-toggle="tab" href="#panel_overview">
                            Overview
                        </a>
                    </li>
                }
                <li>
                    @*@(!Model.HasId ? "class=active" : String.Empty)*@
                <a data-toggle="tab" href="#panel_edit_room_info">
                    Edit Room Info
                </a>
            </li>
            @if (Model.HasId)
            {
                <li>
                    <a data-toggle="tab" href="#panel_room_facilities">
                        Facilities
                    </a>
                </li>
            }
            @if (Model.HasId)
            {
                <li>
                    <a data-toggle="tab" href="#panel_room_media">
                        Media
                    </a>
                </li>
            }
        </ul>

        <div class="tab-content">
            @if (Model.HasId)
            {
                <div id="panel_overview" class="tab-pane in active">
                    <div class="row">
                        <div class="col-sm-5 col-md-4">
                            <div class="user-left">
                                <div class="center">
                                    <h4>
                                        @Html.DisplayFor(m => m.Name)
                                    </h4>
                                    <form enctype="multipart/form-data">
                                        <div id="fileupload-user-picture" class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="user-image">

                                                <div id="fileupload-image-thumbnail" class="fileupload-new thumbnail">
                                                    <img id="fileupload-image" 
                                                         onerror="this.src='@Html.DisplayFor(m => m.DefaultImageUrl)';this.onerror=null;"
                                                         src="@Html.DisplayFor(m => m.ImageUrl)" 
                                                         alt="@Html.DisplayFor(m => m.Name)"
                                                         title="@Html.DisplayFor(m => m.Name)" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <hr>
                                    <p>
                                        <a href="javascript:;" class="btn btn-twitter btn-sm btn-squared">
                                            <i class="fa fa-globe"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-twitter btn-sm btn-squared">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-linkedin btn-sm btn-squared">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-google-plus btn-sm btn-squared">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-facebook btn-sm btn-squared">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a class="btn btn-skype btn-sm btn-squared">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </p>
                                    <hr />
                                </div>
                                @*<table class="table table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="3">Contact Information</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.Website))
                                            {
                                                <tr>
                                                    <td>url</td>
                                                    <td>
                                                        <a href="@Model.Person.Website" target="_blank">
                                                            @Model.Person.Website
                                                        </a>
                                                    </td>
                                                    <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                                </tr>
                                            }
                                            <tr>
                                                <td>Email:</td>
                                                <td>
                                                    @Html.DisplayFor(m => m.Person.Email)
                                                </td>
                                                <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                            </tr>
                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.HomePhone))
                                            {
                                                <tr>
                                                    <td>Home Phone:</td>
                                                    <td>@Model.Person.HomePhone</td>
                                                    <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                                </tr>
                                            }

                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.WorkPhone))
                                            {
                                                <tr>
                                                    <td>Work Phone:</td>
                                                    <td>@Model.Person.WorkPhone</td>
                                                    <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                                </tr>
                                            }

                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.MobilPhone))
                                            {
                                                <tr>
                                                    <td>Mobile Phone:</td>
                                                    <td>@Model.Person.MobilPhone</td>
                                                    <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                                </tr>
                                            }

                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.Skype))
                                            {
                                                <tr>
                                                    <td>Skype</td>
                                                    <td title="@Model.Person.Skype">@Model.Person.Skype</td>
                                                    <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                    <table class="table table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="3">General information</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Position</td>
                                                <td>UI Designer</td>
                                                <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Last Logged In</td>
                                                <td>56 min</td>
                                                <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Position</td>
                                                <td>Senior Marketing Manager</td>
                                                <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Supervisor</td>
                                                <td>
                                                    <a href="#">
                                                        Kenneth Ross
                                                    </a>
                                                </td>
                                                <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Status</td>
                                                <td><span class="label label-sm label-info">Administrator</span></td>
                                                <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="3">Additional information</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.Birth))
                                            {
                                                <tr>
                                                    <td>Birth</td>
                                                    <td>@Model.Person.Birth</td>
                                                    <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                                </tr>
                                            }

                                            <tr>
                                                    <td>Birth</td>
                                                    <td>21 October 1982</td>
                                                    <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                                </tr>
                                            <tr>
                                                <td>Groups</td>
                                                <td>New company web site development, HR Management</td>
                                                <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>*@
                            </div>
                        </div>
                        <div class="col-sm-7 col-md-8">

                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <i class="clip-menu"></i>
                                    Recent Activities
                                    <div class="panel-tools">
                                        <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                        </a>
                                        @*<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <a class="btn btn-xs btn-link panel-refresh" href="#">
                                                    <i class="fa fa-refresh"></i>
                                                </a>
                                                <a class="btn btn-xs btn-link panel-close" href="#">
                                                    <i class="fa fa-times"></i>
                                            </a>*@
                                    </div>
                                </div>
                                <div class="panel-body panel-scroll" style="height:300px">
                                    <ul class="activities">
                                        <li>
                                            <a class="activity" href="javascript:void(0)">
                                                <i class="clip-upload-2 circle-icon circle-green"></i>
                                                <span class="desc">You uploaded a new release.</span>
                                                <div class="time">
                                                    <i class="fa fa-time bigger-110"></i>
                                                    2 hours ago
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="activity" href="javascript:void(0)">
                                                <img alt="image" src="@Url.Content("~/Content/assets/images/avatar-2.jpg")">
                                                <span class="desc">Nicole Bell sent you a message.</span>
                                                <div class="time">
                                                    <i class="fa fa-time bigger-110"></i>
                                                    3 hours ago
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="activity" href="javascript:void(0)">
                                                <i class="clip-data circle-icon circle-bricky"></i>
                                                <span class="desc">DataBase Migration.</span>
                                                <div class="time">
                                                    <i class="fa fa-time bigger-110"></i>
                                                    5 hours ago
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="activity" href="javascript:void(0)">
                                                <i class="clip-clock circle-icon circle-teal"></i>
                                                <span class="desc">You added a new event to the calendar.</span>
                                                <div class="time">
                                                    <i class="fa fa-time bigger-110"></i>
                                                    8 hours ago
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="activity" href="javascript:void(0)">
                                                <i class="clip-images-2 circle-icon circle-green"></i>
                                                <span class="desc">Kenneth Ross uploaded new images.</span>
                                                <div class="time">
                                                    <i class="fa fa-time bigger-110"></i>
                                                    9 hours ago
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="activity" href="javascript:void(0)">
                                                <i class="clip-image circle-icon circle-green"></i>
                                                <span class="desc">Peter Clark uploaded a new image.</span>
                                                <div class="time">
                                                    <i class="fa fa-time bigger-110"></i>
                                                    12 hours ago
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <i class="clip-checkmark-2"></i>
                                    To Do
                                    <div class="panel-tools">
                                        <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                        </a>
                                        <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <a class="btn btn-xs btn-link panel-refresh" href="#">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a class="btn btn-xs btn-link panel-close" href="#">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-body panel-scroll" style="height:300px">
                                    <ul class="todo">
                                        <li>
                                            <a class="todo-actions" href="javascript:void(0)">
                                                <i class="fa fa-square-o"></i>
                                                <span class="desc" style="opacity: 1; text-decoration: none;">Staff Meeting</span>
                                                <span class="label label-danger" style="opacity: 1;"> today</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="todo-actions" href="javascript:void(0)">
                                                <i class="fa fa-square-o"></i>
                                                <span class="desc" style="opacity: 1; text-decoration: none;"> New frontend layout</span>
                                                <span class="label label-danger" style="opacity: 1;"> today</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="todo-actions" href="javascript:void(0)">
                                                <i class="fa fa-square-o"></i>
                                                <span class="desc"> Hire developers</span>
                                                <span class="label label-warning"> tommorow</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="todo-actions" href="javascript:void(0)">
                                                <i class="fa fa-square-o"></i>
                                                <span class="desc">Staff Meeting</span>
                                                <span class="label label-warning"> tommorow</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="todo-actions" href="javascript:void(0)">
                                                <i class="fa fa-square-o"></i>
                                                <span class="desc"> New frontend layout</span>
                                                <span class="label label-success"> this week</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="todo-actions" href="javascript:void(0)">
                                                <i class="fa fa-square-o"></i>
                                                <span class="desc"> Hire developers</span>
                                                <span class="label label-success"> this week</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="todo-actions" href="javascript:void(0)">
                                                <i class="fa fa-square-o"></i>
                                                <span class="desc"> New frontend layout</span>
                                                <span class="label label-info"> this month</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="todo-actions" href="javascript:void(0)">
                                                <i class="fa fa-square-o"></i>
                                                <span class="desc"> Hire developers</span>
                                                <span class="label label-info"> this month</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="todo-actions" href="javascript:void(0)">
                                                <i class="fa fa-square-o"></i>
                                                <span class="desc" style="opacity: 1; text-decoration: none;">Staff Meeting</span>
                                                <span class="label label-danger" style="opacity: 1;"> today</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="todo-actions" href="javascript:void(0)">
                                                <i class="fa fa-square-o"></i>
                                                <span class="desc" style="opacity: 1; text-decoration: none;"> New frontend layout</span>
                                                <span class="label label-danger" style="opacity: 1;"> today</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="todo-actions" href="javascript:void(0)">
                                                <i class="fa fa-square-o"></i>
                                                <span class="desc"> Hire developers</span>
                                                <span class="label label-warning"> tommorow</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }

            <div id="panel_edit_room_info" class="tab-pane @(!Model.HasId ? "in active" : String.Empty)">
                <form action="@Url.Action("Detail", "Room")" role="form" id="frmRoomInfo">
                    @Html.AntiForgeryToken()
                    @*@Html.Hidden("Id", Model.Id)*@
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Room Info</h3>
                            <hr>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Name
                                </label>
                                <span class="input-icon">
                                    <input type="text" placeholder="Name" value="@Html.DisplayFor(m => m.Name)" class="form-control" name="Name">
                                    <i class="clip-user"></i>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Description
                                </label>
                                <span class="input-icon">
                                    <input type="text" placeholder="Description" value="@Html.DisplayFor(m => m.Description)" class="form-control" name="Description">
                                    <i class="clip-user"></i>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Price
                                </label>
                                <span class="input-icon">
                                    <input type="text" placeholder="Price" value="@Html.DisplayFor(m => m.Price)" class="form-control" name="Price">
                                    <i class="clip-user"></i>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Status
                                </label>
                                @{ Html.RenderAction("Statuses", "_RenderAction", new { Area = "Admin", id = Model.StatusId, option = "select" }); }
                                @*@Html.DropDownListFor(m => m.StatusId, Model.Statuses, new { @class = "form-control" })*@
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">
                                    Full Description
                                </label>
                                <span class="input-icon">
                                    <input type="text" placeholder="Full Description" value="@Html.ValueFor(m => m.FullDescription)" class="form-control" name="FullDescription">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                @*Required Fields*@
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            @*<p>
                                    By clicking UPDATE, you are agreeing to the Policy and Terms &amp; Conditions.
                                </p>*@
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-teal btn-block" type="submit" onclick="return $.fn.roomJS('saveRoomInfo', this);">
                                Save <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>


            @if (Model.HasId)
            {
                <div id="panel_room_facilities" class="tab-pane">

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Room Facilties</h3>
                            <hr>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">
                                    Facilties
                                </label>
                                @{ Html.RenderAction("RoomFacilities", "_RenderAction", new { id = Model.Id, option = "select-multiple" }); }
                            </div>
                        </div>
                    </div>

                </div>
            }

            @if (Model.HasId)
            {
                <div id="panel_room_media" class="tab-pane">

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Room Media</h3>
                            <hr>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">



                            <!-- start: DROPZONE PANEL -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-external-link-square"></i>
                                    Dropzone File Upload
                                    <div class="panel-tools">
                                        <a class="btn btn-xs btn-link panel-collapse collapses" href="javascript:;">
                                        </a>
                                        <a class="btn btn-xs btn-link panel-upload" href="javascript:;" onclick="$.fn.roomJS('uploadAllMediaFiles', this)">
                                            <i class="fa fa-upload"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="panel-body">
                                    @*<div class="alert alert-warning">
                                            Please note that demo server is not configured to save uploaded files, therefore you may get an error message.
                                    </div>*@
                                    <form action="@Url.Action("Upload", "File", new { Area = "Admin" })" class="dropzone" id="frmRoomMedia" name="frmRoomMedia"></form>
                                </div>
                            </div>
                            <!-- end: DROPZONE PANEL -->
                        </div>
                    </div>


                    <div id="wrapper-room-media" class="row">
                        @{Html.RenderAction("RoomMedias", "_RenderAction", new { id = Model.Id, option = "grid" });}
                    </div>

                </div>
            }

        </div>
    </div>
</div>
</div>
<!-- end: PAGE CONTENT-->


<div class="hidden">
    <div id="template-preview" class="dropzone-previews">
        <div class="dz-preview dz-image-preview">
            <div class="dz-details">
                <div class="dz-filename"><span data-dz-name></span></div>
                <div class="dz-size" data-dz-size></div>
                <img data-dz-thumbnail />
            </div>
            <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
            <div class="dz-success-mark"><span>✔</span></div>
            <div class="dz-error-mark"><span>✘</span></div>
            <div class="dz-error-message"><span data-dz-errormessage></span></div>
        </div>
    </div>

</div>

<style type="text/css">
    a.dz-remove {
        margin-top: 10px !important;
    }
</style>

<div id="modal-delete" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title">Delete Media</h4>
    </div>
    <div class="modal-body">
        <p>
            Are you sure, do you want to delete media?
        </p>
    </div>
    <div class="modal-footer">
        <button id="btnNo" type="button" data-dismiss="modal" class="btn btn-default">
            No
        </button>
        <button id="btnYes" type="button" class="btn btn-primary">
            Yes
        </button>
    </div>
</div>