﻿@model IEnumerable<Consortium.Areas.Admin.ViewModels.UserViewModel>

@if ("table".Equals(ViewBag.Option))
{
<table id="table" class="table table-striped table-bordered table-hover table-full-width">
    <thead>
        <tr>
            <th>Username</th>
            <th>Type</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Type</td>
                <td>@user.Person.Firstname</td>
                <td>@user.Person.Lastname</td>
                <td>@user.Person.Email</td>
                <td>@user.Status</td>
                <td>
                    <a href="@Url.Action("Detail", "User", new { id = user.Id })"><i class="fa fa-edit"></i> Edit</a>
                    &nbsp;
                    <a href="javascript:;" onclick="$.fn.userJS('confirmDelete', this, @user.Id)"><i class="fa fa-trash-o"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else if ("tbody-content".Equals(ViewBag.Option))
{
    foreach (var user in Model)
    {
        <tr>
            <td>@user.Username</td>
            <td>@user.Type</td>
            <td>@user.Person.Firstname</td>
            <td>@user.Person.Lastname</td>
            <td>@user.Person.Email</td>
            <td>@user.Status</td>
            <td>
                <a href="@Url.Action("Detail", "User", new { id = user.Id })"><i class="fa fa-edit"></i> Edit</a>
                &nbsp;
                <a href="javascript:;" onclick="$.fn.userJS('confirmDelete', this, @user.Id)"><i class="fa fa-trash-o"></i> Eliminar</a>
            </td>
        </tr>
    }
}

<!-- end: PAGE CONTENT-->
