﻿@model Consortium.Areas.Admin.ViewModels.UserViewModel
@using Tier.Library.Common
@using Consortium.Areas.Admin.ViewModels

@{
    ViewBag.Title = "User Detail";
}

@section Breadcrumbs {
    <li class="active">
        User Detail
    </li>
}

@section PageHeader {
    User Detail <small>user detail page</small>
}

@section Styles {
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/bootstrap-social-buttons/social-buttons-3.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/datepicker/css/datepicker.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/css/jquery.fileupload-ui.css")">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript>
        <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/css/jquery.fileupload-ui-noscript.css")">
    </noscript>
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
}

@section Scripts {
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="@Url.Content("~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/bootstrap-daterangepicker/moment.min.js")"></script>
    @*<script src="@Url.Content("~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js")"></script>*@
    <script src="@Url.Content("~/Content/assets/plugins/jquery.pulsate/jquery.pulsate.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/form-elements.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/esaw.user.js")"></script>

    <!-- The Templates plugin is included to render the upload/download listings -->
    @*<script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>*@
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    @*<script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/load-image.min.js")"></script>*@
    <script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/vendor/jquery.ui.widget.js")"></script>

    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    @*<script src= "@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/canvas-to-blob.min.js")"></script>*@
    <!-- blueimp Gallery script -->
    @*<script src= "@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/jquery.blueimp-gallery.min.js")"></script>*@
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/jquery.iframe-transport.js")"></script>
    <!-- The basic File Upload plugin -->
    <script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/jquery.fileupload.js")"></script>
    <!-- The File Upload processing plugin -->
    <script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/jquery.fileupload-process.js")"></script>
    <!-- The File Upload image preview & resize plugin -->
    @*<script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/jquery.fileupload-image.js")"></script>*@
    <!-- The File Upload audio preview plugin -->
    @*<script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/jquery.fileupload-audio.js")"></script>*@
    <!-- The File Upload video preview plugin -->
    @*<script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/jquery.fileupload-video.js")"></script>*@
    <!-- The File Upload validation plugin -->
    @*<script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/jquery.fileupload-validate.js")"></script>*@
    <!-- The File Upload user interface plugin -->
    <script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/jquery.fileupload-ui.js")"></script>
    <!-- The main application script -->
    @*<script src="@Url.Content("~/Content/assets/plugins/jQuery-File-Upload/js/main.js")"></script>*@
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
    <!--[if (gte IE 8)&(lt IE 10)]>
    <script src="js/cors/jquery.xdr-transport.js"></script>
    <![endif]-->
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
}

@section ScriptsImpl {

    <script type="text/javascript">
        var messenger = new ESAWMessengers.basic("#wrapper-message");
        var _ESAW = {
            accountInfoForm: new ESAWForms.basic("#frmAccountInfo", "@Url.Action("Detail", "User")",
                messenger, new ESAWAjaxLoader.basic("#panel_edit_account", "ajax-loader")),
            accountInfoFormValidations: {
                rules: {
                    "Username": { required: true },
                    "Password": { required: true },
                    "Person.Firstname": { required: true },
                    "Person.Lastname": { required: true },
                    "Person.Email": { required: true, email: true },
                    "Person.Birth": { required: true },
                    "Person.Gender": { required: true }
                },
                messages: {
                    "Username": { required: "Username is a required field" },
                    "Password": { required: "Password is a required field" },
                    "Person.Firstname": { required: "Firstname is a required field" },
                    "Person.Lastname": { required: "Lastname is a required field" },
                    "Person.Email": { required: "Email is a required field", email: "Invalid email format" },
                    "Person.Birth": { required: "Birth is a required field" },
                    "Person.Gender": { required: "Gender is a required field" }
                }
            },
            userPictureFileUpload: new ESAWPlugins.fileUpload("#file", messenger),
            userBirthDatePicker: new ESAWPlugins.datePicker('.date-picker')
        };
    </script>

    <script type="text/javascript">
        $(function () {
            Main.init();

            @if (TempData["DataMessage"] != null)
            {
            <text>
            var dataMessages = @Html.Raw(Json.Encode(TempData["DataMessage"]));
            _ESAW.accountInfoForm.messenger.showMessage(dataMessages.Messages[0]);
            </text>
            }

        });
    </script>
}

<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-sm-12">

        <div id="wrapper-message"></div>

        <div class="tabbable">

            <ul class="nav nav-tabs tab-padding tab-space-3 tab-blue" id="myTab4">
                @if (Model.HasId)
                {
                    <li class="active">
                        <a data-toggle="tab" href="#panel_overview">
                            Overview
                        </a>
                    </li>
                }
                <li @(!Model.HasId ? "class=active" : String.Empty)>
                    <a data-toggle="tab" href="#panel_edit_account">
                        Edit Account
                    </a>
                </li>
            </ul>


            <div class="tab-content">
                @if (Model.HasId)
                {
                    <div id="panel_overview" class="tab-pane in active">
                        <div class="row">
                            <div class="col-sm-5 col-md-4">
                                <div class="user-left">
                                    <div class="center">
                                        <h4>
                                            @Html.DisplayFor(m => m.Person.FullName)

                                        </h4>
                                        <form enctype="multipart/form-data">
                                            <div id="fileupload-user-picture" class="fileupload fileupload-new" data-provides="fileupload">
                                                <div class="user-image">

                                                    <div id="fileupload-progress-wrapper" style="display:none;position:absolute;width:100%;top:0;left:0;height:100%;background-color:rgba(0, 0, 0, 0.4);z-index:100;">
                                                        <div class="progress progress-striped active progress-sm" style="bottom:0;position:absolute;width:100%;margin-bottom:0;z-index:4;">
                                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                                                <span class="sr-only"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div id="fileupload-image-thumbnail" class="fileupload-new thumbnail">
                                                        <img id="fileupload-image"
                                                             onerror="this.src='@Html.DisplayFor(m => m.DefaultPictureUrl)';this.onerror=null;"
                                                             src="@Html.DisplayFor(m => m.PictureUrl)"
                                                             alt="@Html.DisplayFor(m => m.Person.FullName)"
                                                             title="@Html.DisplayFor(m => m.Person.FullName)" />
                                                    </div>
                                                    <div id="fileupload-image-preview" class="fileupload-preview fileupload-exists thumbnail" style="max-width:200px;max-height:150px;line-height:20px;"></div>
                                                    <div class="user-image-buttons">
                                                        <span class="btn btn-teal btn-file btn-sm">
                                                            <span class="fileupload-new">
                                                                <i class="fa fa-pencil"></i>
                                                            </span>
                                                            <span class="fileupload-exists" id="fileupload-upload" style="position:relative;z-index:3;">
                                                                <i class="fa fa-upload"></i>
                                                            </span>
                                                            <input accept="image/gif, image/jpeg, image/jpg, image/png"
                                                                   data-form-data='{"OwnerId": "@Model.Id", "ModelIdentifier": "USER_PROFILE"}'
                                                                   data-context="#fileupload-user-picture"
                                                                   data-max-file-size="10485760"
                                                                   data-drop-zone="false"
                                                                   data-auto-upload="false"
                                                                   data-url="@Url.Action("Upload", "File")"
                                                                   data-fileupload-dependent-selector="li.current-user a img.circle-img"
                                                                   type="file"
                                                                   id="file"
                                                                   name="file" />
                                                        </span>
                                                        <a id="fileupload-cancel" href="#" class="btn fileupload-exists btn-bricky btn-sm" data-dismiss="fileupload">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <hr>
                                        <p>

                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.Website))
                                            {
                                                <a href="@Model.Person.Website" class="btn btn-twitter btn-sm btn-squared" target="_blank">
                                                    <i class="fa fa-globe"></i>
                                                </a>
                                            }

                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.Twitter))
                                            {
                                                <a href="@Model.Person.Twitter" class="btn btn-twitter btn-sm btn-squared" target="_blank">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            }

                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.Linkedin))
                                            {
                                                <a href="@Model.Person.Linkedin" class="btn btn-linkedin btn-sm btn-squared" target="_blank">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            }

                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.GooglePlus))
                                            {
                                                <a href="@Model.Person.GooglePlus" class="btn btn-google-plus btn-sm btn-squared" target="_blank">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            }

                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.Facebook))
                                            {
                                                <a href="@Model.Person.Facebook" class="btn btn-facebook btn-sm btn-squared" target="_blank">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            }

                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.Skype))
                                            {
                                                <a class="btn btn-skype btn-sm btn-squared" title="@Model.Person.Skype">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            }
                                        </p>
                                        <hr />
                                    </div>
                                    <table class="table table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="3">Contact Information</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.Website))
                                            {
                                                <tr>
                                                    <td>url</td>
                                                    <td>
                                                        <a href="@Model.Person.Website" target="_blank">
                                                            @Model.Person.Website
                                                        </a>
                                                    </td>
                                                    <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                                </tr>
                                            }
                                            <tr>
                                                <td>Email:</td>
                                                <td>
                                                    @Html.DisplayFor(m => m.Person.Email)
                                                </td>
                                                <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                            </tr>
                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.HomePhone))
                                            {
                                                <tr>
                                                    <td>Home Phone:</td>
                                                    <td>@Model.Person.HomePhone</td>
                                                    <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                                </tr>
                                            }

                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.WorkPhone))
                                            {
                                                <tr>
                                                    <td>Work Phone:</td>
                                                    <td>@Model.Person.WorkPhone</td>
                                                    <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                                </tr>
                                            }

                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.MobilPhone))
                                            {
                                                <tr>
                                                    <td>Mobile Phone:</td>
                                                    <td>@Model.Person.MobilPhone</td>
                                                    <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                                </tr>
                                            }

                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.Skype))
                                            {
                                                <tr>
                                                    <td>Skype</td>
                                                    <td title="@Model.Person.Skype">@Model.Person.Skype</td>
                                                    <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                    <table class="table table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="3">General information</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Position</td>
                                                <td>UI Designer</td>
                                                <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Last Logged In</td>
                                                <td>56 min</td>
                                                <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Position</td>
                                                <td>Senior Marketing Manager</td>
                                                <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Supervisor</td>
                                                <td>
                                                    <a href="#">
                                                        Kenneth Ross
                                                    </a>
                                                </td>
                                                <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Status</td>
                                                <td><span class="label label-sm label-info">Administrator</span></td>
                                                <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="3">Additional information</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (null != Model.Person && !String.IsNullOrEmpty(Model.Person.Birth))
                                            {
                                                <tr>
                                                    <td>Birth</td>
                                                    <td>@Model.Person.Birth</td>
                                                    <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                                </tr>
                                            }

                                            @*<tr>
                                                    <td>Birth</td>
                                                    <td>21 October 1982</td>
                                                    <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                                </tr>*@
                                            <tr>
                                                <td>Groups</td>
                                                <td>New company web site development, HR Management</td>
                                                <td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-7 col-md-8">

                                <div class="panel panel-white">
                                    <div class="panel-heading">
                                        <i class="clip-menu"></i>
                                        Recent Activities
                                        <div class="panel-tools">
                                            <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                            </a>
                                            @*<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                                        <i class="fa fa-wrench"></i>
                                                    </a>
                                                    <a class="btn btn-xs btn-link panel-refresh" href="#">
                                                        <i class="fa fa-refresh"></i>
                                                    </a>
                                                    <a class="btn btn-xs btn-link panel-close" href="#">
                                                        <i class="fa fa-times"></i>
                                                </a>*@
                                        </div>
                                    </div>
                                    <div class="panel-body panel-scroll" style="height:300px">
                                        <ul class="activities">
                                            <li>
                                                <a class="activity" href="javascript:void(0)">
                                                    <i class="clip-upload-2 circle-icon circle-green"></i>
                                                    <span class="desc">You uploaded a new release.</span>
                                                    <div class="time">
                                                        <i class="fa fa-time bigger-110"></i>
                                                        2 hours ago
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="activity" href="javascript:void(0)">
                                                    <img alt="image" src="@Url.Content("~/Content/assets/images/avatar-2.jpg")">
                                                    <span class="desc">Nicole Bell sent you a message.</span>
                                                    <div class="time">
                                                        <i class="fa fa-time bigger-110"></i>
                                                        3 hours ago
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="activity" href="javascript:void(0)">
                                                    <i class="clip-data circle-icon circle-bricky"></i>
                                                    <span class="desc">DataBase Migration.</span>
                                                    <div class="time">
                                                        <i class="fa fa-time bigger-110"></i>
                                                        5 hours ago
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="activity" href="javascript:void(0)">
                                                    <i class="clip-clock circle-icon circle-teal"></i>
                                                    <span class="desc">You added a new event to the calendar.</span>
                                                    <div class="time">
                                                        <i class="fa fa-time bigger-110"></i>
                                                        8 hours ago
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="activity" href="javascript:void(0)">
                                                    <i class="clip-images-2 circle-icon circle-green"></i>
                                                    <span class="desc">Kenneth Ross uploaded new images.</span>
                                                    <div class="time">
                                                        <i class="fa fa-time bigger-110"></i>
                                                        9 hours ago
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="activity" href="javascript:void(0)">
                                                    <i class="clip-image circle-icon circle-green"></i>
                                                    <span class="desc">Peter Clark uploaded a new image.</span>
                                                    <div class="time">
                                                        <i class="fa fa-time bigger-110"></i>
                                                        12 hours ago
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel panel-white">
                                    <div class="panel-heading">
                                        <i class="clip-checkmark-2"></i>
                                        To Do
                                        <div class="panel-tools">
                                            <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                            </a>
                                            <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                                <i class="fa fa-wrench"></i>
                                            </a>
                                            <a class="btn btn-xs btn-link panel-refresh" href="#">
                                                <i class="fa fa-refresh"></i>
                                            </a>
                                            <a class="btn btn-xs btn-link panel-close" href="#">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="panel-body panel-scroll" style="height:300px">
                                        <ul class="todo">
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc" style="opacity: 1; text-decoration: none;">Staff Meeting</span>
                                                    <span class="label label-danger" style="opacity: 1;"> today</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc" style="opacity: 1; text-decoration: none;"> New frontend layout</span>
                                                    <span class="label label-danger" style="opacity: 1;"> today</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc"> Hire developers</span>
                                                    <span class="label label-warning"> tommorow</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc">Staff Meeting</span>
                                                    <span class="label label-warning"> tommorow</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc"> New frontend layout</span>
                                                    <span class="label label-success"> this week</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc"> Hire developers</span>
                                                    <span class="label label-success"> this week</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc"> New frontend layout</span>
                                                    <span class="label label-info"> this month</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc"> Hire developers</span>
                                                    <span class="label label-info"> this month</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc" style="opacity: 1; text-decoration: none;">Staff Meeting</span>
                                                    <span class="label label-danger" style="opacity: 1;"> today</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc" style="opacity: 1; text-decoration: none;"> New frontend layout</span>
                                                    <span class="label label-danger" style="opacity: 1;"> today</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc"> Hire developers</span>
                                                    <span class="label label-warning"> tommorow</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }

                <div id="panel_edit_account" class="tab-pane @(!Model.HasId ? "in active" : String.Empty)">
                    <form action="@Url.Action("Detail", "User")" role="form" id="frmAccountInfo">
                        @Html.AntiForgeryToken()
                        @*@Html.Hidden("Id", Model.Id)*@
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Account Info</h3>
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">
                                        First Name
                                    </label>
                                    <span class="input-icon">
                                        <input type="text" placeholder="Firstname" value="@Html.DisplayFor(m => m.Person.Firstname)" class="form-control" name="Person.Firstname">
                                        <i class="clip-user"></i>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Last Name
                                    </label>
                                    <span class="input-icon">
                                        <input type="text" placeholder="Lastname" value="@Html.DisplayFor(m => m.Person.Lastname)" class="form-control" name="Person.Lastname">
                                        <i class="clip-user"></i>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Email Address
                                    </label>
                                    <span class="input-icon">
                                        <input type="email" placeholder="Email" value="@Html.ValueFor(m => m.Person.Email)" class="form-control" name="Person.Email">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Type
                                    </label>
                                    @{ Html.RenderAction("UserTypes", "_RenderAction", new { id = Model.TypeId, option = "select" }); }
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Username
                                    </label>
                                    <span class="input-icon">
                                        <input type="text" placeholder="Usuario" value="@Html.DisplayFor(m => m.Username)" class="form-control" name="Username">
                                        <i class="clip-user-2"></i>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Password
                                    </label>
                                    <span class="input-icon">
                                        <input type="text" placeholder="Password" value="@Html.DisplayFor(m => m.Password)" class="form-control" name="Password">
                                        <i class="clip-locked"></i>
                                    </span>
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="control-label">
                                        Home Phone
                                    </label>
                                    <span class="input-icon">
                                        <input type="text" placeholder="Home Phone" value="@Html.DisplayFor(m => m.Person.HomePhone)" class="form-control" name="Person.HomePhone">
                                        <i class="clip-phone-4"></i>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Work Phone
                                    </label>
                                    <span class="input-icon">
                                        <input type="text" placeholder="Work Phone" value="@Html.DisplayFor(m => m.Person.WorkPhone)" class="form-control" name="Person.WorkPhone">
                                        <i class="clip-phone-4"></i>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Mobil Phone
                                    </label>
                                    <span class="input-icon">
                                        <input type="text" placeholder="Mobil Phone" value="@Html.DisplayFor(m => m.Person.MobilPhone)" class="form-control" name="Person.MobilPhone">
                                        <i class="clip-mobile"></i>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Date of Birth
                                    </label>
                                    <div class="input-group">
                                        <input type="text" data-date-format="dd-mm-yyyy" data-date-viewmode="years" value="@Html.DisplayFor(m => m.Person.Birth)" class="form-control date-picker" name="Person.Birth">
                                        <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Gender
                                    </label>
                                    <div>
                                        <label class="radio-inline">
                                            <input type="radio" class="grey" value="M" name="Person.Gender" @((Html.ValueFor(m => m.Person.Gender).ToString() == String.Empty || Html.ValueFor(m => m.Person.Gender).ToString() == "M") ? "checked" : String.Empty)>
                                            Male
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" class="grey" value="F" name="Person.Gender" @(Html.ValueFor(m => m.Person.Gender).ToString() == "F" ? "checked" : String.Empty)>
                                            Female
                                        </label>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label">
                                        Status
                                    </label>
                                    @{ Html.RenderAction("Statuses", "_RenderAction", new { id = Model.StatusId, option = "select" }); }
                                    @*@Html.DropDownListFor(m => m.StatusId, Model.Statuses, new { @class = "form-control" })*@
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Additional Info</h3>
                                <hr>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="control-label">
                                        Website
                                    </label>
                                    <span class="input-icon">
                                        <input class="form-control" type="text" value="@Html.DisplayFor(m => m.Person.Website)" placeholder="Website" name="Person.Website">
                                        <i class="clip-world"></i>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Twitter
                                    </label>
                                    <span class="input-icon">
                                        <input class="form-control" type="text" value="@Html.DisplayFor(m => m.Person.Twitter)" placeholder="Twitter" name="Person.Twitter">
                                        <i class="clip-twitter"></i>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Facebook
                                    </label>
                                    <span class="input-icon">
                                        <input class="form-control" type="text" value="@Html.DisplayFor(m => m.Person.Facebook)" placeholder="Facebook" name="Person.Facebook">
                                        <i class="clip-facebook"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">
                                        Google Plus
                                    </label>
                                    <span class="input-icon">
                                        <input class="form-control" type="text" value="@Html.DisplayFor(m => m.Person.GooglePlus)" placeholder="Google +" name="Person.GooglePlus">
                                        <i class="clip-google-plus"></i>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Linkedin
                                    </label>
                                    <span class="input-icon">
                                        <input class="form-control" type="text" value="@Html.DisplayFor(m => m.Person.Linkedin)" placeholder="Linkedin" name="Person.Linkedin">
                                        <i class="clip-linkedin"></i>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Skype
                                    </label>
                                    <span class="input-icon">
                                        <input class="form-control" type="text" value="@Html.DisplayFor(m => m.Person.Skype)" placeholder="Skype" name="Person.Skype">
                                        <i class="clip-skype"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    @*Required Fields*@
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                @*<p>
                                        By clicking UPDATE, you are agreeing to the Policy and Terms &amp; Conditions.
                                    </p>*@
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-teal btn-block" type="submit" onclick="return $.fn.userJS('saveAccountInfo', this);">
                                    Save <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end: PAGE CONTENT-->