/*-----------------------------------------------------------------------------------
    
    1. Base or Reset or common CSS

-----------------------------------------------------------------------------------*/


/* --------------------------------------------------------
1. Base or Reset or common CSS
-----------------------------------------------------------*/
html,
body {
    height: 100%;
}
body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: #666666;
    overflow-x: hidden;
}
p{
    color: #666666;
}
::-moz-selection {
  color: #fff;
  background: #313a45;
}
::selection {
  color: #fff;
  background: #313a45;
}
.floatleft { 
    float: left;
}
.floatright { 
    float: right;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignleft-md {
    float: left;
    margin-right: 58px;
}
.alignleft-sm {
    float: left;
    margin-right: 33px;
}
.alignleft-20 {
    float: left;
    margin-right: 20px;
}
.alignright-20 {
    float: right;
    margin-left: 20px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
.content-center {
    text-align: center;
}
.content-left {
    text-align: left;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.clear {
  clear: both;
  height: 0; 
  font-size: 0; 
  line-height: 0; 
  overflow: hidden;
}
.fix { 
    overflow: hidden;
}

/* ------------------------------------
        start anchor & button styles
---------------------------------------*/

a:focus { 
    outline: 0px solid;
}
a { 
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
    color: #000;
}
a:hover { 
    color: #16b4ef;
    text-decoration: none;
}
.btn {
  border: 2px solid #63c2ea;
  border-radius: 0;
  color: #63c2ea;
  font-family: "Lora",serif;
  font-size: 14px;
  padding: 8px 17px;
}
a.btn:hover {
  background: #63c2ea;
  color: #fff;
}
a.btn.btn-black{
  border: 2px solid #777777;
  color: #777777;
}
a.btn.btn-black:hover{
  background: #777777;
  color: #fff;
}
.btn.btn-warning{
  background: #fe5d5d none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-family: "Lora",serif;
  font-size: 14px;
  font-weight: 600;
  padding: 16px 27px;
  text-transform: uppercase;
  border: 1px solid #fe5d5d;
}
.btn.btn-warning:hover{
  color: #fe5d5d;
  background: #fff;
  border: 1px solid #fe5d5d;
}
.btn.btn-info{
  background: #e0e0e0;
  border: 1px solid #e0e0e0;
}
.btn.btn-info:hover{
  background: #e0e0e0;
  border: 1px solid #e0e0e0;
  color: #fff;
}
.btn.btn-success{
  background: #88d54f;
  border: 1px solid #88d54f;
}
.btn.btn-success:hover{
  background: #88d54f;
  border: 1px solid #88d54f;
  color: #fff;
}

.btn.btn-primary {
    background: #f7c411 none repeat scroll 0 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #313a45;
    font-family: "Karla",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    padding: 13px 25px;
    border: none;
    outline: none;
}
.btn.btn-blue{
  background: #2fb3e7;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  text-transform: uppercase;
  border: 1px solid #2fb3c7;
}
.btn.btn-blue:hover{
  background: #fff;
  color: #2fb3c7;
  border: 1px solid #2fb3c7;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #f7c411;
    background: #000 none repeat scroll 0 0;
    border: none;
    outline: none;
}
.content-page .btn-primary, 
.content-page .btn-primary:hover {
    color: #fff;
    margin-left: 0;
}
.btn-default {

}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {

}

.btn.btn-sm{
  padding: 8px 30px;
}
.btn.btn-md{
  padding: 9px 22px;
}
.btn.btn-lg{
  padding: 19px 43px;
}

.uk-overlay-icon::before {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  color: #313a45;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  top: 50%;
}


/* ------------------------------------
        end anchor & button styles
---------------------------------------*/


/* ------------------------------------
        start menu styles
---------------------------------------*/

.nav > li > a:focus, .nav > li > a:hover{
  background: none;
}
ul.menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.menu > li{
    float: left;
}
ul.clearul{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.clearul > li{
    
}


/* ------------------------------------
        start menu styles
---------------------------------------*/


/* ------------------------------------
    start border & background styles
---------------------------------------*/

.border-right-whitesmoke {
    border-right: solid 1px #e1e1e1;
}
.border-left-whitesmoke {
    border-left: solid 1px #e1e1e1;
}
.border-bottom-whitesmoke {
    border-bottom: solid 1px #e1e1e1;
}
.border-top-whitesmoke {
    border-top: solid 1px #e1e1e1;
}
.border-whitesmoke {
    border: solid 1px #e1e1e1;
}
.border-brl-whitesmoke {
    border-bottom: solid 1px #e1e1e1;
    border-left: solid 1px #e1e1e1;
    border-right: solid 1px #e1e1e1;
}
.border-trl-whitesmoke {
    border-top: solid 1px #e1e1e1;
    border-left: solid 1px #e1e1e1;
    border-right: solid 1px #e1e1e1;
}
.border-rl-whitesmoke {
    border-left: solid 1px #e1e1e1;
    border-right: solid 1px #e1e1e1;
}
.border-right-blue {
    border-right: solid 1px #87ddfe;
}
.border-dark-1{
    border: solid 1px #475362;
}
.border-right-dark-1{
    border-right: solid 1px #475362;
}
.border-bottom-dark-2{
    border-bottom: solid 2px #475362;
}
.border-bottom-yellow{
  border-bottom: solid 1px #e8d661;
}
.border-right-dark-3{
  border-right: solid 1px #444b55;
}
.border-left-dark-3{
  border-left: solid 1px #444b55;
}
.border-right-dark-4{
  border-right: solid 1px #585959;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* ------------------------------------
        end border styles
---------------------------------------*/


/* ------------------------------------
        start image styles
---------------------------------------*/

.no_bg{
    background: none;
}
img {
    max-width: 100%;
    height: auto;
}

/* ------------------------------------
        end image styles
---------------------------------------*/


/* ------------------------------------
        start heading styles
---------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}
h1{
    font-size: 48px;
    color: #131e2a;
}
h2{
    font-size: 44px;
    color: #131e2a;
}
h3{
    font-size: 30px;
    color: #131e2a;
}
h4{
    font-size: 24px;
    color: #131e2a;
}
h5{
    font-size: 20px;
    color: #131e2a;
}
h6{
    font-size: 14px;
    color: #424c55;
}
.section_title.nice_title > h3 {
  display: inline-block;
  line-height: 25px;
  margin-bottom: 55px;
  padding-bottom: 33px;
  position: relative;
}
.section_title.nice_title > h3::after {
    background: rgba(0, 0, 0, 0) url("../img/nice-title.png") no-repeat scroll 0 0;
    bottom: -30%;
    content: "";
    height: 50%;
    left: calc(50% - 51.5px);
    position: absolute;
    width: 103px;
}
.breadcrumb_main.nice_title > h2{
    display: block;
    line-height: 25px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    position: relative;
    width: 100%;
}
.breadcrumb_main.nice_title > h2::after{
    background: rgba(0, 0, 0, 0) url("../img/nice-title-breadcrumb.png") no-repeat scroll 0 0;
    bottom: -30%;
    content: "";
    height: 50%;
    left: calc(50% - 51.5px);
    position: absolute;
    width: 103px;
}

/* ------------------------------------
        end heading styles
---------------------------------------*/


/* ------------------------------------
        start margin & padding styles
---------------------------------------*/

.section-padding { 
    padding: 60px 0; 
}
.section-gray { 
    background-color: #F7F7F7; 
}
.section-dark {
    background-color: #110C09;
    color: #fff;
}
.no-bottom-mp {
    padding-bottom: 0;
    margin-bottom: 0;
}
.no-top-mp {
    padding-top: 0;
    margin-top: 0;
}
.no-space-mp {
    margin: 0;
    padding: 0;
}
.no-text-shadow {
    text-shadow: none;
}

/* ------------------------------------
        end margin & padding styles
---------------------------------------*/


/* ------------------------------------
            start margin styles
---------------------------------------*/

.no-margin {
  margin: 0;
}
.margin-bottom-0 {
  margin-bottom: 0;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-35 {
  margin-bottom: 35px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-bottom-45 {
  margin-bottom: 45px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-55 {
  margin-bottom: 55px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.margin-bottom-65 {
  margin-bottom: 65px;
}
.margin-bottom-70 {
  margin-bottom: 70px;
}
.margin-bottom-75 {
  margin-bottom: 75px;
}
.margin-bottom-80 {
  margin-bottom: 80px;
}
.margin-bottom-84 {
  margin-bottom: 84px;
}
.margin-bottom-90 {
  margin-bottom: 90px;
}
.margin-bottom-100 {
  margin-bottom: 100px;
}
.margin-bottom-110 {
  margin-bottom: 110px;
}
.margin-bottom-115 {
  margin-bottom: 115px;
}
.margin-bottom-125 {
  margin-bottom: 125px;
}
.margin-bottom-128 {
  margin-bottom: 128px;
}
.margin-bottom-140 {
  margin-bottom: 140px;
}
.margin-bottom-150 {
  margin-bottom: 150px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-30{
  margin-top: 30px;
}
.margin-top-35{
  margin-top: 35px;
}
.margin-top-40{
  margin-top: 35px;
}
.margin-top-45{
  margin-top: 45px;
}
.margin-top-50{
  margin-top: 50px;
}
.margin-top-60{
  margin-top: 60px;
}
.margin-top-65{
  margin-top: 65px;
}
.margin-top-70{
  margin-top: 70px;
}
.margin-top-80{
  margin-top: 80px;
}
.margin-top-90{
  margin-top: 90px;
}
.margin-top-115{
  margin-top: 115px;
}
.margin-top-110{
  margin-top: 110px;
}
.margin-tb-30{
  margin-top: 30px;
  margin-bottom: 30px;
}
.margin-tb-50{
  margin-top: 50px;
  margin-bottom: 50px;
}
.margin-tb-15{
  margin-top: 15px;
  margin-bottom: 15px;
}
.margin-tb-70{
  margin-top: 70px;
  margin-bottom: 70px;
}
.margin-tb-75{
  margin-top: 75px;
  margin-bottom: 75px;
}
.margin-tb-80{
  margin-top: 80px;
  margin-bottom: 80px;
}
.margin-tb-200{
  margin-top: 200px;
  margin-bottom: 200px;
}
.margin-tb-170{
  margin-top: 170px;
  margin-bottom: 170px;
}
.margin-left-0 {
  margin-left: 0;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-rl-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.margin-right-0 {
  margin-right: 0;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-right-40 {
  margin-right: 40px;
}
.margin-right-50 {
  margin-right: 50px;
}
.margin-left--15 {
  margin-left: -15px;
}
.margin-right--15 {
  margin-right: -15px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-right-33 {
  margin-right: 33px;
}
.margin-right-40 {
  margin-right: 40px;
}
.margin-left-20 {
  margin-left: 20px;
}

/* ------------------------------------
            end margin styles
---------------------------------------*/

/* ------------------------------------
            start padding styles
---------------------------------------*/

.no-padding {
  padding: 0;
}
.padding-13{
  padding: 13px;
}
.padding-22{
  padding: 22px;
}
.no-bottom-padding {
  padding-bottom: 0;
}
.no-top-padding {
  padding-top: 0;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-top-25 {
  padding-top: 25px;
}
.padding-top-30 {
  padding-top: 30px;
}
.padding-top-35 {
  padding-top: 35px;
}
.padding-top-40 {
  padding-top: 40px;
}
.padding-top-45 {
  padding-top: 45px;
}
.padding-top-50 {
  padding-top: 50px;
}
.padding-top-60 {
  padding-top: 60px;
}
.padding-top-70 {
  padding-top: 70px;
}
.padding-top-80 {
  padding-top: 80px;
}
.padding-top-90 {
  padding-top: 90px;
}
.padding-top-100 {
  padding-top: 100px;
}
.padding-top-115 {
  padding-top: 115px;
}
.padding-left-0 {
  padding-left: 0;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-left-15 {
  padding-left: 15px;
}
.padding-left-20 {
  padding-left: 20px;
}
.padding-left-30 {
  padding-left: 30px;
}
.padding-left-40 {
  padding-left: 40px;
}
.padding-left-50 {
  padding-left: 50px;
}
.padding-left-60 {
  padding-left: 60px;
}
.padding-left-70 {
  padding-left: 70px;
}
.padding-left-80 {
  padding-left: 80px;
}
.padding-left-90 {
  padding-left: 90px;
}
.padding-left-100 {
  padding-left: 100px;
}
.padding-right-0 {
  padding-right: 0;
}
.padding-right-30 {
  padding-right: 30px;
}
.padding-right-40 {
  padding-right: 40px;
}
.padding-right-50 {
  padding-right: 50px;
}
.padding-right-60 {
  padding-right: 60px;
}
.padding-right-70 {
  padding-right: 70px;
}
.padding-right-80 {
  padding-right: 80px;
}
.padding-right-90 {
  padding-right: 90px;
}
.padding-right-100 {
  padding-right: 100px;
}
.padding-bottom-10 {
  padding-bottom: 25px;
}
.padding-bottom-25 {
  padding-bottom: 25px;
}
.padding-bottom-30 {
  padding-bottom: 30px;
}
.padding-bottom-40 {
  padding-bottom: 40px;
}
.padding-bottom-50 {
  padding-bottom: 50px;
}
.padding-bottom-90 {
  padding-bottom: 90px;
}
.padding-bottom-100 {
  padding-bottom: 100px;
}
.no-padding-left{
  padding-left: 0px;
}
.no-padding-right{
  padding-right: 0px;
}

/* ------------------------------------
               end padding styles
---------------------------------------*/


/* ------------------------------------
          start breadcrumb styles
---------------------------------------*/

.breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.breadcrumb > li + li::before {
  color: #fff;
  content: ">";
  font-size: 10px;
  padding: 0 5px;
}
.breadcrumb > li > a{
  color: #fff;
}
.breadcrumb_main_area {
  overflow: hidden;
  text-align: center;
  position: relative;
}
.breadcrumb_main {
  padding: 170px 0 58px;
  position: relative;
  z-index: 2;
}
.breadcrumb_main > h2 {
  color: #fff;
  line-height: 40px;
  position: relative;
  text-shadow: 0 0 20px black;
  z-index: 150;
}
.breadcrumb_main > .breadcrumb > li > a {
  font-size: 14px;
  line-height: 20px;
}
.breadcrumb_main .special_offer_main {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.breadcrumb_main .special_offer_main .container {
  position: relative;
}
.special_offer_sub > img {
  position: absolute;
  right: 0;
  top: 0;
}


/* ------------------------------------
         end breadcrumb styles
---------------------------------------*/


/* ------------------------------------
  start revolution slider arrow styles
---------------------------------------*/

.tp-rightarrow.round, .tp-leftarrow.round{
  
}
.tp-leftarrow.round{
  background: url(assets/new-left-arrow.jpg) #313a45 no-repeat top left;
  width: 26px;
  height: 31px;
  background-color: black;
  position: absolute;
  bottom: 30px;
  left: calc( 50% - 30px );
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
    .tp-leftarrow.round:hover {
        background: url(assets/new-left-hover-arrow.jpg) #23b0eb no-repeat top left;
    }
.tp-rightarrow.round {
    background: url(assets/new-right-arrow.jpg) #313a45 no-repeat top right;
    width: 26px;
    height: 31px;
    background-color: black;
    position: absolute;
    bottom: 30px;
    right: calc( 50% - 30px );
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
    .tp-rightarrow.round:hover {
        background: url(assets/new-right-hover-arrow.jpg) #23b0eb no-repeat top right;
    }


/* ------------------------------------
  end revolution slider arrow styles
---------------------------------------*/




/* ------------------------------------
         start responsive styles
---------------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {

.uk-overlay-icon::before {
  padding: 5.7% 0;
}



}



@media only screen and (min-width: 768px) and (max-width: 991px) {

body{
  font-size: 12px;
}
h1{
    font-size: 26px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 17px;
}
h5{
    font-size: 15px;
}
h6{
    font-size: 13px;
}
.btn {
  font-size: 13px;
  padding: 7px 14px;
}
.btn.btn-blue {
  font-size: 7px;
  padding: 4px;
}
.btn.btn-primary {
  font-size: 11px;
  padding: 8px 16px;
}
a.btn.btn-black {
  padding: 9px;
  font-size: 11px;
}
.btn.btn-md {
  padding: 8px 16px;
}




}


@media only screen and (max-width: 767px) {



.special_offer_sub > img {
  height: auto;
  position: absolute;
  right: calc(50% - 117px);
  top: 0;
  width: 150px;
}




}



@media only screen and (min-width: 480px) and (max-width: 767px) {


.special_offer_sub > img {
  height: auto;
  position: absolute;
  right: calc(50% - 138px);
  top: 0;
  width: 150px;
}


}