﻿@model Consortium.Areas.Admin.ViewModels.UserLoggedViewModel

<li class="dropdown current-user">
    <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
        <img onerror="this.src='@Model.DefaultPictureUrl';this.onerror=null;"
             src="@Model.PictureUrl" 
             class="circle-img" style="max-width:25px;" alt="">
        <span class="username">@Model.Username</span>
        <i class="clip-chevron-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="@Url.Action("Profile", "Home")">
                <i class="clip-user-2"></i>
                &nbsp;My Profile
            </a>
        </li>
        <li>
            <a href="pages_calendar.html">
                <i class="clip-calendar"></i>
                &nbsp;My Calendar
            </a>
        <li>
            <a href="pages_messages.html">
                <i class="clip-bubble-4"></i>
                &nbsp;My Messages (3)
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="utility_lock_screen.html">
                <i class="clip-locked"></i>
                &nbsp;Lock Screen
            </a>
        </li>
        <li>
            <form name="frmLogout" action="@Url.Action("Logout", "Home", new { Area = String.Empty })">
                <a href="javascript:;" onclick="frmLogout.submit()">
                    <i class="clip-exit"></i>
                    &nbsp;Log Out
                </a>
            </form>
        </li>
    </ul>
</li>