﻿@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@

<!-- ========================  Main header ======================== -->

@section Scripts {
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_UQuWHzqyOqHbp4IeFE7-Fa8m41uMTRg&amp;callback=initMap"></script>
}

@section ScriptsImpl {
    <script>
        function initMap() {
            var contentString =
            '<div class="map-info-window">' +
            '<p><img src="@Url.Content("~/Content/assets/images/logo-dark.png")" alt=""></p>' +
            '<p><strong>Mobel - Furniture factory</strong></p>' +
            '<p><i class="fa fa-map-marker"></i> 200 12th Ave, New York, NY 10001, USA</p>' +
            '<p><i class="fa fa-phone"></i> +12 33 444 555</p>' +
            '<p><i class="fa fa-clock-o"></i> 10am - 6pm</p>' +
            '</div>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            //set default pposition
            var myLatLng = { lat: 40.7459772, lng: -74.0545504 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: myLatLng,
                styles: [{ "featureType": "administrative", "elementType": "all", "stylers": [{ "visibility": "on" }, { "saturation": -100 }, { "lightness": 20 }] }, { "featureType": "road", "elementType": "all", "stylers": [{ "visibility": "on" }, { "saturation": -100 }, { "lightness": 40 }] }, { "featureType": "water", "elementType": "all", "stylers": [{ "visibility": "on" }, { "saturation": -10 }, { "lightness": 30 }] }, { "featureType": "landscape.man_made", "elementType": "all", "stylers": [{ "visibility": "simplified" }, { "saturation": -60 }, { "lightness": 10 }] }, { "featureType": "landscape.natural", "elementType": "all", "stylers": [{ "visibility": "simplified" }, { "saturation": -60 }, { "lightness": 60 }] }, { "featureType": "poi", "elementType": "all", "stylers": [{ "visibility": "off" }, { "saturation": -100 }, { "lightness": 60 }] }, { "featureType": "transit", "elementType": "all", "stylers": [{ "visibility": "off" }, { "saturation": -100 }, { "lightness": 60 }] }]
            });
            //set marker
            var image = '@Url.Content("~/Content/assets/images/map-icon.png")';
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: "Hello World!",
                icon: image
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
</script>
}

<section class="main-header" style="background-image:url(@Url.Content("~/Content/assets/images/gallery-2.jpg"))">
    <header>
        <div class="container text-center">
            <h2 class="h2 title">Contact</h2>
            <ol class="breadcrumb breadcrumb-inverted">
                <li><a href="index.html"><span class="icon icon-home"></span></a></li>
                <li><a class="active" href="contact.html">Contact</a></li>
            </ol>
        </div>
    </header>
</section>

<!-- ========================  Contact ======================== -->

<section class="contact">

    <!-- === Goolge map === -->

    <div id="map"></div>

    <div class="container">

        <div class="row">

            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

                <div class="contact-block">

                    <div class="contact-info">
                        <div class="row">
                            <div class="col-sm-4">
                                <figure class="text-center">
                                    <span class="icon icon-map-marker"></span>
                                    <figcaption>
                                        <strong>Where are we?</strong>
                                        <span>200 12th Ave, New York, <br />NY 10001, USA</span>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-sm-4">
                                <figure class="text-center">
                                    <span class="icon icon-phone"></span>
                                    <figcaption>
                                        <strong>Call us</strong>
                                        <span>
                                            <strong>T</strong> +1 222 333 4444 <br />
                                            <strong>F</strong> +1 222 333 5555
                                        </span>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-sm-4">
                                <figure class="text-center">
                                    <span class="icon icon-clock"></span>
                                    <figcaption>
                                        <strong>Working hours</strong>
                                        <span>
                                            <strong>Mon</strong> - Sat: 10 am - 6 pm <br />
                                            <strong>Sun</strong> 12pm - 2 pm
                                        </span>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="banner">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10 text-center">
                                <h2 class="title">Send an email</h2>
                                <p>
                                    Thanks for your interest in Mobel Theme. We believe in creativity as one of the major forces of progress.
                                    Please use this form if you have any questions about our products and we'll get back with you very soon.
                                </p>

                                <div class="contact-form-wrapper">

                                    <a class="btn btn-clean open-form" data-text-open="Contact us via form" data-text-close="Close form">Contact us via form</a>

                                    <div class="contact-form clearfix">
                                        <form id="sendmail" name="sendmail" action="http://elathemes.com/themes/mobel/sendmail.php" method="post">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input id="Name" name="Name" type="text" value="" class="form-control" placeholder="Your name">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input id="Email" name="Email" type="email" value="" class="form-control" placeholder="Your email">
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input id="Subject" name="Subject" type="text" value="" class="form-control" placeholder="Subject">
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <textarea id="Comment" name="Comment" class="form-control" placeholder="Your message" rows="10"></textarea>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 text-center">
                                                    <input type="submit" class="btn btn-clean" value="Send message" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="contact-info">
                        <div class="row">
                            <div class="col-xs-6 col-sm-4">
                                <figure>
                                    <figcaption>
                                        <strong>Sales</strong>
                                        <span>
                                            <strong>T</strong> +1 125 251 4586 <br />
                                            <strong>F</strong> +1 251 333 5555
                                        </span>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <figure>
                                    <figcaption>
                                        <strong>Services</strong>
                                        <span>
                                            <strong>T</strong> +1 654 333 8541 <br />
                                            <strong>F</strong> +1 125 251 5555
                                        </span>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <figure>
                                    <figcaption>
                                        <strong>Support</strong>
                                        <span>
                                            <strong>T</strong> +1 222 852 9632 <br />
                                            <strong>F</strong> +1 357 333 5555
                                        </span>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <figure>
                                    <figcaption>
                                        <strong>Human resources</strong>
                                        <span>
                                            <strong>T</strong> +1 963 333 8745 <br />
                                            <strong>F</strong> +1 159 333 5555
                                        </span>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <figure>
                                    <figcaption>
                                        <strong>Factory</strong>
                                        <span>
                                            <strong>T</strong> +1 753 333 1259 <br />
                                            <strong>F</strong> +1 247 652 5555
                                        </span>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <figure>
                                    <figcaption>
                                        <strong>Delivery</strong>
                                        <span>
                                            <strong>T</strong> +1 134 197 7532 <br />
                                            <strong>F</strong> +1 291 468 4563
                                        </span>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>


            </div><!--col-sm-8-->
        </div> <!--/row-->
    </div><!--/container-->
</section>