﻿
@{
    ViewBag.Title = "Ideas";
}

<!-- ========================  Main header ======================== -->

<section class="main-header" style="background-image:url(@Url.Content("~/Content/assets/images/gallery-4.jpg"))">
    <header>
        <div class="container">
            <h1 class="h2 title">Blog</h1>
            <ol class="breadcrumb breadcrumb-inverted">
                <li><a href="index.html"><span class="icon icon-home"></span></a></li>
                <li><a href="ideas.html">Blog</a></li>
                <li><a class="active" href="blog-1.html">Interior ideas</a></li>
            </ol>
        </div>
    </header>
</section>

<!-- ========================  Blog ======================== -->

<section class="blog blog-block">

    <div class="container">

        <div class="pre-header">
            <div>
                <h2 class="h3 title">
                    Interior tips & ideas <br />
                    <small class="text-capitalize">First things first, find out what you like</small>
                </h2>
            </div>
        </div>

        <div class="row">

            <!-- === blog-item === -->

            <div class="col-sm-4">
                <article>
                    <a href="@Url.Action("NewsDetails", "Home")">
                        <div class="image">
                            <img src="@Url.Content("~/Content/assets/images/project-1.jpg")" alt="" />
                        </div>
                        <div class="entry entry-block">
                            <div class="date">28 Mart 2017</div>
                            <div class="title">
                                <h2 class="h3">The 3 Tricks that Quickly Became Rules</h2>
                            </div>
                            <div class="description">
                                <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                            </div>
                        </div>
                        <div class="show-more">
                            <span class="btn btn-main btn-block">Read more</span>
                        </div>
                    </a>
                </article>
            </div>


            <!-- === blog-item === -->

            <div class="col-sm-4">
                <article>
                    <a href="@Url.Action("NewsDetails", "Home")">
                        <div class="image">
                            <img src="@Url.Content("~/Content/assets/images/project-2.jpg")" alt="" />
                        </div>
                        <div class="entry entry-block">
                            <div class="date">25 Mart 2017</div>
                            <div class="title">
                                <h2 class="h3">Decorating When You're Starting Out or Starting Over</h2>
                            </div>
                            <div class="description">
                                <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                            </div>
                        </div>
                        <div class="show-more">
                            <span class="btn btn-main btn-block">Read more</span>
                        </div>
                    </a>
                </article>
            </div>


            <!-- === blog-item === -->

            <div class="col-sm-4">
                <article>
                    <a href="@Url.Action("NewsDetails", "Home")">
                        <div class="image">
                            <img src="@Url.Content("~/Content/assets/images/project-3.jpg")" alt="" />
                        </div>
                        <div class="entry entry-block">
                            <div class="date">22 Mart 2017</div>
                            <div class="title">
                                <h2 class="h3">What does your favorite dining chair say about you?</h2>
                            </div>
                            <div class="description">
                                <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                            </div>
                        </div>
                        <div class="show-more">
                            <span class="btn btn-main btn-block">Read more</span>
                        </div>
                    </a>
                </article>
            </div>

            <!-- === blog-item === -->

            <div class="col-sm-4">
                <article>
                    <a href="@Url.Action("NewsDetails", "Home")">
                        <div class="image">
                            <img src="@Url.Content("~/Content/assets/images/project-4.jpg")" alt="" />
                        </div>
                        <div class="entry entry-block">
                            <div class="date">18 Mart 2017</div>
                            <div class="title">
                                <h2 class="h3">What does your favorite dining chair say about you?</h2>
                            </div>
                            <div class="description">
                                <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                            </div>
                        </div>
                        <div class="show-more">
                            <span class="btn btn-main btn-block">Read more</span>
                        </div>
                    </a>
                </article>
            </div>


            <!-- === blog-item === -->

            <div class="col-sm-4">
                <article>
                    <a href="@Url.Action("NewsDetails", "Home")">
                        <div class="image">
                            <img src="@Url.Content("~/Content/assets/images/project-5.jpg")" alt="" />
                        </div>
                        <div class="entry entry-block">
                            <div class="date">12 Mart 2017</div>
                            <div class="title">
                                <h2 class="h3">Have a look at our new projects!</h2>
                            </div>
                            <div class="description">
                                <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                            </div>
                        </div>
                        <div class="show-more">
                            <span class="btn btn-main btn-block">Read more</span>
                        </div>
                    </a>
                </article>
            </div>


            <!-- === blog-item === -->

            <div class="col-sm-4">
                <article>
                    <a href="@Url.Action("NewsDetails", "Home")">
                        <div class="image">
                            <img src="@Url.Content("~/Content/assets/images/project-6.jpg")" alt="" />
                        </div>
                        <div class="entry entry-block">
                            <div class="date">10 Mart 2017</div>
                            <div class="title">
                                <h2 class="h3">Extending Your Living Area</h2>
                            </div>
                            <div class="description">
                                <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                            </div>
                        </div>
                        <div class="show-more">
                            <span class="btn btn-main btn-block">Read more</span>
                        </div>
                    </a>
                </article>
            </div>

        </div> <!--/row-->

    </div><!--/container-->
</section>

<!-- ========================  Banner ======================== -->

<section class="banner" style="background-image:url(@Url.Content("~/Content/assets/images/gallery-4.jpg"))">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h2 class="title">Our story</h2>
                <p>
                    We believe in creativity as one of the major forces of progress. With this idea, we traveled throughout
                    Italy to find exceptional artisans and bring their unique handcrafted objects to connoisseurs
                    everywhere.
                </p>
                <p><a href="#" class="btn btn-clean">Read full story</a></p>
            </div>
        </div>
    </div>
</section>

<!-- ========================  Blog ======================== -->

<section class="blog blog-block">

    <div class="container">

        <div class="pre-header">
            <div>
                <h2 class="h3 title">
                    <a href="#" class="btn btn-sm btn-main text-capitalize pull-right"><span class="icon icon-bookmark"></span> Saved stories</a>
                    Creating the Perfect Gallery Wall  <br />
                    <small class="text-capitalize">Your color palette can come from a variety of inspiration</small>
                </h2>
            </div>
        </div>

        <div class="row">

            <!-- === blog-item === -->

            <div class="col-sm-4">
                <article>
                    <a href="@Url.Action("NewsDetails", "Home")">
                        <div class="image" style="background-image:url(@Url.Content("~/Content/assets/images/blog-3.jpg"))">
                            <img src="@Url.Content("~/Content/assets/images/blog-3.jpg")" alt="" />
                        </div>
                        <div class="entry entry-block">
                            <div class="date">08 Mart 2017</div>
                            <div class="title">
                                <h2 class="h5">Falling into the new Season </h2>
                            </div>
                            <div class="description">
                                <p>You’ve finally reached this point in your life- you’ve bought your first home...</p>
                            </div>
                        </div>
                        <div class="show-more">
                            <span class="btn btn-main btn-block">Read more</span>
                        </div>
                    </a>
                </article>
            </div>

            <!-- === blog-item === -->

            <div class="col-sm-4">
                <article>
                    <a href="@Url.Action("NewsDetails", "Home")">
                        <div class="image" style="background-image:url(@Url.Content("~/Content/assets/images/blog-4.jpg"))">
                            <img src="@Url.Content("~/Content/assets/images/blog-4.jpg")" alt="" />
                        </div>
                        <div class="entry entry-block">
                            <div class="date">03 Mart 2017</div>
                            <div class="title">
                                <h2 class="h5">Creating the Perfect Gallery Wall </h2>
                            </div>
                            <div class="description">
                                <p>You’ve finally reached this point in your life- you’ve bought your first home...</p>
                            </div>
                        </div>
                        <div class="show-more">
                            <span class="btn btn-main btn-block">Read more</span>
                        </div>
                    </a>
                </article>
            </div>

            <!-- === blog-item === -->

            <div class="col-sm-4">
                <article>
                    <a href="@Url.Action("NewsDetails", "Home")">
                        <div class="image" style="background-image:url(@Url.Content("~/Content/assets/images/blog-5.jpg"))">
                            <img src="@Url.Content("~/Content/assets/images/blog-5.jpg")" alt="" />
                        </div>
                        <div class="entry entry-block">
                            <div class="date">01 Mart 2017</div>
                            <div class="title">
                                <h2 class="h5">Making the Most Out of Your Kids Old Bedroom</h2>
                            </div>
                            <div class="description">
                                <p>You’ve finally reached this point in your life- you’ve bought your first home...</p>
                            </div>
                        </div>
                        <div class="show-more">
                            <span class="btn btn-main btn-block">Read more</span>
                        </div>
                    </a>
                </article>
            </div>

            <!-- === blog-item === -->

            <div class="col-sm-4">
                <article>
                    <a href="@Url.Action("NewsDetails", "Home")">
                        <div class="image" style="background-image:url(@Url.Content("~/Content/assets/images/blog-6.jpg"))">
                            <img src="@Url.Content("~/Content/assets/images/blog-6.jpg")" alt="" />
                        </div>
                        <div class="entry entry-block">
                            <div class="date">08 Mart 2017</div>
                            <div class="title">
                                <h2 class="h5">4 Products to Warm Up Your Winter</h2>
                            </div>
                            <div class="description">
                                <p>You’ve finally reached this point in your life- you’ve bought your first home...</p>
                            </div>
                        </div>
                        <div class="show-more">
                            <span class="btn btn-main btn-block">Read more</span>
                        </div>
                    </a>
                </article>
            </div>

            <!-- === blog-item === -->

            <div class="col-sm-4">
                <article>
                    <a href="@Url.Action("NewsDetails", "Home")">
                        <div class="image" style="background-image:url(@Url.Content("~/Content/assets/images/blog-7.jpg"))">
                            <img src="@Url.Content("~/Content/assets/images/blog-7.jpg")" alt="" />
                        </div>
                        <div class="entry entry-block">
                            <div class="date">03 Mart 2017</div>
                            <div class="title">
                                <h2 class="h5">Making the Most Out of Your Kids Old Bedroom</h2>
                            </div>
                            <div class="description">
                                <p>You’ve finally reached this point in your life- you’ve bought your first home...</p>
                            </div>
                        </div>
                        <div class="show-more">
                            <span class="btn btn-main btn-block">Read more</span>
                        </div>
                    </a>
                </article>
            </div>

            <!-- === blog-item === -->

            <div class="col-sm-4">
                <article>
                    <a href="@Url.Action("NewsDetails", "Home")">
                        <div class="image" style="background-image:url(@Url.Content("~/Content/assets/images/blog-8.jpg"))">
                            <img src="@Url.Content("~/Content/assets/images/blog-8.jpg")" alt="" />
                        </div>
                        <div class="entry entry-block">
                            <div class="date">01 Mart 2017</div>
                            <div class="title">
                                <h2 class="h5">What does your favorite dining chair say about you?</h2>
                            </div>
                            <div class="description">
                                <p>You’ve finally reached this point in your life- you’ve bought your first home...</p>
                            </div>
                        </div>
                        <div class="show-more">
                            <span class="btn btn-main btn-block">Read more</span>
                        </div>
                    </a>
                </article>
            </div>

        </div>
    </div>
</section>

