﻿
@{
    ViewBag.Title = "NewsDetails";
}

<!-- ========================  Main header ======================== -->

<section class="main-header main-header-blog" style="background-image:url(@Url.Content("~/Content/assets/images/gallery-1.jpg"))">
    <header>
        <div class="container text-center">
            <h2 class="h2 title">Blog</h2>
            <ol class="breadcrumb breadcrumb-inverted">
                <li><a href="index.html"><span class="icon icon-home"></span></a></li>
                <li><a href="blog-grid.html">Blog Category</a></li>
                <li><a class="active" href="article.html">Decorating When You're...</a></li>
            </ol>
        </div>
    </header>
</section>

<!-- ========================  Blog article ======================== -->

<section class="blog">

    <!-- === blog navigation === -->

    <div class="blog-navigation">
        <!-- === nav previous === -->

        <a class="nav-link prev" href="#">
            <figure>
                <div class="image">
                    <img src="@Url.Content("~/Content/assets/images/blog-2.jpg")" alt="Alternate Text">
                </div>
                <figcaption>
                    <div class="blog-title h6">The 3 Tricks that Quickly Became Rules</div>
                </figcaption>
            </figure>
        </a>

        <!-- === nav next === -->

        <a class="nav-link next" href="#">
            <figure>
                <div class="image">
                    <img src="@Url.Content("~/Content/assets/images/blog-3.jpg")" alt="Alternate Text">
                </div>
                <figcaption>
                    <div class="blog-title h6">What does your favorite dining chair say about you?</div>
                </figcaption>
            </figure>
        </a>
    </div> <!--/blog-navigation-->
    <!-- ========================  Blog post ======================== -->

    <div class="container">

        <div class="row">

            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <div class="blog-post">

                    <!-- === blog main image & entry info === -->

                    <div class="blog-image-main">
                        <img src="@Url.Content("~/Content/assets/images/blog-1.jpg")" alt="" />
                    </div>

                    <div class="blog-post-content">

                        <!-- === blog post title === -->

                        <div class="blog-post-title">
                            <h1 class="blog-title">
                                Decorating When You're Starting Out or Starting Over
                            </h1>
                            <h2 class="blog-subtitle h5">
                                You’ve finally reached this point in your life- you’ve bought your first home, moved into
                                your very own apartment, moved out of the dorm room or you’re finally downsizing after
                                all of your kids have left the nest.
                            </h2>

                            <div class="blog-info blog-info-top">
                                <div class="entry">
                                    <i class="fa fa-user"></i>
                                    <span>John Doe</span>
                                </div>
                                <div class="entry">
                                    <i class="fa fa-calendar"></i>
                                    <span>03.03.2017</span>
                                </div>
                                <div class="entry">
                                    <i class="fa fa-comments"></i>
                                    <span>4 comments</span>
                                </div>
                            </div> <!--/blog-info-->
                        </div>

                        <!-- === blog post text === -->

                        <div class="blog-post-text">

                            <h4>What do you like?</h4>
                            <p>
                                First things first, find out what you like. What makes you, you? More often than not we find
                                that people have been stuck in places where others have called the shots, you didn’t
                                own the apartment/condo/house or your kids really dictated what you did and didn’t furnish
                                your home with... cough, white couch, cough. Now it’s your time to shine. Take a walk,
                                find out what colors speak to you. Pick up a few magazines and see if you really identify
                                with a particular style. Head over to Pinterest and create a board filled with things
                                you’d want in your new space.
                            </p>
                            <p><img src="@Url.Content("~/Content/assets/images/blog-3.jpg")" alt="This is an alternative image description. It will generate auto caption." /></p>
                            <p>
                                If you’re the kind of person who needs to see it all in person then head over to your closest
                                Mor Furniture for Less and check out the way we lay out rooms. We strategically put together
                                rooms for you with full sets of furniture. This way you don’t have to imagine what a
                                finished room will look like.
                            </p>
                            <h4>Sketch out your floor plan</h4>
                            <p>
                                Now that you’re the one calling all of the shots you can layout the room just the way you
                                like it. Take the time to sketch it out, come up with a few ideas and keep the extras
                                in your back pocket so you can give the room a refresh in a few months. If you’re the
                                kind of person who needs to physically see how things layout then put those moving boxes
                                to good use and place them around the room as furniture.
                            </p>
                            <p><img src="@Url.Content("~/Content/assets/images/blog-4.jpg")" alt="This is an alternative image description. It will generate auto caption." /></p>
                            <p>
                                If moving boxes sounds like too much work and your artist skills aren’t exactly up to par
                                there are many different room builders and planners online. All you do is upload an image
                                of the room and start planning!
                            </p>
                            <h4>Choose your color palette</h4>
                            <p>
                                Your color palette can come from a variety of inspiration. There are designers out there
                                who say to take that inspiration from your floor color, others say to use a piece of
                                art, but one of the best ways to create the perfect space for you is to use an item that
                                you truly love. It could be anything from a favorite outfit you wear to a rug. Once your
                                color palette is chosen work backward adding in neutrals to break up the bolder colors.
                                Save the bright colors for the accent pieces, this way if you decide to change things
                                up in a few years you’re not totally locked in.
                            </p>
                        </div>

                        <!-- === blog info === -->

                        <div class="blog-info blog-info-bottom">
                            <ul>
                                <li class="divider"></li>
                                <li>
                                    <i class="fa fa-folder-open"></i>
                                    <span>
                                        <a href="%24.html">Furniture Blog</a>, <a href="%24.html">Decorating ideas</a>, <a href="%24.html">Modern living</a>, <a href="%24.html">Floor plans</a>
                                    </span>
                                </li>
                                <li>
                                    <i class="fa fa-tag"></i>
                                    <span>
                                        <a href="#">Furniture</a>,
                                        <a href="#">Decorating</a>,
                                        <a href="#">Starting</a>,
                                        <a href="#">Apartment</a>,
                                        <a href="#">Sketch</a>,
                                        <a href="#">Floor</a>,
                                        <a href="#">Color</a>,
                                        <a href="#">Interior</a>
                                    </span>
                                </li>
                            </ul>
                        </div> <!--/blog-info-->
                    </div>

                    <!-- === blog comments === -->

                    <div class="comments">

                        <!-- === comment header === -->

                        <div class="comment-header">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>

                        <div class="comment-wrapper">

                            <!-- === comment === -->

                            <div class="comment-block">
                                <div class="comment-user">
                                    <div><img src="@Url.Content("~/Content/assets/images/user-2.jpg")" alt="Alternate Text" width="70" /></div>
                                    <div>
                                        <h5>
                                            John Doe
                                            <a href="#" class="btn btn-sm btn-main pull-right"><i class="fa fa-reply"></i> Reply</a>
                                            <small>03.05.2017</small>
                                        </h5>
                                    </div>
                                </div>

                                <!-- comment description -->

                                <div class="comment-desc">
                                    <p>
                                        In vestibulum tellus ut nunc accumsan eleifend. Donec mattis cursus ligula, id
                                        iaculis dui feugiat nec. Etiam ut ante sed neque lacinia volutpat. Maecenas
                                        ultricies tempus nibh, sit amet facilisis mauris vulputate in. Phasellus
                                        tempor justo et mollis facilisis. Donec placerat at nulla sed suscipit. Praesent
                                        accumsan, sem sit amet euismod ullamcorper, justo sapien cursus nisl, nec
                                        gravida
                                    </p>
                                </div>

                                <!-- comment reply -->

                                <div class="comment-block">
                                    <div class="comment-user">
                                        <div><img src="@Url.Content("~/Content/assets/images/user-2.jpg")" alt="Alternate Text" width="70" /></div>
                                        <div>
                                            <h5>
                                                John Doe
                                                <a href="#" class="btn btn-sm btn-main pull-right"><i class="fa fa-reply"></i> Reply</a>
                                                <small>08.05.2017</small>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="comment-desc">
                                        <p>
                                            Curabitur sit amet elit quis tellus tincidunt efficitur. Cras lobortis id
                                            elit eu vehicula. Sed porttitor nulla vitae nisl varius luctus. Quisque
                                            a enim nisl. Maecenas facilisis, felis sed blandit scelerisque, sapien
                                            nisl egestas diam, nec blandit diam ipsum eget dolor. Maecenas ultricies
                                            tempus nibh, sit amet facilisis mauris vulputate in.
                                        </p>
                                    </div>
                                </div>
                                <!--/reply-->
                            </div>

                            <!-- === comment === -->

                            <div class="comment-block">
                                <div class="comment-user">
                                    <div><img src="@Url.Content("~/Content/assets/images/user-2.jpg")" alt="Alternate Text" width="70" /></div>
                                    <div>
                                        <h5>
                                            John Doe
                                            <a href="#" class="btn btn-sm btn-main pull-right"><i class="fa fa-reply"></i> Reply</a>
                                            <small>21.03.2017</small>
                                        </h5>
                                    </div>
                                </div>
                                <div class="comment-desc">
                                    <p>
                                        Cras lobortis id elit eu vehicula. Sed porttitor nulla vitae nisl varius luctus.
                                        Quisque a enim nisl. Maecenas facilisis, felis sed blandit scelerisque, sapien
                                        nisl egestas diam, nec blandit diam ipsum eget dolor. In vestibulum tellus
                                        ut nunc accumsan eleifend. Donec mattis cursus ligula, id iaculis dui feugiat
                                        nec. Etiam ut ante sed neque lacinia volutpat. Maecenas ultricies tempus
                                        nibh, sit amet facilisis mauris vulputate in. Phasellus tempor justo et mollis
                                        facilisis. Donec placerat at nulla sed suscipit. Praesent accumsan, sem sit
                                        amet euismod ullamcorper, justo sapien cursus nisl, nec gravida
                                    </p>
                                </div>
                            </div>
                        </div><!--/comment-wrapper-->

                        <div class="comment-header">
                            <a href="#" class="btn btn-clean-dark">12 comments</a>
                        </div> <!--/comment-header-->
                        <!-- === add comment === -->

                        <div class="comment-add">

                            <div class="comment-reply-message">
                                <div class="h3 title">Leave a Reply </div>
                                <p>Your email address will not be published.</p>
                            </div>

                            <form action="#" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" value="" placeholder="Your Name" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" value="" placeholder="Your Email" required="required" />
                                </div>
                                <div class="form-group">
                                    <textarea rows="10" class="form-control" placeholder="Your comment" required="required"></textarea>
                                </div>
                                <div class="clearfix text-center">
                                    <input type="submit" class="btn btn-main" value="Add comment" />
                                </div>
                            </form>

                        </div><!--/comment-add-->
                    </div> <!--/comments-->

                </div><!--blog-post-->
            </div><!--col-sm-8-->
        </div> <!--/row-->
    </div><!--/container-->
</section>

