﻿
@{
    ViewBag.Title = "News";
}

<section class="main-header" style="background-image:url(@Url.Content("~/Content/assets/images/gallery-2.jpg"))">
    <header>
        <div class="container">
            <h1 class="h2 title">Blog</h1>
            <ol class="breadcrumb breadcrumb-inverted">
                <li><a href="index.html"><span class="icon icon-home"></span></a></li>
                <li><a href="blog-grid.html">Blog</a></li>
                <li><a class="active" href="blog-1.html">Modern design</a></li>
            </ol>
        </div>
    </header>
</section>

<!-- ========================  Blog ======================== -->

<section class="blog">

    <div class="container">

        <div class="pre-header hidden">
            <div>
                <h2 class="h3 title">
                    Category name
                </h2>
            </div>
            <div>
                <div class="sort-bar pull-right">
                    <div class="sort-results">
                        <!--Items counter-->
                        <span>Showing all <strong>50</strong> of <strong>3,250</strong> items</span>
                        <!--Showing result per page-->
                        <select>
                            <option value="1">10</option>
                            <option value="2">50</option>
                            <option value="3">100</option>
                            <option value="4">All</option>
                        </select>
                        <!--Grid-list view-->
                        <span class="grid-list">
                            <a href="blog-grid.html"><i class="fa fa-th-large"></i></a>
                            <a href="blog-list.html"><i class="fa fa-align-justify"></i></a>
                            <a href="javascript:void(0);" class="toggle-filters-mobile"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- === blog-content === -->

            <div class="col-md-9">

                <div class="row">

                    <!-- === blog-item === -->

                    <div class="col-sm-6">
                        <article>
                            <a href="@Url.Action("NewsDetails", "Home")">
                                <div class="image" style="background-image:url(@Url.Content("~/Content/assets/images/blog-1.jpg"))">
                                    <img src="@Url.Content("~/Content/assets/images/blog-1.jpg")" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>05</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">The 3 Tricks that Quickly Became Rules</h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog-item === -->

                    <div class="col-sm-6">
                        <article>
                            <a href="@Url.Action("NewsDetails", "Home")">
                                <div class="image" style="background-image:url(@Url.Content("~/Content/assets/images/blog-2.jpg"))">
                                    <img src="@Url.Content("~/Content/assets/images/blog-2.jpg")" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>05</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">Decorating When You're Starting Out or Starting Over</h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog-item === -->

                    <div class="col-sm-6">
                        <article>
                            <a href="@Url.Action("NewsDetails", "Home")">
                                <div class="image" style="background-image:url(@Url.Content("~/Content/assets/images/blog-3.jpg"))">
                                    <img src="@Url.Content("~/Content/assets/images/blog-3.jpg")" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>05</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">What does your favorite dining chair say about you?</h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog-item === -->

                    <div class="col-sm-6">
                        <article>
                            <a href="@Url.Action("NewsDetails", "Home")">
                                <div class="image" style="background-image:url(@Url.Content("~/Content/assets/images/blog-4.jpg"))">
                                    <img src="@Url.Content("~/Content/assets/images/blog-4.jpg")" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>05</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">Have a look at our new projects!</h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog-item === -->

                    <div class="col-sm-6">
                        <article>
                            <a href="@Url.Action("NewsDetails", "Home")">
                                <div class="image" style="background-image:url(@Url.Content("~/Content/assets/images/blog-5.jpg"))">
                                    <img src="@Url.Content("~/Content/assets/images/blog-5.jpg")" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>05</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">Extending Your Living Area</h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog-item === -->

                    <div class="col-sm-6">
                        <article>
                            <a href="@Url.Action("NewsDetails", "Home")">
                                <div class="image" style="background-image:url(@Url.Content("~/Content/assets/images/blog-6.jpg"))">
                                    <img src="@Url.Content("~/Content/assets/images/blog-6.jpg")" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>05</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">Falling into the new Season </h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog-item === -->

                    <div class="col-sm-6">
                        <article>
                            <a href="@Url.Action("NewsDetails", "Home")">
                                <div class="image" style="background-image:url(@Url.Content("~/Content/assets/images/blog-7.jpg"))">
                                    <img src="@Url.Content("~/Content/assets/images/blog-7.jpg")" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>05</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">Creating the Perfect Gallery Wall </h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog-item === -->

                    <div class="col-sm-6">
                        <article>
                            <a href="@Url.Action("NewsDetails", "Home")">
                                <div class="image" style="background-image:url(@Url.Content("~/Content/assets/images/blog-8.jpg"))">
                                    <img src="@Url.Content("~/Content/assets/images/blog-8.jpg")" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>05</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">Making the Most Out of Your Kids Old Bedroom</h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                </div>

                <!-- === pagination === -->

                <div class="pagination-wrapper">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div> <!--/pagination-->

            </div>

            <!-- === blog-menu === -->

            <div class="col-md-3">

                <aside>

                    <!-- === box-search === -->

                    <div class="box box-search">
                        <input type="text" value="" class="form-control" placeholder="Search the blog" />
                        <button class="btn btn-main btn-sm">Go!</button>
                    </div>

                    <!-- === box-categories === -->

                    <div class="box box-categories">
                        <h5 class="title">Blog categories</h5>
                        <ul>
                            <li><a href="#">Interior ideas</a></li>
                            <li class="active"><a href="#">Modern design</a></li>
                            <li><a href="#">Best of 2017</a></li>
                            <li><a href="#">Home styler</a></li>
                            <li><a href="#">Tips for you</a></li>
                        </ul>
                    </div>

                    <!-- === box-posts === -->

                    <div class="box box-posts">
                        <h5 class="title">Popular posts</h5>
                        <ul>
                            <li>
                                <a href="article.html">
                                    <span class="date">
                                        <span>Jun</span>
                                        <span>22</span>
                                    </span>
                                    <span class="text">The 3 Tricks that Quickly Became Rules</span>
                                </a>
                            </li>
                            <li>
                                <a href="article.html">
                                    <span class="date">
                                        <span>Jun</span>
                                        <span>19</span>
                                    </span>
                                    <span class="text">Decorating When You're Starting Out or Starting Over</span>
                                </a>
                            </li>
                            <li>
                                <a href="article.html">
                                    <span class="date">
                                        <span>Jun</span>
                                        <span>18</span>
                                    </span>
                                    <span class="text">What does your favorite dining chair say about you?</span>
                                </a>
                            </li>
                            <li>
                                <a href="article.html">
                                    <span class="date">
                                        <span>Jun</span>
                                        <span>10</span>
                                    </span>
                                    <span class="text">Creating the Perfect Gallery Wall</span>
                                </a>
                            </li>
                            <li>
                                <a href="article.html">
                                    <span class="date">
                                        <span>Jun</span>
                                        <span>31</span>
                                    </span>
                                    <span class="text">Making the Most Out of Your Kids Old Bedroom</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- === box-tags === -->

                    <div class="box box-tags">
                        <h5 class="title">Popular posts</h5>
                        <ul class="clearfix">
                            <li><a href="#">design</a></li>
                            <li><a href="#">furniture</a></li>
                            <li><a href="#">interior</a></li>
                            <li><a href="#">mobile</a></li>
                            <li><a href="#">home</a></li>
                            <li><a href="#">places</a></li>
                            <li><a href="#">dining</a></li>
                            <li><a href="#">black</a></li>
                            <li><a href="#">yellow</a></li>
                            <li><a href="#">mdoern</a></li>
                            <li><a href="#">superior</a></li>
                            <li><a href="#">decor</a></li>
                            <li><a href="#">sofa</a></li>

                        </ul>
                    </div>

                </aside>
            </div>


        </div> <!--/row-->


    </div><!--/container-->
</section>

